<template>
    <div>
        <component
            v-for="(item, index) in value"
            :key="index"
            :is="`content-section-${item.key}`"
            :value="item.value"
        />
    </div>
</template>

<script>
import Header from './sections/Header';
import Text from './sections/Text';
import Image from './sections/Image';
import Video from './sections/Video';

export default {
    props: {
        value: {
            type: Array,
            required: true,
            default: () => []
        }
    },

    components: {
        'content-section-header': Header,
        'content-section-text': Text,
        'content-section-image': Image,
        'content-section-video': Video
    }
};
</script>
