<template>
    <div>
        <div class="align-to-left">
            <nuxt-link
                class="btn btn_blue_empty btn_new_card"
                to="/payment/add"
            >
                {{ $t('links.addANewCard') }}
            </nuxt-link>
        </div>
        <div class="card_wrapper">
            <div
                v-for="(card, index) in creditCards"
                :key="card.id"
                class="card_item"
            >
                <div class="card_info">
                    <div class="card_img">
                        <img
                            v-full-image-path:assets="`cards_${card.brand}.svg`"
                        />
                    </div>
                    <div class="card_number">
                        **** **** **** {{ card.last_4_digits }}
                    </div>
                    <div class="card_exp">EXP: {{ card.exp }}</div>
                </div>
                <div class="card_control">
                    <div class="card_priority">
                        <a
                            class="btn_priority"
                            :class="{ active: card.default }"
                            href="#"
                            @click.prevent="markAsDefault(card)"
                        >
                            {{
                                card.default
                                    ? $t('global.favorite')
                                    : $t('global.setAsPrefered')
                            }}
                        </a>
                    </div>
                    <a
                        class="btn_remove"
                        @click.prevent="removeCreditCard(card.id, index)"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            creditCards: 'credit_cards/getCreditCards'
        })
    },

    async fetch() {
        try {
            await this.fetchCreditCards();
        } catch (err) {
            console.error(err);
        }
    },

    methods: {
        ...mapActions({
            fetchCreditCards: 'credit_cards/fetchCreditCards',
            setDefaultCreditCard: 'credit_cards/setDefaultCreditCard',
            deleteCreditCard: 'credit_cards/deleteCreditCard'
        }),

        async markAsDefault(card) {
            if (card.default) {
                return;
            }

            try {
                await this.setDefaultCreditCard(card.id);
            } catch (err) {
                console.error(err);
            }
        },

        async removeCreditCard(id, index) {
            try {
                await this.deleteCreditCard({ id, index });
            } catch (err) {
                console.error(err);
            }
        }
    }
};
</script>
