<template>
    <div class="iframe_wrapper">
        <iframe
            id="payment-iframe"
            :src="url"
            frameborder="0"
            height="500px"
            width="500px"
        />
    </div>
</template>

<script>
export default {
    props: {
        url: {
            type: String,
            required: true,
            default: ''
        }
    }
};
</script>

<style lang="scss">
.iframe_wrapper {
    overflow: hidden;
    padding: 15px 0 0;
    margin: 0 auto;

    iframe {
        width: 100%;
    }
}
</style>
