.b_modal {
  margin: 0 auto;
  max-width: calc(100% - 30px);
  padding: 40px 30px;
  position: relative;
  background: #FFFFFF;
  color: #414040;
  box-shadow: none;
  border-radius: 14px;
  text-align: right;

  &.xs_modal {
    max-width: 480px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 40px 15px;
  }

  .mfp-close {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    transition: all .2s linear;
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    color: #fff;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.229221 0.229221C0.534848 -0.0764069 1.03037 -0.0764069 1.336 0.229221L6 4.89322L10.664 0.229221C10.9696 -0.0764069 11.4652 -0.0764069 11.7708 0.229221C12.0764 0.534848 12.0764 1.03037 11.7708 1.336L7.10678 6L11.7708 10.664C12.0764 10.9696 12.0764 11.4652 11.7708 11.7708C11.4652 12.0764 10.9696 12.0764 10.664 11.7708L6 7.10678L1.336 11.7708C1.03037 12.0764 0.534848 12.0764 0.229221 11.7708C-0.0764069 11.4652 -0.0764069 10.9696 0.229221 10.664L4.89322 6L0.229221 1.336C-0.0764069 1.03037 -0.0764069 0.534848 0.229221 0.229221Z' fill='%23FAFAFA'/%3E%3C/svg%3E");
    background-color: #696969;
    top: -15px;
    right: 15px;
    opacity: 1;

    &:hover {
      background-color: #4A4A4A;
    }
  }

  .modal_title {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 35px;
  }
}


#deleteCompanyInfo {
  max-width: 480px;
  text-align: center;
  border-radius: 24px;

  .btn {
    font-weight: 400;
    min-width: 100px;
    padding: 10px 10px;
    margin: 0 12px;
  }

  .icon_delete {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 50C96 75.4051 75.4051 96 50 96C24.5949 96 4 75.4051 4 50C4 24.5949 24.5949 4 50 4C75.4051 4 96 24.5949 96 50Z' fill='white' stroke='%233D5AFE' stroke-width='8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M55.8307 31L58.1641 33.3333H66.3307V38H33.6641V33.3333H41.8307L44.1641 31H55.8307ZM35.9974 68.3333C35.9974 70.9 38.0974 73 40.6641 73H59.3307C61.8974 73 63.9974 70.9 63.9974 68.3333V40.3333H35.9974V68.3333ZM41.7374 51.72L45.0274 48.43L49.9974 53.3767L54.9441 48.43L58.2341 51.72L53.2874 56.6667L58.2341 61.6133L54.9441 64.9033L49.9974 59.9567L45.0507 64.9033L41.7607 61.6133L46.7074 56.6667L41.7374 51.72Z' fill='%233D5AFE'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 100%;
    margin: -90px auto 15px;
  }
}

#joinFamily {
  text-align: center;
  border-radius: 24px;
  padding: 0;

  .modal_content{
    padding: 20px 15px 45px;
  }

  .modal_title {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    color: #414040;
  }

  .modal_sub_title{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto 20px;
  }

  .btn{
    padding: 10px 10px;
    font-weight: 400;
  }
}


#applyERA{
  text-align: center;
  padding: 40px 30px 20px;

  .icon_done {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='31' viewBox='0 0 38 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.883 2.21948C34.032 0.32788 31.0322 0.32788 29.1812 2.21948L12.4248 19.302L8.23658 15.0313C6.38559 13.1513 3.38455 13.1513 1.53473 15.0313C-0.316263 16.9229 -0.316263 19.9866 1.53473 21.8666L9.07445 29.5607C10.9254 31.4523 13.9253 31.4523 15.7763 29.5607L35.883 9.05479C37.734 7.16319 37.734 4.09948 35.883 2.21948Z' fill='%236DD400'/%3E%3C/svg%3E");
    border: 8px solid #3D5AFE;
    margin: -90px auto 15px;
  }

  .content_wrapper{
    max-width: 410px;
    margin: 0 auto 15px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
  }  

  .modal_title{
    margin: 0 0 15px;
  }

  .btn{
    margin: 0;
    font-weight: 400;
  }
}