<template>
    <div class="b_where_start">
        <div class="container">
            <div class="section_title">{{ aboutProcessContent.headline }}</div>
            <div class="sub_title">{{ aboutProcessContent.subheadline }}</div>
            <div class="steps_wrapper">
                <div
                    v-for="(item, i) in aboutProcessContent.items"
                    :key="i"
                    class="step_item animated"
                    :style="{ animationDelay: `0.${i + i}s` }"
                >
                    <div class="step_image_wrapper">
                        <div class="step_image_inner">
                            <picture v-full-image-path="item.image" />
                        </div>
                    </div>
                    <div class="step_title">{{ item.headline }}</div>
                    <div class="step_content">{{ item.text }}</div>
                </div>
            </div>
            <div
                v-if="!isCompanyUser"
                class="btn_wrapper animated"
                :style="{ animationDelay }"
            >
                <nuxt-link class="btn btn_blue" to="/jobs">
                    {{ aboutProcessContent.button.text }}
                </nuxt-link>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            startAnimationsTimeoutInMs: 1500,
            animationDelay: '0.8s'
        };
    },
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            isCompanyUser: 'isCompanyUser'
        }),

        aboutProcessContent() {
            const { aboutProcess } = this.getContent('home-page');

            return aboutProcess;
        }
    },
    mounted() {
        const $ = window.jQuery;

        setTimeout(function() {
            $('.animated').each(function() {
                $(this).addClass('fadeInUpBig');
            });
        }, this.startAnimationsTimeoutInMs);
    }
};
</script>
