<template>
    <div class="b_reviews">
        <div class="container">
            <div class="reviews_wrapper">
                <div class="section_title">
                    {{ customerReviewsContent.headline }}
                </div>
            </div>
        </div>
        <div class="reviews_slider jsReviewsSlider">
            <div
                v-for="(review, i) in customerReviewsContent.reviews"
                :key="i"
                class="review_slide"
            >
                <div class="review_item">
                    <div class="persone_image">
                        <div
                            class="image_wrapper"
                            v-full-background-image-path:media="review.image"
                        />
                    </div>
                    <div class="persone_name">{{ review.name }}</div>
                    <div class="persone_place">{{ review.location }}</div>
                    <div class="persone_review">
                        {{ review.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        customerReviewsContent() {
            const { customerReviews } = this.getContent('home-page');

            return customerReviews;
        }
    },
    mounted() {
        const $ = window.jQuery;

        if ($('.jsReviewsSlider').hasClass('slick-initialized')) {
            $('.jsReviewsSlider').slick('unslick');
        }

        $('.jsReviewsSlider').slick({
            rtl: true,
            arrows: false,
            touchThreshold: 15,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 500,
            responsive: [
                {
                    breakpoint: 1700,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 670,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    }
};
</script>
