<template>
    <div class="b_hot_jobs">
        <div class="plane_decorations">
            <img
                class="icon_plane_left"
                v-full-image-path:assets="'icon_plane_left.svg'"
            />
            <img
                class="icon_plane_right"
                v-full-image-path:assets="'icon_plane_right.svg'"
            />
        </div>
        <div class="container">
            <div class="section_title">{{ hotJobsContent.headline }}</div>
        </div>
        <div class="tabs_wrapper jsTabs">
            <div class="tab_links_wrapper">
                <div class="links_wrapper">
                    <div
                        v-for="(type, i) in jobTypes"
                        :key="`jobTypesTabs${i}`"
                        class="tab_link jsTabsTab"
                        :class="{ '-active': !i }"
                    >
                        {{ type.name }}
                    </div>
                    <div class="indicator_wrap">
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
            <div class="tab_content_wrapper">
                <div
                    v-for="(type, i) in jobTypes"
                    :key="`jobTypes${i}`"
                    class="tab_content jsTabsItem"
                    :class="{ '-active': !i, '-fade': !i }"
                >
                    <div
                        v-if="type.companies.length"
                        class="slider_wrapper jsSliderHotJobs"
                    >
                        <div
                            v-for="(job, i) in type.companies"
                            :key="`jobs${i}`"
                            class="slide_item"
                        >
                            <nuxt-link
                                class="item_wrapper"
                                :to="`/company/${job.id}`"
                                data-fancybox="video_service"
                                v-full-background-image-path:media="
                                    job.promoteImage
                                "
                            >
                                <div class="item_title">
                                    {{ job.country.name }}, {{ job.city.name }}
                                </div>
                            </nuxt-link>
                        </div>
                    </div>
                    <div v-else class="no_slide">
                        <div class="img_wrapper">
                            <img v-full-image-path:assets="'no_hot_jobs.png'" />
                        </div>
                        <div class="no_slide_title">
                            {{ hotJobsContent.noJobsText }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    props: {
        jobTypes: {
            type: Array,
            default: () => []
        }
    },

    data() {
        return {
            defaultStartCategoryOnSlider: {
                value: 'מכירות‌',
                text: 'sales'
            }
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        hotJobsContent() {
            const { hotJobs } = this.getContent('home-page');

            return hotJobs;
        }
    },

    mounted() {
        this.tabs();
        this.slider();
    },
    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        slider() {
            const $ = window.jQuery;

            if ($('.jsSliderHotJobs').hasClass('slick-initialized')) {
                $('.jsSliderHotJobs').slick('unslick');
            }

            $('.jsSliderHotJobs').slick({
                rtl: true,
                touchThreshold: 15,
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 4000,
                speed: 500,
                responsive: [
                    {
                        breakpoint: 1440,
                        settings: {
                            slidesToShow: 5
                        }
                    },
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 670,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 500,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(
                `div:contains('${this.defaultStartCategoryOnSlider.value}')`
            ).click();
        },
        tabs() {
            const $ = window.jQuery;

            const tabs = $('.jsTabs');

            tabs.each(function() {
                const that = $(this),
                    tab = that.find('.jsTabsTab'),
                    content = that.find('.jsTabsItem');

                const indicator = that.find('.indicator');

                tab.each(function(index, element) {
                    $(this).attr('data-tab', index);
                });

                function showContent(i) {
                    tab.removeClass('-active');
                    content.removeClass('-active').removeClass('-fade');
                    tab.eq(i).addClass('-active');
                    content.eq(i).addClass('-active');
                    setTimeout(function() {
                        content.eq(i).addClass('-fade');
                    }, 1);
                }

                tab.on('click', function(e) {
                    const width = $(this).innerWidth();
                    const pos = $(this).position().left;

                    indicator.width(width).css('left', pos);
                    e.preventDefault();
                    showContent(parseInt($(this).attr('data-tab')));
                });

                $(window).on('load', function() {
                    const width = that.find('.jsTabsTab.-active').innerWidth();
                    const pos = that.find('.jsTabsTab.-active').position().left;
                    indicator.width(width).css('left', pos);
                });
            });
        }
    }
};
</script>
