<template>
    <div class="b_main_banner">
        <div
            class="banner_image"
            v-full-background-image-path:media="mainBannerContent.image"
        />

        <div class="container">
            <div class="banner_wrapper">
                <div class="banner_content">
                    <div class="banner_title">
                        {{ mainBannerContent.headline }}
                    </div>
                    <div class="banner_text">
                        {{ mainBannerContent.subheadline }}
                    </div>
                    <div class="btn_wrapper">
                        <nuxt-link
                            v-if="!isCompanyUser"
                            to="/jobs"
                            class="btn btn_blue"
                        >
                            {{ mainBannerContent.button.text }}
                        </nuxt-link>
                    </div>
                    <div class="info_wrapper">
                        <a
                            class="btn_video"
                            :href="mainBannerContent.videoButton.link"
                            data-fancybox
                        >
                            {{ mainBannerContent.videoButton.text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            isCompanyUser: 'isCompanyUser'
        }),

        mainBannerContent() {
            const { mainBanner } = this.getContent('home-page');

            return mainBanner;
        }
    }
};
</script>
