<template>
    <div class="b_who_we">
        <img
            class="content_decor animateCssClouds"
            v-full-image-path:assets="'clouds.png'"
        />
        <div class="container">
            <div class="container_inner">
                <div class="content_right">
                    <div class="section_title">
                        {{ whoWeAreContent.headline }}
                    </div>
                    <div
                        class="content_wrapper"
                        v-html="whoWeAreContent.text"
                    />
                </div>
                <div class="content_left">
                    <div class="video_wrapper">
                        <img
                            class="clouds_decor animateCssClouds"
                            v-full-image-path:assets="'clouds.png'"
                        />
                        <img
                            class="plane_decor"
                            v-full-image-path:assets="'plane.png'"
                        />
                        <a
                            class="video_link"
                            :href="whoWeAreContent.video.source"
                            data-fancybox
                        >
                            <div class="video_image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        whoWeAreContent() {
            const { whoWeAre } = this.getContent('home-page');

            return whoWeAre;
        }
    },
    mounted() {
        const $ = window.jQuery;

        $.fn.isInViewport = function() {
            const elementTop = $(this).offset().top;
            const elementBottom = elementTop + $(this).outerHeight();
            const viewportTop = $(window).scrollTop();
            const viewportBottom = viewportTop + $(window).height();

            return (
                elementBottom > viewportTop &&
                elementTop < viewportBottom - $(this).height()
            );
        };

        $(window).on('load resize scroll', function() {
            $('.b_who_we').each(function() {
                const $this = $(this);

                if ($this.isInViewport()) {
                    $this.find('.video_wrapper').addClass('animated_plane');
                }
            });
        });
    }
};
</script>
