<template>
    <svg width="13" height="28" viewBox="0 0 13 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.21788 2.75587C9.21788 4.27558 7.99874 5.5113 6.49898 5.5113C5.00099 5.5113 3.78008 4.27558 3.78008 2.75587C3.78008 1.23572 4.99922 0 6.49898 0C7.99874 0 9.21788 1.23572 9.21788 2.75587Z"
            fill="#6D7278"
        ></path>
        <path
            d="M10.9257 6.83329L12.9845 14.1002C13.0053 14.1703 13.0035 14.2404 12.9845 14.3056C12.9947 14.3703 13 14.4354 13 14.5001C13 15.269 12.382 15.8976 11.6217 15.8976C10.9567 15.8976 10.3871 15.4146 10.2674 14.7531L9.38603 11.4338L10.8543 18.6566C10.9204 18.822 10.9514 18.9954 10.9514 19.1729C10.9514 19.9436 10.3334 20.57 9.57311 20.57H9.42238V26.603C9.42238 27.3718 8.80395 28 8.04409 28C7.28379 28 6.66536 27.3736 6.66536 26.603V20.57H6.33641V26.603C6.33641 27.3718 5.71665 28 4.95635 28C4.19605 28 3.57762 27.3736 3.57762 26.603V20.57H3.42866C2.66703 20.57 2.04859 19.9436 2.04859 19.1729C2.04859 18.9954 2.0814 18.8233 2.14568 18.6584L3.61574 11.4356L2.72732 14.781C2.61339 15.4146 2.04328 15.8976 1.38006 15.8976C0.618435 15.8976 0 15.2708 0 14.5001C0 14.4354 0.00531987 14.3721 0.0155163 14.3056C-0.00354658 14.2404 -0.00531987 14.1703 0.013743 14.1002L2.07298 6.83329C2.19046 6.16466 2.75702 5.67981 3.42689 5.67981H9.57311C10.243 5.67981 10.8095 6.16466 10.9257 6.83329Z"
            fill="#6D7278"
        ></path>
    </svg>
</template>
