<template>
    <svg width="13" height="28" viewBox="0 0 13 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.21909 2.75587C9.21909 4.27558 7.99998 5.5113 6.50069 5.5113C5.00096 5.5113 3.78185 4.27558 3.78185 2.75587C3.78185 1.23572 5.00096 0 6.50069 0C7.99998 0 9.21909 1.23572 9.21909 2.75587Z"
            fill="#6D7278"
        ></path>
        <path
            d="M12.9926 14.1335C13.005 14.1932 13.0015 14.2512 12.9842 14.3056C12.9944 14.3703 12.9997 14.4354 12.9997 14.5001C12.9997 15.269 12.3813 15.8976 11.621 15.8976C10.956 15.8976 10.3864 15.4146 10.2671 14.7531L9.41154 9.33258L9.42174 26.6012C9.42174 27.3718 8.80376 28 8.04347 28C7.28319 28 6.66521 27.3736 6.66521 26.603V18.0531H6.33628V26.603C6.33628 27.3718 5.71785 28 4.9558 28C4.19552 28 3.57754 27.3736 3.57754 26.603L3.58951 9.33258L2.73436 14.7441C2.61289 15.4146 2.045 15.8976 1.38003 15.8976C0.619752 15.8976 0 15.2708 0 14.5001C0 14.4354 0.00487645 14.3703 0.015516 14.3056C0 14.2512 -0.00354651 14.1932 0.0066497 14.1335L1.36274 6.84542C1.46825 6.17498 2.03968 5.6798 2.7184 5.6798H10.2826C10.9596 5.6798 11.531 6.17498 11.6401 6.8562L12.9926 14.1335Z"
            fill="#6D7278"
        ></path>
    </svg>
</template>
