<template>
    <main class="main_wrapper">
        <div class="b_simple_page section">
            <div class="container">
                <div class="content_wrapper">
                    <content-builder :value="page.content" />
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import headMixin from '@/mixins/head.mixin.js';
import ContentBuilder from '@/components/elements/content-builder/ContentBuilder';

export default {
    components: {
        ContentBuilder
    },

    mixins: [headMixin],

    async asyncData({ params, store, error }) {
        try {
            const { slug } = params;

            const page = await store.dispatch('pages/getBySlug', slug);

            return { meta: page.meta, page };
        } catch (err) {
            console.error(err);

            if (err.response.status === 404) {
                return error({ statusCode: 404 });
            }
        }

        return {};
    }
};
</script>
