<template>
    <div>
        <main-banner />
        <about-process />
        <hot-jobs :job-types="jobTypes" />
        <who-we-are />
        <customer-reviews />
        <nuxt-link
            v-if="!isCompanyUser"
            class="btn btn_blue btn_fixed_mobile active"
            to="/jobs"
            >{{ $t('links.letsFly') }}</nuxt-link
        >
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MainBanner from '@/components/home-page/MainBanner.vue';
import AboutProcess from '@/components/home-page/AboutProcess.vue';
import HotJobs from '@/components/home-page/HotJobs.vue';
import WhoWeAre from '@/components/home-page/WhoWeAre.vue';
import CustomerReviews from '@/components/home-page/CustomerReviews';
import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    async asyncData({ store, error, query }) {
        try {
            const jobTypes = await store.dispatch('jobtypes/homepage');

            return { jobTypes };
        } catch (err) {
            console.error(err);

            return error(err);
        }

        return {};
    },

    components: {
        MainBanner,
        AboutProcess,
        HotJobs,
        WhoWeAre,
        CustomerReviews
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            isCompanyUser: 'isCompanyUser'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('home-page');
        }
    },

    async mounted() {
        const $ = window.jQuery;

        const $btnFixedMobile = $('.btn_fixed_mobile');
        const $window = $(window);

        if ($btnFixedMobile.length) {
            $window.scroll(function() {
                const $windowHeight = $window.height();

                if (
                    $(this).scrollTop() >= 150 &&
                    $window.scrollTop() + $window.height() <
                        $(document).height() - 150
                ) {
                    $btnFixedMobile.addClass('active');
                } else {
                    $btnFixedMobile.removeClass('active');
                }
            });
        }

        this.isReady = true;
    }
};
</script>

<style scoped>
.container {
    margin: 0 auto;
}

.title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.links {
    padding-top: 15px;
}
</style>
