<template>
    <div id="Authentication" class="form_section">
        <div class="section_head jsSingUpHeadAuth">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="
                            'icon_authentication_confirmation.svg'
                        "
                    />
                </div>
                <div class="head_title">{{ $t('authentication.title') }}</div>
            </div>
        </div>
        <div class="section_content jsSingUpContentAuth">
            <div class="authentication_confirmation">
                <div class="label">{{ content.headline }}</div>
                <div class="input_wrapper">
                    <input
                        v-model="pin"
                        class="form_control"
                        :class="{
                            'is-invalid': $v.pin.$error
                        }"
                        :style="{ 'text-align': pin ? 'center' : 'right' }"
                        type="text"
                        :placeholder="
                            $t('authentication.placeholder.verificationNumber')
                        "
                    />
                    <transition name="fade" appear>
                        <div class="invalid-feedback">
                            <span>
                                {{
                                    error ? `${$t('register.notVerified')}` : ''
                                }}
                            </span>
                        </div>
                    </transition>
                </div>
                <div class="code_again">
                    <div class="code_text">
                        {{ content.sendAgainText }}
                        <a @click.prevent="goBack" href="#">
                            {{ content.sendAgainLink }}
                        </a>
                    </div>
                </div>
                <div class="btn_wrapper">
                    <a
                        class="btn btn_blue_empty jsOpenPassportDetails"
                        href="#"
                        @click.prevent="authenticate"
                    >
                        {{ $t('register.continueButton') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import {
    required,
    minLength,
    maxLength,
    numeric
} from 'vuelidate/lib/validators';

export default {
    validations: {
        pin: {
            required,
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
        }
    },

    data: () => ({
        pin: null,
        error: null
    }),

    computed: {
        ...mapGetters({
            getUserData: 'register/getData',
            getContent: 'content/getContentByKey'
        }),

        content() {
            return this.getContent('signup-page').authentication;
        }
    },

    methods: {
        ...mapActions({
            setPin: 'register/setPin',
            setData: 'register/setData'
        }),

        async authenticate() {
            try {
                this.$v.$touch();

                if (this.$v.$invalid) {
                    return;
                }

                this.error = null;
                this.setPin(this.pin);

                await this.$auth.loginWith('local', {
                    data: {
                        phone: this.getUserData.phone,
                        pin: this.pin
                    }
                });

                await this.setData({
                    id: null
                });

                const $ = window.jQuery;
                $('#Authentication .section_head').removeClass('open');
                $('#Authentication .section_content').slideUp(300);

                $('#PassportDetails .section_head').addClass('open');
                $('#PassportDetails .section_content').show(0);
                $('#PassportDetails').slideDown(300);

                $('#MoreDetails').slideDown(300);

                $('.resume_button').slideDown(300);
            } catch (err) {
                console.error(err);

                if (err.response.status === 401) {
                    this.error = err.response.data;
                }
            }
        },
        goBack() {
            const $ = window.jQuery;

            $('#Authentication .section_head').removeClass('open');
            $('#Authentication .section_content').slideUp(300);
            $('#personalInformation .section_head').addClass('open');
            $('#personalInformation .section_content').slideDown(300);
        }
    }
};
</script>
