<template>
    <div>
        <div class="form_row">
            <input
                v-model="review.company"
                class="form_control"
                :class="{
                    'is-invalid': validationErrors.company.$error
                }"
                type="text"
                :placeholder="
                    $t('register.goldUser.nameOfCompanyWhereEmployed')
                "
            />
        </div>
        <div class="form_row">
            <div class="column_wrapper">
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="review.start_date"
                            display-format="MMM/YYYY"
                            :placeholder="
                                $t('register.goldUser.dateOfTransaction')
                            "
                            :has-errors="validationErrors.start_date.$error"
                            :class="{
                                'is-invalid': validationErrors.start_date.$error
                            }"
                        />
                    </div>
                </div>
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="review.end_date"
                            display-format="MMM/YYYY"
                            :placeholder="
                                $t('register.goldUser.endOfTransaction')
                            "
                            :has-errors="validationErrors.end_date.$error"
                            :class="{
                                'is-invalid': validationErrors.end_date.$error
                            }"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper">
                <div class="column">
                    <div class="select-wrapper">
                        <!-- add red border when errors -->
                        <selectric
                            v-model="review.country"
                            :items="countries"
                            text-field="name"
                            value-field="id"
                            :placeholder="$t('global.country') + '*'"
                            :has-errors="validationErrors.country.$error"
                        />
                    </div>
                </div>

                <div class="column">
                    <div class="select-wrapper">
                        <!-- add red border when errors -->
                        <selectric
                            v-model="review.city"
                            :items="cities"
                            text-field="name"
                            value-field="id"
                            :placeholder="$t('global.city') + '*'"
                            :has-errors="validationErrors.city.$error"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper">
                <div class="column">
                    <label for="phone">
                        <masked-input
                            :dir="review.phone ? 'ltr' : 'rtl'"
                            :mask="phoneMask"
                            :guide="true"
                            v-model="review.phone"
                            id="phone"
                            class="form_control"
                            type="tel"
                            :placeholder="
                                $t('register.goldUser.employersMobile')
                            "
                            :class="{
                                'is-invalid': validationErrors.phone.$error
                            }"
                            @blur="$v.review.phone.$touch()"
                        />
                        <small
                            v-if="validationErrors.phone.$error"
                            :class="{
                                error: validationErrors.phone.$error
                            }"
                        >
                            {{ $t('errors.invalidNumber') }}
                        </small>
                    </label>
                </div>
                <div class="column">
                    <input
                        v-model="review.phone_2"
                        class="form_control"
                        :class="{
                            'is-invalid': validationErrors.phone_2.$error
                        }"
                        type="tel"
                        :placeholder="
                            $t('register.goldUser.anotherEmployersMobile')
                        "
                    />
                    <small
                        v-if="validationErrors.phone_2.$error"
                        :class="{
                            error: validationErrors.phone_2.$error
                        }"
                    >
                        {{ $t('errors.invalidNumber') }}
                    </small>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper">
                <div class="column">
                    <div class="label_title">
                        {{ $t('labels.rateTheWorkplace') }}
                    </div>
                    <div class="rating_wrapper">
                        <div class="rating jsStarsRating">
                            <rating
                                v-model="review.rating"
                                :has-errors="validationErrors.rating.$error"
                            />
                        </div>
                        <div class="rating_title">
                            <span>{{ $t('register.goldUser.less') }}</span>
                            <span>{{ $t('register.goldUser.perfect') }}</span>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="recommenders">
                        <div class="label_title">
                            {{ $t('register.goldUser.joinToRecomenders') }}
                        </div>
                        <div class="info_wrapper">
                            <div class="info">
                                {{
                                    $t(
                                        'register.goldUser.yourAnswerWillAppearOnTheBussinessPage'
                                    )
                                }}
                            </div>
                        </div>
                        <div class="recommenders_wrapper">
                            <div class="radio_wrapper">
                                <label class="radio">
                                    <input
                                        v-model="review.is_recommended"
                                        :value="true"
                                        type="radio"
                                        name="recommenders"
                                    /><span>{{ $t('global.yes') }}</span>
                                </label>
                                <label class="radio">
                                    <input
                                        v-model="review.is_recommended"
                                        :value="false"
                                        type="radio"
                                        name="recommenders"
                                    /><span>{{ $t('global.no') }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="label_title">
                {{ $t('register.goldUser.fewWordsAboutCompany') }}
            </div>
            <textarea
                v-model="review.content"
                class="form_control"
                :class="{
                    'is-invalid': validationErrors.content.$error
                }"
                name=""
                rows="2"
            />
        </div>
    </div>
</template>

<script>
import Selectric from '@/components/elements/Selectric';
import Datepicker from '@/components/elements/DatepickerMonth';
import Rating from '@/components/elements/Rating';
import MaskedInput from 'vue-text-mask';
import {
    required,
    minLength,
    maxLength,
    numeric
} from 'vuelidate/lib/validators';
import { mapGetters } from 'vuex';

import { phoneMask } from '@/helpers/helpers';

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    validations: {
        review: {
            phone: {
                required
            }
        }
    },

    components: {
        Rating,
        Selectric,
        Datepicker,
        MaskedInput
    },

    data() {
        return {
            phoneMask,
            review: {},
            isRecommendedOptions: [
                {
                    text: this.$t('global.yes'),
                    value: true
                },
                {
                    text: this.$t('global.no'),
                    value: false
                }
            ],
            cities: []
        };
    },

    computed: {
        ...mapGetters({
            countries: 'countries/all',
            getCitiesFromCountry: 'countries/getCitiesFromCountry'
        })
    },

    watch: {
        value: {
            handler() {
                this.review = this.value;
            },
            immediate: true
        },
        review: {
            handler() {
                this.$emit('input', this.review);
            },
            deep: true
        },

        [`review.country`]: {
            async handler() {
                const countryId = this.review.country;

                if (countryId) {
                    this.review.city = null;
                    this.cities = this.getCitiesFromCountry(countryId);
                }
            },
            immediate: true
        }
    },

    mounted() {
        this.review.is_recommended = true;
    }
};
</script>
