<template>
    <div class="form_section gold_member" style="display: block">
        <div class="section_content jsSingUpContentGolden">
            <div class="content_info">
                <div class="info_image">
                    <picture v-full-image-path="content.icon" />
                </div>
                <div class="info_description">
                    <div class="info_title">
                        {{ $t('register.goldUser.enterToClub') }}
                    </div>
                    <div class="info_content">
                        {{ content.text }}
                    </div>
                </div>
                <div class="gold_member_form">
                    <div
                        v-for="(review, index) in reviews"
                        :key="`review-${index}`"
                    >
                        <div v-if="index !== 0">
                            <div class="my-3" />
                        </div>
                        <gold-user-review
                            v-model="reviews[index]"
                            :validation-errors="
                                validationErrors.$each.$iter[index]
                            "
                        />
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <a
                                @click.prevent="addReview"
                                class="link_add add_another_company"
                                href="#"
                            >
                                {{ $t('register.goldUser.addAnotherCompany') }}
                            </a>
                        </div>

                        <div class="col-6">
                            <a
                                v-if="addedReviews"
                                @click.prevent="removeReview"
                                class="link_remove"
                                href="#"
                            >
                                {{ $t('register.goldUser.deleteLastCompany') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_head jsSingUpHeadGolden">
            <div class="section_head_title">
                <div class="head_image">
                    <img v-full-image-path:assets="'icon_Gold_Member.svg'" />
                </div>
                <div class="head_title">
                    {{ $t('register.goldUser.goldUser') }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import GoldUserReview from '@/components/register/GoldUserReview.vue';
import Selectric from '@/components/elements/Selectric.vue';
import { required, requiredIf, maxLength } from 'vuelidate/lib/validators';
import { mapGetters } from 'vuex';

export default {
    props: {
        value: {
            type: Array
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Selectric,
        GoldUserReview
    },

    data: () => ({
        reviews: [{}],
        addedReviews: 0
    }),

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        content() {
            return this.getContent('signup-page').goldUser;
        }
    },
    watch: {
        value: {
            handler() {
                this.reviews = this.value;
            },
            immediate: true
        }
    },
    methods: {
        addReview() {
            this.reviews.push({});
            this.addedReviews++;
        },

        removeReview() {
            this.reviews.pop();
            this.addedReviews--;
        }
    },

    mounted() {
        const $ = window.jQuery;

        $('.jsSingUpHeadGolden').click(function() {
            $('.jsSingUpHeadGolden').toggleClass('open');
            $('.all_form_section').slideToggle(300);
            $('.jsSingUpHeadGolden')
                .prev('.jsSingUpContentGolden')
                .slideToggle(300);
            if ($('.jsSingUpHeadGolden').hasClass('open')) {
                $('.jsSingUpHeadGolden').removeClass('gold-user-errors');
            }
        });
    }
};
</script>
