<template>
    <div>
        <div id="PassportDetails" class="form_section all_form_section">
            <div class="section_head jsSingUpHeadTwo">
                <div class="section_head_title">
                    <div class="head_image">
                        <img
                            v-full-image-path:assets="
                                'icon_passport_details.svg'
                            "
                        />
                    </div>
                    <div class="head_title">
                        {{ $t('global.passportDetails') }}
                    </div>
                </div>
            </div>

            <div class="section_content jsSingUpContentTwo">
                <div class="passport_details">
                    <div class="form_row">
                        <input
                            v-model="formPassport.name"
                            class="form_control"
                            :class="{
                                'is-invalid': $v.formPassport.name.$error
                            }"
                            type="text"
                            :placeholder="
                                $t(
                                    'labels.fullNameInEnglishAsItApperasInTheIsraeliPassport'
                                ) + '*'
                            "
                        />
                        <transition name="fade">
                            <small
                                v-if="$v.formPassport.name.$error"
                                class="error"
                            >
                                {{ $t('errors.enterFullNameInEnglish') }}
                            </small>
                        </transition>
                    </div>

                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <datepicker
                                    v-model="formPassport.issued_on"
                                    :class="{
                                        'is-invalid':
                                            $v.formPassport.issued_on.$error
                                    }"
                                    :placeholder="
                                        $t(
                                            'labels.extendTheIssuanceOfAPassport'
                                        ) + '*'
                                    "
                                />
                            </div>
                            <div class="column">
                                <datepicker
                                    v-model="formPassport.expiration_date"
                                    :class="{
                                        'is-invalid':
                                            $v.formPassport.expiration_date
                                                .$error
                                    }"
                                    :placeholder="
                                        $t('labels.passportExpirationDate') +
                                            '*'
                                    "
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <div class="short_question">
                                    <span class="question_label">
                                        {{
                                            $t(
                                                'labels.doYouHaveAForeignPassport'
                                            )
                                        }}*
                                    </span>
                                    <div class="radio_wrapper">
                                        <label class="radio">
                                            <input
                                                v-model="
                                                    formPassport.has_foreign_passport
                                                "
                                                type="radio"
                                                name="foreign_passport"
                                                :value="true"
                                                checked="checked"
                                            />
                                            <span>
                                                {{ $t('global.yes') }}
                                            </span>
                                        </label>
                                        <label class="radio">
                                            <input
                                                v-model="
                                                    formPassport.has_foreign_passport
                                                "
                                                type="radio"
                                                name="foreign_passport"
                                                :value="false"
                                            />
                                            <span>
                                                {{ $t('global.no') }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="short_question">
                                    <span class="question_label">
                                        {{ $t('labels.visaToUsa') }}
                                    </span>
                                    <div class="radio_wrapper">
                                        <label class="radio">
                                            <input
                                                v-model="
                                                    formPassport.has_american_visa
                                                "
                                                type="radio"
                                                name="visa_usa"
                                                :value="true"
                                                checked="checked"
                                            />
                                            <span>
                                                {{ $t('global.yes') }}
                                            </span>
                                        </label>
                                        <label class="radio">
                                            <input
                                                v-model="
                                                    formPassport.has_american_visa
                                                "
                                                :value="false"
                                                type="radio"
                                                name="visa_usa"
                                            />
                                            <span>
                                                {{ $t('global.no') }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        v-for="(foreignPassport, i) in foreignPassports"
                        :key="i"
                        class="foreign_passport_wrapper"
                    >
                        <div class="form_row">
                            <input
                                v-model="foreignPassport.country"
                                class="form_control"
                                :class="{
                                    'is-invalid':
                                        $v.foreignPassports.$each[i].country
                                            .$error
                                }"
                                type="text"
                                :placeholder="
                                    $t(
                                        'labels.countryOfOriginForeignPassport'
                                    ) + '*'
                                "
                            />
                        </div>

                        <div class="form_row">
                            <input
                                v-model="foreignPassport.name"
                                class="form_control"
                                :class="{
                                    'is-invalid':
                                        $v.foreignPassports.$each[i].name.$error
                                }"
                                type="text"
                                :placeholder="
                                    $t(
                                        'labels.fullNameInEnglishAsItApperasInThePassport'
                                    ) + '*'
                                "
                            />

                            <transition name="fade">
                                <small
                                    v-if="
                                        $v.foreignPassports.$each[i].name.$error
                                    "
                                    class="error"
                                >
                                    {{ $t('errors.enterFullNameInEnglish') }}
                                </small>
                            </transition>
                        </div>

                        <div class="form_row">
                            <div class="column_wrapper">
                                <div class="column">
                                    <datepicker
                                        v-model="foreignPassport.issued_on"
                                        :class="{
                                            'is-invalid':
                                                $v.foreignPassports.$each[i]
                                                    .issued_on.$error
                                        }"
                                        :placeholder="
                                            $t(
                                                'labels.extendTheIssuanceOfAPassport'
                                            ) + '*'
                                        "
                                    />
                                </div>
                                <div class="column">
                                    <datepicker
                                        v-model="
                                            foreignPassport.expiration_date
                                        "
                                        :class="{
                                            'is-invalid':
                                                $v.foreignPassports.$each[i]
                                                    .expiration_date.$error
                                        }"
                                        :placeholder="
                                            $t(
                                                'labels.passportExpirationDate'
                                            ) + '*'
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add_row">
                    <a
                        v-show="formPassport.has_foreign_passport"
                        class="link_add add_another_company"
                        href="#"
                        @click.prevent="addForeignPassport"
                    >
                        {{ $t('links.addForeignPassport') }}
                    </a>
                </div>

                <div class="add_row">
                    <div
                        v-if="addedPassports"
                        class="link_remove"
                        @click.prevent="removeForeignPassport"
                    >
                        {{ $t('links.removeLastAddedPassport') }}
                    </div>
                </div>
            </div>
        </div>
        <div id="MoreDetails" class="form_section all_form_section">
            <div class="section_head jsSingUpHeadThree">
                <div class="section_head_title">
                    <div class="head_image">
                        <img
                            v-full-image-path:assets="'icon_more_details.svg'"
                        />
                    </div>
                    <div class="head_title">
                        {{ $t('global.moreDetails') }}
                    </div>
                </div>
            </div>
            <div class="section_content jsSingUpContentThree">
                <div class="more_details">
                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="formMoreDetails.education"
                                        :items="educationOptions"
                                        :placeholder="
                                            $t('labels.education') + '*'
                                        "
                                        :has-errors="
                                            $v.formMoreDetails.education.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="formMoreDetails.service"
                                        :items="serviceOptions"
                                        :placeholder="
                                            $t('labels.militaryService')
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="form_row"
                        v-for="(language, index) in formMoreDetails.languages"
                        :key="`language-${index}`"
                    >
                        <div class="column_wrapper">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="
                                            formMoreDetails.languages[index]
                                                .name
                                        "
                                        :items="languagesOptions"
                                        :key="`language-id-${index}`"
                                        :has-errors="
                                            $v.formMoreDetails.languages.$each[
                                                index
                                            ].name.$error
                                        "
                                        :placeholder="
                                            $t('labels.anotherLanguage') + '*'
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="
                                            formMoreDetails.languages[index]
                                                .proficiency
                                        "
                                        :items="languageProficiencyOptions"
                                        :key="`language-proficiency-${index}`"
                                        :has-errors="
                                            $v.formMoreDetails.languages.$each[
                                                index
                                            ].proficiency.$error
                                        "
                                        :placeholder="
                                            $t(
                                                'labels.levelOfLanguageProficiency'
                                            ) + '*'
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="add_row">
                            <a
                                class="link_add add_another_company"
                                href="#"
                                @click.prevent="addLanguage"
                            >
                                {{ $t('links.addAnotherLanguage') }}
                            </a>
                        </div>
                        <div class="add_row">
                            <div
                                v-if="addedAnotherLanguages"
                                class="link_remove"
                                @click.prevent="removeLanguage"
                            >
                                {{ $t('links.removeLastAddedLanguage') }}
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="formMoreDetails.availability"
                                        :items="availabilityOptions"
                                        :placeholder="
                                            $t('labels.flightAvailability') +
                                                '*'
                                        "
                                        :has-errors="
                                            $v.formMoreDetails.availability
                                                .$error
                                        "
                                    />
                                </div>
                            </div>

                            <div class="column">
                                <div class="short_question">
                                    <span class="question_label">
                                        {{ $t('labels.workExperienceAbroad') }}
                                        *
                                    </span>
                                    <div
                                        class="radio_wrapper"
                                        :class="{
                                            'is-invalid':
                                                $v.hasExperience.$error
                                        }"
                                    >
                                        <label class="radio">
                                            <input
                                                type="radio"
                                                v-model="hasExperience"
                                                :value="true"
                                            />
                                            <span>{{ $t('global.yes') }}</span>
                                        </label>
                                        <label class="radio">
                                            <input
                                                type="radio"
                                                v-model="hasExperience"
                                                :value="false"
                                            />
                                            <span>{{ $t('global.no') }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_row experience_abroad_wrapper">
                        <div class="column_wrapper">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="formMoreDetails.experience"
                                        :items="experienceOptions"
                                        :disabled="!hasExperience"
                                        :placeholder="
                                            $t(
                                                'labels.employmentExperienceAbroad'
                                            ) + '*'
                                        "
                                        :has-errors="
                                            $v.formMoreDetails.experience.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="
                                            formMoreDetails.experience_job_type
                                        "
                                        :items="jobTypes"
                                        text-field="name"
                                        value-field="id"
                                        :disabled="!hasExperience"
                                        :placeholder="
                                            $t('labels.fieldOfEmployment') + '*'
                                        "
                                        :has-errors="
                                            $v.formMoreDetails
                                                .experience_job_type.$error
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <gold-user
            v-if="isGoldUser && isStepCompleted"
            v-model="reviews"
            :validation-errors="$v.reviews"
        />

        <div class="resume_button">
            <a class="btn btn_blue_empty" @click.prevent="submit">
                {{ $t('buttons.continue') }}
            </a>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, requiredIf, maxLength } from 'vuelidate/lib/validators';

import Datepicker from '@/components/elements/Datepicker.vue';
import Selectric from '@/components/elements/Selectric.vue';
import GoldUser from '@/components/register/GoldUser.vue';
import selectOptions from '@/helpers/selectOptions';
import {
    isValidPhoneNumber,
    checkIsNotHebrew,
    isValidPhoneNumberFiledNotRequired
} from '@/helpers/helpers';

const {
    experience: experienceOptions,
    availability: availabilityOptions
} = selectOptions;

export default {
    components: {
        Datepicker,
        Selectric,
        GoldUser
    },

    validations() {
        return {
            hasExperience: {
                required
            },
            formMoreDetails: {
                education: { required },
                experience: {
                    required: requiredIf(() => {
                        return this.hasExperience;
                    })
                },
                experience_job_type: {
                    required: requiredIf(() => {
                        return this.hasExperience;
                    })
                },
                availability: { required },
                languages: {
                    $each: {
                        name: { required },
                        proficiency: { required }
                    }
                }
            },
            formPassport: {
                name: {
                    required,
                    maxLength: maxLength(255),
                    checkIsNotHebrew
                },
                issued_on: { required },
                expiration_date: { required }
            },
            foreignPassports: {
                $each: {
                    name: {
                        required,
                        maxLength: maxLength(255),
                        checkIsNotHebrew
                    },
                    country: {
                        required,
                        maxLength: maxLength(255)
                    },
                    issued_on: { required },
                    expiration_date: { required }
                }
            },
            reviews: {
                $each: {
                    company: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        }),
                        maxLength: maxLength(255)
                    },
                    country: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        }),
                        maxLength: maxLength(255)
                    },
                    city: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        }),
                        maxLength: maxLength(255)
                    },
                    is_recommended: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        })
                    },
                    content: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        })
                    },
                    rating: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        })
                    },
                    start_date: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        })
                    },
                    end_date: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        })
                    },
                    phone: {
                        required: requiredIf(() => {
                            return this.isStepCompleted;
                        }),
                        maxLength: maxLength(255),
                        isValidPhoneNumber
                    },
                    phone_2: {
                        maxLength: maxLength(255),
                        isValidPhoneNumberFiledNotRequired
                    }
                }
            }
        };
    },

    data() {
        return {
            reviews: [{}],
            formPassport: {
                has_foreign_passport: false,
                has_american_visa: false
            },
            foreignPassports: [
                {
                    name: null,
                    country: null
                }
            ],
            experienceOptions,
            availabilityOptions,
            hasExperience: false,
            formMoreDetails: {
                education: null,
                experience: null,
                experience_job_type: null,
                service: null,
                availability: null,
                languages: [
                    {
                        name: null,
                        proficiency: null
                    }
                ]
            },
            isStepCompleted: false,
            addedPassports: 0,
            stopInterval: false,
            addedAnotherLanguages: 0
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName',
            jobTypes: 'jobtypes/all'
        }),

        educationOptions() {
            return this.getDropdownOptions('education');
        },

        serviceOptions() {
            return this.getDropdownOptions('service');
        },

        languageProficiencyOptions() {
            return this.getDropdownOptions('language_proficiency');
        },

        languagesOptions() {
            return this.getDropdownOptions('languages');
        },

        content() {
            return this.getContent('signup-page').moreDetails;
        },

        isGoldUser() {
            const { experience } = this.formMoreDetails;
            const oneToSixMonthsExperience = '1-6m';

            return !!experience && experience !== oneToSixMonthsExperience;
        }
    },
    watch: {
        hasExperience() {
            this.onHasExperienceChange();
        },

        [`formPassport.has_foreign_passport`]() {
            this.onForeignPassportChange();
        },

        ['formPassport.name']() {
            const interval = setInterval(() => {
                this.slideDownMoreDetailsWhenPassportDataFilled();

                if (this.stopInterval) {
                    clearInterval(interval);
                }
            }, 500);
        }
    },

    mounted() {
        this.onForeignPassportChange();

        const $ = window.jQuery;

        $('.jsSingUpHeadTwo').click(function() {
            $('.jsSingUpHeadTwo').toggleClass('open');
            $('.jsSingUpContentTwo').slideToggle(300);
        });

        $('.jsSingUpHeadThree').click(function() {
            $('.jsSingUpHeadThree').toggleClass('open');
            $('.jsSingUpContentThree').slideToggle(300);
        });
    },

    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        ...mapActions({
            finishRegistration: 'register/finishRegistration'
        }),

        addLanguage() {
            this.formMoreDetails.languages.push({
                id: null,
                proficiency: null
            });
            this.addedAnotherLanguages++;
        },

        removeLanguage() {
            this.formMoreDetails.languages.pop();
            this.addedAnotherLanguages--;
        },

        addForeignPassport() {
            if (!this.formPassport.has_foreign_passport) {
                return;
            }

            this.foreignPassports.push({});
            this.addedPassports++;
        },

        removeForeignPassport() {
            this.foreignPassports.pop();
            this.addedPassports--;
        },

        async submit() {
            this.$v.formMoreDetails.$touch();
            this.$v.hasExperience.$touch();
            this.$v.formPassport.$touch();
            this.$v.foreignPassports.$touch();

            if (
                this.$v.formMoreDetails.$invalid ||
                this.$v.hasExperience.$invalid ||
                this.$v.formPassport.$invalid ||
                this.$v.foreignPassports.$invalid
            ) {
                return;
            }

            if (this.isStepCompleted) {
                this.$v.reviews.$touch();

                if (this.$v.reviews.$error || this.$v.reviews.$invalid) {
                    const $ = window.jQuery;

                    const openTabWithGoldUser = $(
                        '.jsSingUpHeadGolden'
                    ).hasClass('open');

                    if (!openTabWithGoldUser) {
                        $('.jsSingUpHeadGolden').addClass('gold-user-errors');
                    }
                }

                if (
                    this.reviews.length > 0 &&
                    Object.keys(this.reviews[0]).length !== 0 &&
                    this.$v.$invalid
                ) {
                    return;
                }

                await this.submitForms();

                return;
            }

            if (this.isGoldUser) {
                this.isStepCompleted = true;

                const $ = window.jQuery;

                $('.all_form_section').slideToggle(300);

                await this.$nextTick();

                $('.jsSingUpContentGolden').slideToggle(300);
                $('.jsSingUpHeadGolden').addClass('open');

                if ($('.jsSingUpHeadGolden').hasClass('open')) {
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
            } else {
                this.reviews = [];
                await this.submitForms();
            }
        },

        async submitForms() {
            try {
                await this.finishRegistration({
                    passport: this.formPassport,
                    foreign_passports: this.foreignPassports,
                    more_details: this.formMoreDetails,
                    reviews: this.reviews
                });

                await this.$auth.fetchUser();

                this.$router.push('/videocv');
            } catch (err) {
                console.error(err);
                this.reviews = [{}];
            }
        },

        onForeignPassportChange() {
            const $ = window.jQuery;

            this.foreignPassports = [];
            this.addedPassports = 0;

            const $foreignPassportWrapper = $('.foreign_passport_wrapper');

            if (this.formPassport.has_foreign_passport) {
                this.foreignPassports.push({});

                $foreignPassportWrapper.slideDown(300);
            } else {
                $foreignPassportWrapper.slideUp(300);
            }
        },

        onHasExperienceChange() {
            this.formMoreDetails.experience = null;
            this.formMoreDetails.experience_job_type = null;
        },

        slideDownMoreDetailsWhenPassportDataFilled() {
            if (
                this.$v.formPassport.expiration_date.$model &&
                this.$v.formPassport.name.$model &&
                this.$v.formPassport.issued_on.$model
            ) {
                const $ = window.jQuery;

                $('.jsSingUpHeadThree').addClass('open');
                $('.jsSingUpContentThree').slideDown(300);

                this.stopInterval = true;
            }
        }
    }
};
</script>

<style lang="scss">
.gold-user-errors {
    border: 1px solid red;
    border-radius: 2px;
}
</style>
