<template>
    <div id="personalInformation" class="form_section" style="display: block">
        <div class="section_head open jsSingUpHeadPersonal">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="
                            'icon_personal_information.svg'
                        "
                    />
                </div>
                <div class="head_title">
                    {{ $t('register.personalData.personalInformation') }}
                </div>
            </div>
        </div>
        <div
            class="section_content jsSingUpContentPersonal"
            style="display: block"
        >
            <div v-show="isPersonalInfoReady" class="icon_personal_information">
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <input
                                v-model="formPersonalInformation.first_name"
                                class="form_control"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.first_name
                                            .$error
                                }"
                                type="text"
                                :placeholder="
                                    $t('register.personalData.firstName') + ' *'
                                "
                            />
                        </div>
                        <div class="column">
                            <input
                                v-model="formPersonalInformation.last_name"
                                class="form_control"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.last_name
                                            .$error
                                }"
                                type="text"
                                :placeholder="
                                    $t('register.personalData.lastName') + ' *'
                                "
                            />
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <input
                                v-model="formPersonalInformation.email"
                                class="form_control"
                                type="email"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.email.$error
                                }"
                                :placeholder="
                                    $t('register.personalData.email') + ' *'
                                "
                            />
                            <div
                                v-if="backendErrors.email"
                                class="error_message"
                            >
                                <div class="message">
                                    {{ backendErrors.email }}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <datepicker
                                v-model="formPersonalInformation.birthday"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.birthday
                                            .$error
                                }"
                                :placeholder="
                                    $t('register.personalData.dateOfBirth') +
                                        ' *'
                                "
                            />
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <div class="gender_wrapper">
                                <div class="gender_label">
                                    {{ $t('register.personalData.gender') }}
                                </div>
                                <div class="gender_item">
                                    <label
                                        class="gender_radio"
                                        :class="{
                                            'is-invalid-icon':
                                                $v.formPersonalInformation
                                                    .gender.$error
                                        }"
                                    >
                                        <input
                                            v-model="
                                                formPersonalInformation.gender
                                            "
                                            type="radio"
                                            value="male"
                                            name="gender"
                                        />
                                        <span class="radio_decor">
                                            <icon-gender-male />
                                        </span>
                                    </label>
                                </div>
                                <div class="gender_item">
                                    <label
                                        class="gender_radio"
                                        :class="{
                                            'is-invalid-icon':
                                                $v.formPersonalInformation
                                                    .gender.$error
                                        }"
                                    >
                                        <input
                                            v-model="
                                                formPersonalInformation.gender
                                            "
                                            type="radio"
                                            value="female"
                                            name="gender"
                                        />
                                        <span class="radio_decor">
                                            <icon-gender-female />
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select_wrapper">
                                <selectric
                                    v-model="
                                        formPersonalInformation.marital_status
                                    "
                                    :items="maritalStatusesOptions"
                                    :placeholder="
                                        $t(
                                            'register.personalData.maritalStatus'
                                        )
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <masked-input
                                :dir="
                                    formPersonalInformation.phone
                                        ? 'ltr'
                                        : 'rtl'
                                "
                                type="text"
                                name="phone"
                                class="form_control phone_form_control"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.phone
                                            .$error || backendErrors.phone
                                }"
                                v-model="formPersonalInformation.phone"
                                :mask="phoneMask"
                                :guide="true"
                                :placeholder="
                                    $t('register.personalData.mobile') + ' *'
                                "
                            />
                            <div
                                v-if="$v.formPersonalInformation.phone.$error"
                                class="error_message"
                            >
                                <div class="message">
                                    {{ $t('errors.pleaseCheckNumberAgain') }}
                                </div>
                            </div>
                            <div
                                v-if="backendErrors.phone"
                                class="error_message"
                            >
                                <div class="message">
                                    {{ backendErrors.phone }}
                                </div>
                            </div>
                            <div class="info_wrapper">
                                <div class="info">
                                    {{
                                        $t(
                                            'register.personalData.phoneInformation'
                                        )
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <input
                                v-model="formPersonalInformation.hometown"
                                class="form_control icon_location"
                                :class="{
                                    'is-invalid':
                                        $v.formPersonalInformation.hometown
                                            .$error
                                }"
                                type="text"
                                :placeholder="
                                    $t('register.personalData.hometown') + ' *'
                                "
                            />
                        </div>
                    </div>
                </div>

                <div class="end_personal_information">
                    <div class="checkbox_wrap">
                        <label class="checkbox">
                            <input
                                v-model="privacyPolicyAccepted"
                                type="checkbox"
                                name="agree"
                            />
                            <span>
                                {{ $t('global.iConfirmReadAndAgree') }}
                                <nuxt-link
                                    to="/privacy-policy"
                                    @click.native="setTemporaryUserData"
                                >
                                    {{ $t('links.toPrivacyPolicy') }}
                                </nuxt-link>
                                <nuxt-link
                                    to="/terms-of-use"
                                    @click.native="setTemporaryUserData"
                                >
                                    {{ $t('links.andTermsAndConditions') }}
                                </nuxt-link>
                            </span>
                        </label>
                    </div>

                    <div class="checkbox_wrap">
                        <label class="checkbox">
                            <input
                                v-model="personalDataUseAccepted"
                                type="checkbox"
                                name="transfer"
                            />
                            <span>
                                {{ $t('global.iAuthorizeTheUseOfInformation') }}
                            </span>
                        </label>
                    </div>
                    <div class="btn_wrapper">
                        <input
                            :disabled="
                                !privacyPolicyAccepted ||
                                    !personalDataUseAccepted ||
                                    $v.formPersonalInformation.phone.$invalid
                            "
                            class="btn btn_blue_empty jsOpenAuthentication"
                            :value="$t('register.continueButton')"
                            type="submit"
                            @click.prevent="submitPersonalInformation()"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import {
    required,
    minLength,
    maxLength,
    numeric,
    email
} from 'vuelidate/lib/validators';
import MaskedInput from 'vue-text-mask';
import IconGenderFemale from '@/components/svg/icon-gender-female.vue';
import IconGenderMale from '@/components/svg/icon-gender-male.vue';
import Datepicker from '@/components/elements/Datepicker.vue';
import Selectric from '@/components/elements/Selectric.vue';

import { phoneMask, isValidPhoneNumber } from '@/helpers/helpers';

export default {
    components: {
        IconGenderFemale,
        IconGenderMale,
        Datepicker,
        Selectric,
        MaskedInput
    },

    validations: {
        formPersonalInformation: {
            phone: {
                required,
                isValidPhoneNumber
            },
            first_name: {
                required,
                minLength: minLength(2),
                maxLength: maxLength(255)
            },
            last_name: {
                required,
                minLength: minLength(2),
                maxLength: maxLength(255)
            },
            email: {
                required,
                email
            },
            birthday: {
                required
            },
            gender: {
                required
            },
            hometown: {
                required,
                minLength: minLength(2),
                maxLength: maxLength(255)
            }
        }
    },
    data() {
        return {
            isPersonalInfoReady: false,
            privacyPolicyAccepted: false,
            personalDataUseAccepted: false,
            backendErrors: {},
            formPersonalInformation: {
                first_name: null,
                last_name: null,
                email: null,
                birthday: null,
                marital_status: null,
                gender: null,
                hometown: null,
                phone: null
            },
            error: null,
            phoneMask
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName',
            settings: 'settings/getSettingByKey',
            getUserTemporaryData: 'register/getUserTemporaryData'
        }),

        termsConditionsContent() {
            return this.getContent('signup-page').personalData.termsConditions;
        },

        maritalStatusesOptions() {
            return this.getDropdownOptions('marital_status');
        }
    },

    watch: {
        'formPersonalInformation.phone'() {
            this.backendErrors.phone = null;
        },
        'formPersonalInformation.email'() {
            this.backendErrors.email = null;
        }
    },

    beforeMount() {
        this.formPersonalInformation = { ...this.getUserTemporaryData };
    },

    mounted() {
        this.isPersonalInfoReady = true;

        const $ = window.jQuery;

        $('.jsSingUpHeadPersonal').click(function() {
            $('.jsSingUpHeadPersonal').toggleClass('open');
            $('.jsSingUpContentPersonal').slideToggle(300);
        });
    },

    methods: {
        ...mapActions({
            setData: 'register/setData',
            requestPin: 'register/requestPin',
            registerNewUser: 'register/newUser',
            setTemporaryData: 'register/setTemporaryUserData'
        }),

        async submitPersonalInformation() {
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            this.backendErrors = {};

            if (!this.privacyPolicyAccepted || !this.personalDataUseAccepted) {
                return;
            }

            this.setData(this.formPersonalInformation);

            try {
                const { user } = await this.registerNewUser();

                this.$analytics.sendGoogleTagManagerEvent({
                    event: 'register new user',
                    user
                });

                this.setTemporaryData({});

                try {
                    await this.requestPin(this.formPersonalInformation.phone);

                    const $ = window.jQuery;

                    $('#Authentication .section_head').addClass('open');
                    $('#Authentication .section_content').show(0);
                    $('#Authentication').slideDown(300);
                    $('#personalInformation .section_head').removeClass('open');
                    $('#personalInformation .section_content').slideUp(300);

                    this.setData({});
                } catch (err) {
                    console.error(err);
                    this.$toast.error(
                        this.$t(
                            'toasts.errors.errorSendingPinOnGivenPhoneNumber'
                        )
                    );
                }
            } catch (err) {
                console.error(err);

                if (err.response.status === 400 && err.response.data.errors) {
                    err.response.data.errors.map(e => {
                        if (e.param === 'email') {
                            this.backendErrors.email = e.message;
                        }

                        if (e.param === 'phone') {
                            this.backendErrors.phone = e.message;
                        }
                    });

                    this.$forceUpdate();
                }
            }
        },

        setTemporaryUserData() {
            this.setTemporaryData(this.formPersonalInformation);
        }
    }
};
</script>
