<template></template>

<script>
export default {
    mounted() {
        const { id } = this.$route.params;
        const { redirect } = this.$route.query;

        this.$auth.$storage.setCookie('_token.local', id, false);

        localStorage['auth._token.local'] = id;

        this.$router.push(redirect);
    }
};
</script>
