<template>
    <div class="registration_form">
        <div class="content">
            <p>{{ navigatorTabsContent.contentText }}</p>
        </div>
        <div class="form_btn">
            <nuxt-link class="btn btn_blue_empty" to="/signup">{{
                navigatorTabsContent.buttonText
            }}</nuxt-link>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'SignUpTab',
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        navigatorTabsContent() {
            const { signUpTab } = this.getContent('customer-sign-page');

            return signUpTab;
        }
    }
};
</script>
