<template>
    <div>
        <client-only>
            <div class="main">
                <div class="b_sign_option">
                    <div
                        class="sign_option_decor"
                        v-full-background-image-path:assets="
                            'bg_sign_option.png'
                        "
                    />
                    <div class="container">
                        <div class="sign_form_wrapper block_shadow">
                            <div class="form_tabs_wrapper">
                                <div
                                    class="form_tab"
                                    :class="{ '-active': isEnrollmentTab }"
                                    @click="toggleLoginOrEnrollment"
                                >
                                    {{ $t('global.enrollment') }}
                                </div>
                                <div
                                    class="form_tab"
                                    :class="{ '-active': !isEnrollmentTab }"
                                    @click="toggleLoginOrEnrollment"
                                >
                                    {{ $t('global.login') }}
                                </div>
                            </div>

                            <div class="form_content_wrapper">
                                <div
                                    v-if="isEnrollmentTab"
                                    class="form_tab_content"
                                    :class="{ '-active': isEnrollmentTab }"
                                >
                                    <sign-up-tab />

                                    <div class="employers_wrapper">
                                        <nuxt-link
                                            class="link_employers"
                                            to="/recruiter-sign-up"
                                        >
                                            {{
                                                $t(
                                                    'global.employerRegistration'
                                                )
                                            }}
                                        </nuxt-link>
                                    </div>
                                </div>

                                <div
                                    v-else
                                    class="form_tab_content"
                                    :class="{ '-active': !isEnrollmentTab }"
                                >
                                    <sign-in-tab />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </client-only>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import SignInTab from './SignInTab';
import SignUpTab from './SignUpTab';
import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],
    middleware: 'guest-user',

    components: {
        SignInTab,
        SignUpTab
    },

    data() {
        return {
            isEnrollmentTab: false
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('customer-sign-page');
        }
    },

    watch: {
        $route(to, from) {
            this.isEnrollmentTab = to.hash === '#enrollment';
        }
    },

    methods: {
        toggleLoginOrEnrollment() {
            this.isEnrollmentTab = !this.isEnrollmentTab;
        }
    },

    created() {
        if (process.browser) {
            this.isEnrollmentTab = window.location.hash === '#enrollment';
        }
    },

    mounted() {
        this.isEnrollmentTab = this.$route.hash === '#enrollment';
    },

    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    }
};
</script>

<style lang="scss" scoped>
.form_tab {
    cursor: pointer;
}
</style>
