<template>
    <div class="login_form">
        <div v-if="!isRequestedPin" key="requestPin">
            <div class="content">
                <p>{{ navigatorTabsContent.step1.contentText }}</p>
            </div>
            <form @submit.prevent="submitPinRequest">
                <div class="form_row">
                    <label for="phone">
                        <masked-input
                            :dir="phoneNumber ? 'ltr' : 'rtl'"
                            :mask="phoneMask"
                            :guide="true"
                            v-model="phoneNumber"
                            id="phone"
                            class="form_control"
                            type="tel"
                            :placeholder="$t('labels.phoneNumber')"
                            :class="{
                                'is-invalid': $v.phoneNumber.$error
                            }"
                            @blur="$v.phoneNumber.$touch()"
                        />
                        <small
                            v-if="$v.phoneNumber.$error"
                            :class="{
                                error: $v.phoneNumber.$error
                            }"
                        >
                            {{ $t('errors.requiredField') }}
                        </small>
                    </label>

                    <transition name="fade" appear>
                        <div
                            v-if="phoneNumberError"
                            :class="{
                                'invalid-feedback': phoneNumberError
                            }"
                        >
                            <span v-if="phoneNumberError">
                                {{ navigatorTabsContent.step1.errorText }}
                            </span>
                        </div>
                    </transition>
                    <transition name="fade" appear>
                        <div v-if="loginAttempt >= 1" class="join">
                            <nuxt-link
                                :to="
                                    navigatorTabsContent.step1
                                        .phoneNumberAttemptInfo.ctaLink
                                "
                            >
                                {{
                                    navigatorTabsContent.step1
                                        .phoneNumberAttemptInfo.ctaText
                                }}
                            </nuxt-link>
                        </div>
                    </transition>
                </div>

                <div class="form_row">
                    <div class="checkbox_wrap">
                        <label for="checkbox" class="checkbox">
                            <input
                                v-model="checkbox"
                                id="checkbox"
                                type="checkbox"
                            />
                            <span>
                                {{ $t('global.iConfirmReadAndAgree') }}
                                <nuxt-link to="/privacy-policy">
                                    {{ $t('links.toPrivacyPolicy') }}
                                </nuxt-link>
                                <nuxt-link to="/terms-of-use">
                                    {{ $t('links.andTermsAndConditions') }}
                                </nuxt-link>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form_btn">
                    <input
                        class="btn btn_blue_empty"
                        :disabled="!checkbox"
                        type="submit"
                        :value="$t('global.login')"
                    />
                </div>
            </form>
        </div>
        <div v-else key="requestLogin">
            <div class="content">
                <div class="login_title">
                    <p class="navigator-tabs-content">
                        {{ navigatorTabsContent.step2.contentText }}
                    </p>
                    <p class="navigator-tabs-content">
                        {{ navigatorTabsContent.step2.explanationText }}
                    </p>
                </div>

                <form @submit.prevent="submitLogInRequest">
                    <div class="form_row">
                        <input
                            v-model="pin"
                            class="form_control input_password"
                            type="password"
                            maxlength="4"
                            autocomplete="off"
                            value
                            :class="{ error: pinError }"
                        />
                        <transition name="fade" appear>
                            <div
                                :class="{
                                    'invalid-feedback': pinError
                                }"
                            >
                                <span v-if="pinError" class="form_error">
                                    {{ navigatorTabsContent.step2.errorText }}
                                </span>
                            </div>
                        </transition>
                    </div>

                    <div class="send_again">
                        <a href="#" @click.prevent="requestPinAgain">
                            {{ navigatorTabsContent.step2.resendMessage }}
                        </a>
                    </div>
                    <div
                        v-if="isPinRequestedAgain && !displayCountdown"
                        class="send_again"
                    >
                        {{ $t('info.anAdditionalIdCodeWillBeSentToYourPhone') }}
                    </div>
                    <div v-if="displayCountdown" class="send_again">
                        {{
                            $t('info.secondsBeforeYourSubmitARequestForIdCode')
                        }}
                        {{ waitTime }} {{ $t('info.youHaveToWait') }}
                    </div>

                    <div class="form_btn">
                        <button
                            class="btn btn_blue_empty"
                            type="submit"
                            :disabled="$v.pin.$invalid"
                        >
                            {{ navigatorTabsContent.step2.submitButtonText }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MaskedInput from 'vue-text-mask';
import {
    required,
    minLength,
    maxLength,
    numeric
} from 'vuelidate/lib/validators';

import { phoneMask } from '@/helpers/helpers';

export default {
    name: 'SignInTab',

    transition: 'fade',

    validations: {
        phoneNumber: {
            required
        },
        pin: {
            required,
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
        }
    },

    components: {
        MaskedInput
    },

    data() {
        return {
            phoneNumber: '',
            pin: '',
            checkbox: false,
            isSent: false,
            loginAttempt: 0,
            isRequestedPin: false,
            incorrectResponse: false,
            waitTime: 0,
            displayCountdown: false,
            isPinRequestedAgain: false,
            phoneNumberError: false,
            pinError: false,
            phoneMask
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        navigatorTabsContent() {
            const { signInTab } = this.getContent('customer-sign-page');

            return signInTab;
        }
    },

    watch: {
        pin() {
            this.isSent = false;
            this.incorrectResponse = false;
        }
    },

    methods: {
        setWaitTime() {
            this.waitTime = 60;

            const countdown = setInterval(() => {
                this.waitTime--;

                if (!this.waitTime) {
                    clearInterval(countdown);
                    this.displayCountdown = false;
                }
            }, 1000);
        },

        async submitPinRequest() {
            this.$v.$touch();

            if (this.$v.phoneNumber.$invalid) {
                return;
            }

            if (
                (!this.isSent && this.$v.phoneNumber.$error) ||
                this.incorrectResponse
            ) {
                this.phoneNumberError = !this.phoneNumberError;
            }

            this.$v.phoneNumber.$touch();
            this.isSent = true;

            if (this.$v.phoneNumber.$invalid) return;

            try {
                await this.$axios.post('/auth/request-pin', {
                    phone: this.phoneNumber
                });

                this.isSent = false;
                this.isRequestedPin = true;
                this.incorrectResponse = false;
            } catch (e) {
                this.incorrectResponse = true;
                this.phoneNumberError = true;
                this.increaseLoginAttempt();
                console.error(e);
            }
        },

        async submitLogInRequest() {
            this.$v.pin.$touch();

            this.isSent = true;

            if (this.$v.pin.$invalid) {
                return;
            }

            try {
                const { data: user } = await this.$auth.loginWith('local', {
                    data: {
                        phone: this.phoneNumber,
                        pin: this.pin
                    }
                });

                this.pinError = false;

                if (
                    !user.registration_completed &&
                    user.registration &&
                    !user.registration.second_step
                ) {
                    this.$router.push(
                        user.type === 'user' ? '/signup' : 'recruiter-sign-up'
                    );

                    return;
                } else if (!user.registration.third_step) {
                    this.$router.push(
                        user.type === 'user' ? '/videocv' : 'payment'
                    );

                    return;
                }

                const path = user.type === 'user' ? '/' : '/applications';

                this.$analytics.sendGoogleTagManagerEvent({
                    event: `login ${user.type}`,
                    user
                });

                this.$router.push(path);
            } catch (e) {
                console.error(e);
                this.pinError = true;
                this.incorrectResponse = true;
            }
        },

        increaseLoginAttempt() {
            this.loginAttempt += +1;
        },

        async requestPinAgain() {
            if (this.waitTime) {
                this.displayCountdown = true;
                return;
            }

            try {
                this.isPinRequestedAgain = true;
                await this.submitPinRequest();
                this.setWaitTime();
                setTimeout(() => {
                    this.isPinRequestedAgain = false;
                }, 36000);
            } catch (e) {
                console.error(e);
            }
        }
    }
};
</script>
