<template>
    <div class="passport_details">
        <div class="form_row">
            <input
                v-model="passport.name"
                class="form_control"
                type="text"
                :placeholder="$t('labels.foreignPassports') + '*'"
                :class="{
                    'is-invalid': validationErrors.name.$error
                }"
            />
        </div>
        <div class="form_row">
            <input
                v-model="passport.country"
                class="form_control"
                type="text"
                :placeholder="
                    $t('labels.fullNameInEnglishAsItApperasInThePassport') + '*'
                "
                :class="{
                    'is-invalid': validationErrors.country.$error
                }"
            />
        </div>
        <div class="form_row">
            <div class="column_wrapper w50">
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="passport.issued_on"
                            :placeholder="
                                $t('labels.extendTheIssuanceOfAPassport')
                            "
                            :class="{
                                'is-invalid': validationErrors.issued_on.$error
                            }"
                        />
                    </div>
                </div>
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="passport.expiration_date"
                            :placeholder="$t('labels.passportExpirationDate')"
                            :class="{
                                'is-invalid':
                                    validationErrors.expiration_date.$error
                            }"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Datepicker from '@/components/elements/Datepicker';

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Datepicker
    },

    watch: {
        value: {
            handler() {
                this.passport = this.value;
            },
            immediate: true
        }
    },

    data() {
        return {
            passport: {}
        };
    }
};
</script>
