<template>
    <div class="passport_details">
        <div class="form_row">
            <input
                v-model="passport.name"
                class="form_control"
                :class="{
                    'is-invalid':
                        validationErrors.name.$error || !passportInEnglish
                }"
                type="text"
                :placeholder="
                    $t(
                        'labels.fullNameInEnglishAsItApperasInTheIsraeliPassport'
                    ) + '*'
                "
            />
            <transition name="fade">
                <small
                    v-if="!passportInEnglish"
                    :class="{
                        error: !passportInEnglish
                    }"
                >
                    {{ $t('errors.enterFullNameInEnglish') }}
                </small>
            </transition>
        </div>
        <div class="form_row">
            <div class="column_wrapper w50">
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="passport.issued_on"
                            :placeholder="
                                $t('labels.extendTheIssuanceOfAPassport') + '*'
                            "
                            :class="{
                                'is-invalid': validationErrors.issued_on.$error
                            }"
                        />
                    </div>
                </div>
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="passport.expiration_date"
                            :placeholder="
                                $t('labels.passportExpirationDate') + '*'
                            "
                            :class="{
                                'is-invalid':
                                    validationErrors.expiration_date.$error
                            }"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper w50">
                <div class="column">
                    <div class="short_question">
                        <span class="question_label"
                            >{{ $t('labels.doYouHaveAForeignPassport') }}*</span
                        >
                        <div class="radio_wrapper">
                            <label class="radio">
                                <input
                                    type="radio"
                                    v-model="passport.has_foreign_passport"
                                    :value="true"
                                />
                                <span>
                                    {{ $t('global.yes') }}
                                </span>
                            </label>
                            <label class="radio">
                                <input
                                    type="radio"
                                    v-model="passport.has_foreign_passport"
                                    :value="false"
                                />
                                <span>
                                    {{ $t('global.no') }}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="short_question">
                        <span class="question_label">
                            {{ $t('labels.visaToUsa') }}
                        </span>
                        <div class="radio_wrapper">
                            <label class="radio">
                                <input
                                    type="radio"
                                    v-model="passport.has_american_visa"
                                    :value="true"
                                />
                                <span> {{ $t('global.yes') }}</span>
                            </label>
                            <label class="radio">
                                <input
                                    type="radio"
                                    v-model="passport.has_american_visa"
                                    :value="false"
                                />
                                <span>
                                    {{ $t('global.no') }}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Datepicker from '@/components/elements/Datepicker';

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Datepicker
    },

    watch: {
        value: {
            handler() {
                this.passport = this.value;
            },
            immediate: true
        }
    },

    data() {
        return {
            passport: {},
            passportInEnglish: true
        };
    },

    methods: {
        checkIsInEnglish() {
            if (this.passport.name) {
                const position = this.passport.name.search(/[\u0590-\u05FF]/);

                if (position >= 0) {
                    this.passportInEnglish = false;

                    return;
                }

                this.passportInEnglish = true;
            }
        }
    }
};
</script>

<style scoped>
.passport_details {
    margin-bottom: 75px;
}
</style>
