<template>
    <div class="personal_zone_conntent block_shadow">
        <div class="form_wrapper">
            <div class="all_form_section">
                <div class="form_section_wrapper">
                    <div class="form_section">
                        <div
                            class="section_head"
                            :class="{ open: openFirstTab }"
                            @click="openFirstTab = !openFirstTab"
                        >
                            <div class="section_head_title">
                                <div class="head_image">
                                    <img
                                        v-full-image-path:assets="
                                            'icon_personal_information.svg'
                                        "
                                    />
                                </div>
                                <div class="head_title">
                                    {{ $t('global.personalInformation') }}
                                </div>
                            </div>
                        </div>
                        <transition name="slide-fade">
                            <div
                                class="section_content"
                                v-show="openFirstTab"
                                style="display: block"
                            >
                                <div class="icon_personal_information">
                                    <div class="form_row">
                                        <div class="column_wrapper w33">
                                            <div class="column">
                                                <input
                                                    v-model="form.first_name"
                                                    class="form_control"
                                                    type="text"
                                                    :placeholder="
                                                        $t(
                                                            'register.personalData.firstName'
                                                        ) + '*'
                                                    "
                                                    :class="{
                                                        'is-invalid':
                                                            $v.form.first_name
                                                                .$error
                                                    }"
                                                />
                                            </div>
                                            <div class="column">
                                                <input
                                                    v-model="form.last_name"
                                                    class="form_control"
                                                    type="text"
                                                    :placeholder="
                                                        $t(
                                                            'register.personalData.lastName'
                                                        ) + '*'
                                                    "
                                                    :class="{
                                                        'is-invalid':
                                                            $v.form.last_name
                                                                .$error
                                                    }"
                                                />
                                            </div>
                                            <div class="column">
                                                <input
                                                    v-model="form.email"
                                                    class="form_control"
                                                    type="email"
                                                    :placeholder="
                                                        $t(
                                                            'register.personalData.email'
                                                        ) + '*'
                                                    "
                                                    :class="{
                                                        'is-invalid':
                                                            $v.form.email.$error
                                                    }"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="column_wrapper w33">
                                            <div class="column">
                                                <masked-input
                                                    v-model="form.phone"
                                                    :dir="
                                                        form.phone
                                                            ? 'ltr'
                                                            : 'rtl'
                                                    "
                                                    class="form_control phone_form_control"
                                                    :class="{
                                                        'is-invalid':
                                                            $v.form.phone.$error
                                                    }"
                                                    :mask="phoneMask"
                                                    :guide="true"
                                                    :placeholder="
                                                        $t(
                                                            'register.personalData.mobile'
                                                        ) + '*'
                                                    "
                                                    type="tel"
                                                />
                                                <div class="info_wrapper">
                                                    <div class="info">
                                                        {{
                                                            $t(
                                                                'info.thisNumberWillBeUsedAsAMeansOfEnteringTheSite'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                    <div class="form_section">
                        <div
                            class="section_head"
                            :class="{ open: openSecondTab }"
                            @click="openSecondTab = !openSecondTab"
                        >
                            <div class="section_head_title">
                                <div class="head_image">
                                    <img
                                        v-full-image-path:assets="
                                            'icon_payment_details.svg'
                                        "
                                    />
                                </div>
                                <div class="head_title">
                                    {{ $t('global.paymentDetails') }}
                                </div>
                            </div>
                        </div>
                        <transition name="slide-fade">
                            <div
                                class="section_content"
                                v-show="openSecondTab"
                                style="display: block"
                            >
                                <div class="payment_details">
                                    <credit-cards />
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
                <div class="resume_button">
                    <unpublished-changes-alert v-if="hasUnpublishedChanges" />

                    <div class="btn_wrapper">
                        <button class="btn btn_blue btn_submit" @click="save">
                            {{ $t('buttons.saveChanges') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';
import MaskedInput from 'vue-text-mask';

import CreditCards from '@/components/account/CreditCards';
import { isValidEmail, phoneMask } from '@/helpers/helpers';
import UnpublishedChangesAlert from '@/components/elements/UnpublishedChangesAlert';

export default {
    validations: {
        form: {
            first_name: { required },
            last_name: { required },
            phone: { required },
            email: { required, isValidEmail, email }
        }
    },

    components: {
        MaskedInput,
        CreditCards,
        UnpublishedChangesAlert
    },

    async fetch() {
        const { personalInformation } = await this.getProfileInformation();
        const {
            first_name,
            last_name,
            email,
            phone,
            changes = []
        } = personalInformation;

        this.form = {
            first_name,
            last_name,
            email,
            phone
        };

        if (changes.length) {
            const [form] = changes;

            this.hasUnpublishedChanges = true;
            this.form = { ...form.value };
        }
    },

    data() {
        return {
            form: {
                first_name: null,
                last_name: null,
                phone: null,
                email: null
            },
            hasUnpublishedChanges: false,
            phoneMask,
            openFirstTab: false,
            openSecondTab: false
        };
    },

    methods: {
        ...mapActions({
            getProfileInformation: 'user/getProfileInformation',
            updateRecruiterDetails: 'user/updateRecruiterDetails'
        }),

        async save() {
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            try {
                await this.updateRecruiterDetails(this.form);

                this.$toast.success(
                    this.$t('toasts.success.profileUpdatedSuccesfully')
                );
            } catch (error) {
                this.$toast.error(
                    this.$t('toasts.errors.errorUpdatingProfile')
                );

                console.error(error);
            }
        }
    }
};
</script>
