<template>
    <div class="review">
        <div class="form_row">
            <div class="column_wrapper w33">
                <div class="column">
                    <input
                        v-model="review.company"
                        class="form_control"
                        type="text"
                        :placeholder="
                            $t('labels.nameOfCompanyInWhichYouWereEmployed') +
                                '*'
                        "
                        :class="{
                            'is-invalid': validationErrors.company.$error
                        }"
                    />
                </div>
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="review.start_date"
                            :placeholder="
                                $t(
                                    'labels.dateOfCommentcementOfTheTransaction'
                                ) + '*'
                            "
                            :class="{
                                'is-invalid': validationErrors.start_date.$error
                            }"
                        />
                    </div>
                </div>
                <div class="column">
                    <div class="date_picker_wrapper">
                        <datepicker
                            v-model="review.end_date"
                            :placeholder="
                                $t('labels.dateOfTerminationOfTheTransaction') +
                                    '*'
                            "
                            :class="{
                                'is-invalid': validationErrors.end_date.$error
                            }"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper w33">
                <div class="column">
                    <div class="select-wrapper">
                        <selectric
                            v-model="review.country"
                            :items="countries"
                            text-field="name"
                            value-field="id"
                            :placeholder="$t('global.country') + '*'"
                            :has-errors="validationErrors.country.$error"
                        />
                    </div>
                </div>

                <div class="column">
                    <div class="select-wrapper">
                        <selectric
                            v-model="review.city"
                            :items="cities"
                            text-field="name"
                            value-field="id"
                            :placeholder="$t('global.city') + '*'"
                            :has-errors="validationErrors.city.$error"
                        />
                    </div>
                </div>

                <div class="column">
                    <selectric
                        v-model="review.is_recommended"
                        :items="isRecommendedOptions"
                        :placeholder="$t('register.goldUser.joinToRecomenders') + '*'"
                        :has-errors="validationErrors.is_recommended.$error"
                    />
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="column_wrapper w33">
                <div class="column">
                    <input
                        v-model="review.phone"
                        class="form_control"
                        type="text"
                        :placeholder="
                            $t('register.goldUser.employersMobile') + '*'
                        "
                        :class="{
                            'is-invalid': validationErrors.phone.$error
                        }"
                    />
                    <small
                        v-if="validationErrors.phone.$error"
                        :class="{
                            error: validationErrors.phone.$error
                        }"
                    >
                        {{ $t('errors.invalidNumber') }}
                    </small>
                </div>
                <div class="column">
                    <input
                        v-model="review.phone_2"
                        class="form_control"
                        type="text"
                        :placeholder="
                            $t('register.goldUser.anotherEmployersMobile')
                        "
                        :class="{
                            'is-invalid': validationErrors.phone_2.$error
                        }"
                    />
                    <small
                        v-if="validationErrors.phone_2.$error"
                        :class="{
                            error: validationErrors.phone_2.$error
                        }"
                    >
                        {{ $t('errors.invalidNumber') }}
                    </small>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="label_title">
                <strong>
                    {{ $t('labels.rateOfWorkplace') }}
                </strong>
                <div class="rating_wrapper">
                    <div class="rating jsStarsRating">
                        <rating
                            v-model="review.rating"
                            :has-errors="validationErrors.rating.$error"
                        />
                    </div>
                    <div class="rating_title">
                        <span>{{ $t('register.goldUser.less') }}</span>
                        <span>{{ $t('register.goldUser.perfect') }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="label_title">
                {{ $t('register.goldUser.fewWordsAboutCompany') }}
            </div>
            <textarea
                v-model="review.content"
                class="form_control"
                rows="4"
                :class="{
                    'is-invalid': validationErrors.content.$error
                }"
            />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Selectric from '@/components/elements/Selectric';
import Datepicker from '@/components/elements/Datepicker';
import Rating from '@/components/elements/Rating';

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Rating,
        Selectric,
        Datepicker
    },
    data() {
        return {
            review: {},
            isRecommendedOptions: [
                {
                    text: this.$t('global.yes'),
                    value: true
                },
                {
                    text: this.$t('global.no'),
                    value: false
                }
            ],
            cities: []
        };
    },

    computed: {
        ...mapGetters({
            countries: 'countries/all',
            getCitiesFromCountry: 'countries/getCitiesFromCountry'
        })
    },

    watch: {
        value: {
            handler() {
                this.review = this.value;
                this.review.is_recommended = true;
            },
            immediate: true
        },
        review: {
            handler() {
                this.$emit('input', this.review);
            },
            deep: true
        },

        'review.country': {
            async handler() {
                this.cities = await this.getCitiesFromCountry(
                    this.review.country
                );
            },
            immediate: true
        }
    }
};
</script>

<style>
.review {
    margin-bottom: 75px;
}
</style>
