<template>
    <div class="personal_zone_sidear block_shadow">
        <div class="sidear_head">
            <button
                class="btn_sidear_menu"
                :class="{ open: showMenu }"
                @click="showMenu = !showMenu"
                type="button"
            >
                <span />
            </button>
            <div class="user_control">
                <div class="user_image_wrapper">
                    <label class="user_no_image">
                        <input
                            type="file"
                            name="user_image"
                            accept="image/*"
                            @change="imageChange"
                        />
                        <div class="user_no_image_inner">
                            <div
                                v-if="showImage || hasImageChanged"
                                class="user_has_image image_has"
                                v-full-background-image-path:media="image"
                                :key="image.id"
                            />

                            <div v-else class="user_has_image image_has" />
                        </div>
                    </label>
                </div>

                <div class="user_content">
                    <div class="user_name">
                        {{ $t('global.peace') }}, {{ loggedUser.first_name }}
                        {{ loggedUser.last_name }}
                    </div>
                    <div class="text_welcome">
                        {{ $t('global.welcomeToYourPersonalArea') }}
                    </div>
                    <a class="btn_exit" @click.prevent="logout">
                        {{ $t('buttons.disengagement') }}
                    </a>
                </div>
            </div>
        </div>

        <div class="sidear_body">
            <div class="sidear_menu">
                <ul>
                    <li>
                        <nuxt-link to="/personal-zone">
                            {{ $t('links.inquiryStatus') }}
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/personal-zone/details">
                            {{ $t('global.personalInformation') }}
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/personal-zone/video">
                            {{ $t('global.accoutingVideo') }}
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            showMenu: false,
            image: {
                id: null
            },
            hasImageChanged: false
        };
    },
    computed: {
        ...mapGetters(['loggedUser']),
        showImage() {
            return this.loggedUser && this.loggedUser.image;
        }
    },
    watch: {
        showMenu() {
            const $ = window.jQuery;
            $('.sidear_body').slideToggle(300);
        }
    },
    mounted() {
        if (this.showImage) {
            this.image = this.loggedUser.image;
        }
    },
    methods: {
        ...mapActions({
            changeImage: 'user/updateImage'
        }),

        async logout() {
            await this.$auth.logout();

            this.$router.push('/');
        },

        async imageChange(event) {
            const image = event.target.files[0];
            const formData = new FormData();

            formData.append('image', image);

            try {
                const data = await this.changeImage(formData);

                this.image = data;
                this.hasImageChanged = true;
                this.$toast.success(
                    this.$t('toasts.success.imageUpdatedSuccessfully')
                );
            } catch (error) {
                console.error(error);
                this.$toast.error(
                    this.$t('toasts.errors.errorUpdatingImageTryLater')
                );
            }
        }
    }
};
</script>
