<template>
    <div class="personal_zone_conntent block_shadow">
        <div class="form_wrapper">
            <div class="all_form_section">
                <div class="form_section_wrapper" :key="isReady">
                    <section-personal-information
                        v-model="personalInformation"
                        :validation-errors="$v.personalInformation"
                    />

                    <section-passport-details
                        v-model="passportDetails"
                        :validation-errors="$v.passportDetails"
                    />

                    <section-more-details
                        v-model="moreDetails"
                        :validation-errors="$v.moreDetails"
                    />

                    <section-gold-user
                        v-if="isGoldUser"
                        v-model="reviews"
                        :validation-errors="$v.reviews"
                    />
                </div>

                <div class="resume_button">
                    <div class="btn_wrapper">
                        <div class="btn btn_blue btn_submit" @click="save">
                            {{ $t('buttons.saveChanges') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import SectionGoldUser from '@/components/personal-zone/sections/GoldUser';
import SectionMoreDetails from '@/components/personal-zone/sections/MoreDetails';
import SectionPassportDetails from '@/components/personal-zone/sections/PassportDetails';
import SectionPersonalInformation from '@/components/personal-zone/sections/PersonalInformation';

import reviewsValidation from '@/components/personal-zone/validation/ReviewsValidation';
import moreDetailsValidation from '@/components/personal-zone/validation/MoreDetails';
import passportDetailsValidation from '@/components/personal-zone/validation/PassportDetails';
import personalInformationValidation from '@/components/personal-zone/validation/PersonalInformation';

const ONE_TO_SIX_MONTHS_EXPERIENCE = '1-6m';

export default {
    components: {
        SectionGoldUser,
        SectionMoreDetails,
        SectionPassportDetails,
        SectionPersonalInformation
    },

    validations: {
        reviews: reviewsValidation,
        moreDetails: moreDetailsValidation,
        passportDetails: passportDetailsValidation,
        personalInformation: personalInformationValidation
    },

    data() {
        return {
            reviews: [],
            moreDetails: {},
            passportDetails: [],
            personalInformation: {},
            isReady: false
        };
    },

    mounted() {
        this.fetchData();
    },

    // @ TODO refactor that watch, two diffrent fields do that same

    watch: {
        'moreDetails.experience': {
            handler() {
                if (
                    !!this.moreDetails.experience &&
                    this.moreDetails.experience !==
                        ONE_TO_SIX_MONTHS_EXPERIENCE &&
                    this.moreDetails.experience_job_type
                ) {
                    this.setGoldUser(true);

                    if (!this.reviews.length) {
                        this.reviews.push({});
                    }
                } else {
                    this.setGoldUser(false);

                    if (this.reviews.length) {
                        this.reviews.pop();
                    }
                }
            }
        },

        'moreDetails.experience_job_type': {
            handler() {
                if (
                    !!this.moreDetails.experience &&
                    this.moreDetails.experience !==
                        ONE_TO_SIX_MONTHS_EXPERIENCE &&
                    this.moreDetails.experience_job_type
                ) {
                    this.setGoldUser(true);

                    if (!this.reviews.length) {
                        this.reviews.push({});
                    }
                } else {
                    this.setGoldUser(false);

                    if (this.reviews.length) {
                        this.reviews.pop();
                    }
                }
            }
        }
    },

    computed: {
        ...mapGetters({
            isGoldUser: 'user/isGoldUser'
        })
    },

    methods: {
        ...mapActions({
            updateUserDetails: 'user/updateUserDetails',
            getProfileInformation: 'user/getProfileInformation'
        }),

        ...mapMutations({
            setGoldUser: 'user/SET_GOLD_USER'
        }),

        async fetchData() {
            const {
                reviews,
                moreDetails,
                passportDetails,
                personalInformation
            } = await this.getProfileInformation();

            moreDetails.hasExperience = !!moreDetails.experience;

            this.reviews = reviews;
            this.moreDetails = moreDetails;
            this.passportDetails = passportDetails;
            this.personalInformation = personalInformation;
            this.isReady = true;
        },

        async save() {
            this.$v.$touch();

            if (this.$v.$invalid) {
                this.$toast.error(this.$t('toasts.errors.enterCorrectData'));

                return;
            }

            try {
                const {
                    reviews,
                    moreDetails,
                    passportDetails,
                    personalInformation
                } = await this.updateUserDetails({
                    reviews: this.reviews,
                    details: this.moreDetails,
                    passports: this.passportDetails,
                    personal: this.personalInformation
                });

                moreDetails.hasExperience = !!moreDetails.experience;

                this.reviews = reviews;
                this.moreDetails = moreDetails;
                this.passportDetails = passportDetails;
                this.personalInformation = personalInformation;

                this.$toast.success(
                    this.$t('toasts.success.profileUpdatedSuccesfully')
                );
            } catch (error) {
                this.$toast.error(
                    this.$t('toasts.errors.errorUpdatingProfile')
                );

                console.error(error);
            }
        }
    }
};
</script>
