<template>
    <div class="main personal_zone">
        <div class="b_personal_zone">
            <div class="container">
                <div class="personal_zone_wrapper">
                    <sidebar />
                    <div class="personal_zone_conntent block_shadow">
                        <div class="conntent_wrapper">
                            <div class="contact_information">
                                <p>{{ content.text }}</p>
                            </div>
                            <div v-if="companies.length" class="leads_setting">
                                <div class="form_row_wrapper">
                                    <div class="form_row">
                                        <div class="column_wrapper w50">
                                            <div class="column">
                                                <div class="label_title">
                                                    {{ $t('global.society') }}
                                                </div>
                                                <div class="select_wrapper">
                                                    <selectric
                                                        v-model="company"
                                                        :items="
                                                            companiesOptions
                                                        "
                                                        :placeholder="
                                                            $t('global.society')
                                                        "
                                                        :select-placeholder="
                                                            false
                                                        "
                                                    />
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="label_title">
                                                    {{
                                                        $t(
                                                            'labels.restrictionsOnBithsOnAWeeklyBasis'
                                                        )
                                                    }}
                                                </div>
                                                <div
                                                    id="leadsSelect"
                                                    class="select_wrapper"
                                                >
                                                    <selectric
                                                        v-model="leadsLimit"
                                                        :items="
                                                            leadsLimitOptions
                                                        "
                                                        :placeholder="
                                                            $t(
                                                                'labels.restrictionsOnBithsOnAWeeklyBasis'
                                                            )
                                                        "
                                                        :select-placeholder="
                                                            false
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="label_title">
                                            {{
                                                $t(
                                                    'labels.ageRangeRestrictions'
                                                )
                                            }}
                                        </div>
                                        <div class="column_wrapper w50">
                                            <div class="column">
                                                <div class="select_wrapper">
                                                    <selectric
                                                        v-model="minimumAge"
                                                        :items="minAgeOptions"
                                                        :placeholder="
                                                            $t(
                                                                'labels.selectMinimumAge'
                                                            )
                                                        "
                                                        :select-placeholder="
                                                            false
                                                        "
                                                    />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="select_wrapper">
                                                    <selectric
                                                        v-model="maximumAge"
                                                        :items="maxAgeOptions"
                                                        :placeholder="
                                                            $t(
                                                                'labels.selectMaximumAge'
                                                            )
                                                        "
                                                        :select-placeholder="
                                                            false
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="column_wrapper w50">
                                            <div class="column">
                                                <div class="label_title">
                                                    {{ $t('labels.gender') }}
                                                </div>
                                                <div class="gender_wrapper">
                                                    <div class="gender_label">
                                                        {{ $t('labels.sex') }}
                                                    </div>
                                                    <div class="gender_item">
                                                        <label
                                                            class="gender_radio"
                                                        >
                                                            <input
                                                                type="checkbox"
                                                                v-model="male"
                                                                :value="true"
                                                                name="gender_male"
                                                            />
                                                            <span
                                                                class="radio_decor"
                                                            >
                                                                <icon-gender-male />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="gender_item">
                                                        <label
                                                            class="gender_radio"
                                                        >
                                                            <input
                                                                type="checkbox"
                                                                v-model="female"
                                                                :value="true"
                                                                name="gender_female"
                                                            />
                                                            <span
                                                                class="radio_decor"
                                                            >
                                                                <icon-gender-female />
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="label_title">
                                                    {{ $t('labels.visaToUsa') }}
                                                </div>
                                                <div class="radio_wrapper">
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasAmericanVisa
                                                            "
                                                            type="radio"
                                                            name="has_american_visa"
                                                            :value="true"
                                                        />
                                                        <span>
                                                            {{
                                                                $t('global.yes')
                                                            }}
                                                        </span>
                                                    </label>
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasAmericanVisa
                                                            "
                                                            type="radio"
                                                            name="has_american_visa"
                                                            :value="false"
                                                        />
                                                        <span>
                                                            {{
                                                                $t('global.no')
                                                            }}
                                                        </span>
                                                    </label>
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasAmericanVisa
                                                            "
                                                            type="radio"
                                                            name="has_american_visa"
                                                            :value="null"
                                                        />
                                                        <span>
                                                            {{
                                                                $t(
                                                                    'global.both'
                                                                )
                                                            }}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="column_wrapper w50">
                                            <div class="column">
                                                <div class="label_title">
                                                    {{
                                                        $t(
                                                            'labels.holdersOfForeignPassport'
                                                        )
                                                    }}
                                                </div>
                                                <div class="radio_wrapper">
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasForeignPassport
                                                            "
                                                            type="radio"
                                                            name="has_foreign_passport"
                                                            :value="true"
                                                        />
                                                        <span>
                                                            {{
                                                                $t('global.yes')
                                                            }}
                                                        </span>
                                                    </label>
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasForeignPassport
                                                            "
                                                            type="radio"
                                                            name="has_foreign_passport"
                                                            :value="false"
                                                        />
                                                        <span>
                                                            {{
                                                                $t('global.no')
                                                            }}
                                                        </span>
                                                    </label>
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                hasForeignPassport
                                                            "
                                                            type="radio"
                                                            name="has_foreign_passport"
                                                            :value="null"
                                                        />
                                                        <span>
                                                            {{
                                                                $t(
                                                                    'global.both'
                                                                )
                                                            }}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="label_title">
                                                    {{ $t('global.goldUser') }}
                                                </div>
                                                <div class="radio_wrapper">
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                goldUsersOnly
                                                            "
                                                            type="radio"
                                                            name="gold_users_only"
                                                            :value="true"
                                                        />
                                                        <span>
                                                            {{
                                                                $t(
                                                                    'labels.goldUsersOnly'
                                                                )
                                                            }}
                                                        </span>
                                                    </label>
                                                    <label class="radio">
                                                        <input
                                                            v-model="
                                                                goldUsersOnly
                                                            "
                                                            type="radio"
                                                            name="gold_users_only"
                                                            :value="false"
                                                        />
                                                        <span>
                                                            {{
                                                                $t(
                                                                    'global.both'
                                                                )
                                                            }}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="label_title">
                                            {{
                                                $t('labels.flightAvailability')
                                            }}
                                        </div>
                                        <div class="checkbox_wrapper">
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                    id="availability-1"
                                                    v-model="availability"
                                                    :value="'immediate'"
                                                />
                                                <span>
                                                    {{ $t('labels.immediate') }}
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                    id="availability-2"
                                                    v-model="availability"
                                                    :value="'1-3m'"
                                                />
                                                <span
                                                    >1-3
                                                    {{
                                                        $t(
                                                            'labels.monthsFromToday'
                                                        )
                                                    }}</span
                                                >
                                            </label>
                                            <label class="checkbox">
                                                <input
                                                    type="checkbox"
                                                    id="availability-3"
                                                    v-model="availability"
                                                    :value="'3-6m'"
                                                />
                                                <span
                                                    >3-6
                                                    {{
                                                        $t(
                                                            'labels.monthsFromToday'
                                                        )
                                                    }}</span
                                                >
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <unpublished-changes-alert
                                    v-if="hasUnpublishedChanges"
                                />
                                <div class="btn_wrapper">
                                    <div class="btn btn_blue" @click="save">
                                        {{ $t('buttons.saveChanges') }}
                                    </div>
                                </div>
                            </div>

                            <div v-else class="company-info">
                                <p>
                                    {{ $t('info.youDontHaveAnyCompany') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import range from 'lodash/range';
import { mapActions, mapGetters } from 'vuex';

import Sidebar from '@/components/recruiter-zone/Sidebar';
import Selectric from '@/components/elements/Selectric';
import Datepicker from '@/components/elements/Datepicker';
import IconGenderMale from '@/components/svg/icon-gender-male';
import IconGenderFemale from '@/components/svg/icon-gender-female';
import UnpublishedChangesAlert from '@/components/elements/UnpublishedChangesAlert';

const MINIMUM_ALLOWED_AGE = 17;
const MAXIMUM_ALLOWED_AGE = 80;

const minAgeOptions = range(MINIMUM_ALLOWED_AGE, MAXIMUM_ALLOWED_AGE + 1);
const maxAgeOptions = range(MAXIMUM_ALLOWED_AGE, MINIMUM_ALLOWED_AGE - 1);

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    middleware: 'auth',

    components: {
        Sidebar,
        Selectric,
        Datepicker,
        IconGenderMale,
        IconGenderFemale,
        UnpublishedChangesAlert
    },

    async asyncData({ store, query }) {
        try {
            let company = null;
            const companies = await store.dispatch('user/getCompanies');

            if (!companies.length) {
                return {
                    company,
                    companies: [],
                    companiesOptions: []
                };
            }

            const companiesOptions = companies.map(company => ({
                text: company.name,
                value: company
            }));

            if (companies.length) {
                if (query.company) {
                    company = companies.find(item => item.id === query.company);
                }

                if (!company) {
                    company = companies[0];
                }
            }

            return {
                company,
                companies,
                companiesOptions
            };
        } catch (err) {
            console.error(err);
        }

        return {};
    },

    data() {
        return {
            male: true,
            female: true,
            minimumAge: 17,
            maximumAge: 80,
            leadsLimit: null,
            availability: [],
            goldUsersOnly: false,
            hasAmericanVisa: null,
            hasForeignPassport: null,
            minAgeOptions,
            maxAgeOptions,
            leadsLimitOptions: [
                {
                    text: '0',
                    value: 0
                },
                {
                    text: '1',
                    value: 1
                },
                {
                    text: '2',
                    value: 2
                },
                {
                    text: '3',
                    value: 3
                },
                {
                    text: '4',
                    value: 4
                },
                {
                    text: '5',
                    value: 5
                },
                {
                    text: '10',
                    value: 10
                },
                {
                    text: '20',
                    value: 20
                },
                {
                    text: '30',
                    value: 30
                },
                {
                    text: 'לא‌ ‌הגבלה‌',
                    value: null
                }
            ]
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        hasUnpublishedChanges() {
            if (!this.company.filter) {
                return false;
            }

            return this.company.filter.changes.length;
        },

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('edit-company-leads-filter-page');
        },

        managesMultipleCompanies() {
            return this.companies.length > 1;
        },

        sex() {
            if (this.male === this.female) {
                return null;
            }

            return this.male ? 'm' : 'f';
        }
    },

    watch: {
        company: {
            handler() {
                if (!this.company) {
                    return;
                }

                let { filter } = this.company;

                const [unpublishedChanges = null] = filter.changes;

                if (unpublishedChanges) {
                    filter = {
                        ...filter,
                        ...unpublishedChanges.value
                    };
                }

                this.setCompanyFilter(filter);
            },
            deep: true,
            immediate: true
        }
    },

    methods: {
        ...mapActions({
            updateFilter: 'company/updateFilter'
        }),

        setCompanyFilter(filter) {
            const {
                sex,
                leads_limit,
                minimum_age,
                maximum_age,
                availability,
                gold_users_only,
                has_american_visa,
                has_foreign_passport
            } = filter;

            this.leadsLimit = leads_limit;
            this.minimumAge = minimum_age;
            this.maximumAge = maximum_age;
            this.availability = availability;
            this.goldUsersOnly = gold_users_only;
            this.hasAmericanVisa = has_american_visa;
            this.hasForeignPassport = has_foreign_passport;

            this.setSexOptions(sex);
        },

        setSexOptions(value) {
            if (!value) {
                this.male = true;
                this.female = true;

                return;
            }

            this.male = value === 'm';
            this.female = !this.male;
        },

        async save() {
            const data = {
                sex: this.sex,
                leads_limit: this.leadsLimit,
                minimum_age: this.minimumAge,
                maximum_age: this.maximumAge,
                availability: this.availability,
                gold_users_only: this.goldUsersOnly,
                has_american_visa: this.hasAmericanVisa,
                has_foreign_passport: this.hasForeignPassport
            };

            try {
                await this.updateFilter({
                    id: this.company.id,
                    data
                });

                this.$toast.success(
                    this.$t('toasts.success.filtersHaveBeenUpdatedSuccessfully')
                );
            } catch (error) {
                this.$toast.error(
                    this.$t('toasts.errors.filtersCouldNotHaveBeenUpdated')
                );

                console.error(error);
            }
        }
    }
};
</script>
