<template>
    <div>
        <div class="main main-min-height">
            <div :key="company.id" class="b_company_profile">
                <main-profile
                    :class="{
                        animation: animationDone,
                        fadeEffect: animationDone
                    }"
                    :style="{ animationDelay: '0.2s' }"
                    :logo="company.companyLogo"
                    :promote-video="promoteVideo"
                    :logged-in="loggedIn"
                    :application="application"
                    :application-credits="
                        loggedUser ? loggedUser.application_credits : 3
                    "
                    @applicationUpdate="applicationUpdate"
                    @openModal="openModal"
                    @refreshCompany="refreshCompany"
                />

                <component
                    class="animation fadeEffect"
                    :style="[
                        animationDone
                            ? { animationDelay: '0.4s' }
                            : { animationDelay: '0s' }
                    ]"
                    :is="
                        loggedIn && application
                            ? 'Content'
                            : 'ContentNotAvailable'
                    "
                    :logged-in="loggedIn"
                    :logo="company.companyLogo"
                    :country="company.country.name"
                    :city="company.city.name"
                    :about-company="company.about"
                    :office-nature="company.office_nature"
                    :working-environment="company.working_environment"
                    :promote-image="company.promoteImage"
                    :facebook-link="company.facebook_link"
                    :instagram-link="company.instagram_link"
                    :reviews="company.reviews"
                />
            </div>
        </div>
        <modal
            ref="modalComponent"
            :company-name="company.name"
            @close="closeModal"
        />
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

import config from '@/config';
import Modal from '@/components/company-single/Modal';
import Content from '@/components/company-single/Content';
import MainProfile from '@/components/company-single/MainProfile';
import ContentNotAvailable from '@/components/company-single/ContentNotAvailable';

export default {
    transition: 'slide-fade',

    components: {
        MainProfile,
        ContentNotAvailable,
        Modal,
        Content
    },

    async asyncData({ store, route }) {
        try {
            const { slug } = route.params;
            const loggedUser = store.getters.loggedUser;

            const loggedIn = loggedUser && loggedUser.registration_completed;

            if (loggedIn) {
                const { company, application } = await store.dispatch(
                    'company/getCompanyBySlug',
                    slug
                );

                return {
                    slug,
                    company,
                    application,
                    loggedIn,
                    loggedUser
                };
            } else {
                const { company } = await store.dispatch(
                    'company/getCompanyBySlugLocked',
                    slug
                );

                return {
                    company,
                    loggedIn,
                    loggedUser
                };
            }
        } catch (error) {
            console.error(error);
        }

        return {};
    },

    data() {
        return {
            animationDone: true
        };
    },

    computed: {
        promoteVideo() {
            if (this.company.promote_video.includes('.')) {
                return `${config.mediaBaseUrl}/media/videos/users/${this.company.promote_video}`;
            }

            return this.company.promote_video;
        }
    },

    mounted() {
        setTimeout(() => {
            this.animationDone = !this.animationDone;
        }, 2000);
    },

    methods: {
        ...mapActions({
            getCompany: 'company/getCompanyBySlug'
        }),

        applicationUpdate(application) {
            this.application = application;
        },

        openModal() {
            this.$refs.modalComponent.openModal();
        },

        async refreshCompany() {
            const { slug } = this.$route.params;

            const { company } = await this.getCompany(slug);
            this.company = company;
        },

        closeModal() {
            this.$router.push(`/company/${this.slug}#single-content-id`);
        }
    }
};
</script>
