<template>
    <div class="main personal_zone">
        <div class="b_personal_zone" :class="{ cursorProgress: showLoader }">
            <div class="container">
                <div class="personal_zone_wrapper">
                    <sidebar />
                    <div class="personal_zone_conntent block_shadow">
                        <div v-if="companies.length" class="company_details">
                            <div class="company_details_head">
                                <div class="details_head">
                                    <div class="select_wrapper">
                                        <selectric
                                            v-model="company"
                                            :items="companiesOptions"
                                        />
                                    </div>
                                    <nuxt-link
                                        class="btn_add_company link_add"
                                        to="/recruiter-sign-up"
                                    >
                                        {{ $t('links.addAnotherCompany') }}
                                    </nuxt-link>
                                </div>
                            </div>
                            <div class="company_details_body">
                                <div class="form_row">
                                    <div class="column_wrapper w33">
                                        <div class="column">
                                            <input
                                                v-model="name"
                                                class="form_control success"
                                                type="text"
                                            />
                                        </div>
                                        <div class="column">
                                            <selectric
                                                v-model="country_id"
                                                :items="countries"
                                                text-field="name"
                                                value-field="id"
                                                class="success"
                                            />
                                        </div>
                                        <div class="column">
                                            <selectric
                                                v-model="city_id"
                                                :items="cities"
                                                text-field="name"
                                                value-field="id"
                                                class="success"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <div class="column_wrapper w33">
                                        <div class="column">
                                            <div class="attached_files_wrap">
                                                <input
                                                    :value="
                                                        typeof promote_video ===
                                                        'string'
                                                            ? promote_video
                                                                  .split('/')
                                                                  .pop()
                                                            : promote_video.name
                                                    "
                                                    class="form_control success"
                                                    type="text"
                                                    readonly
                                                />

                                                <input
                                                    id="promoteVideoUpload"
                                                    type="file"
                                                    accept="video/*"
                                                    hidden
                                                    @change="selectPromoteVideo"
                                                />

                                                <a
                                                    class="btn_inspection"
                                                    @click.prevent="
                                                        choosePromoteVideo
                                                    "
                                                >
                                                    {{
                                                        $t('buttons.inspection')
                                                    }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="attached_files_wrap">
                                                <input
                                                    :value="
                                                        hasPromoteImageChanged
                                                            ? promote_image.name
                                                            : promoteImage.name
                                                    "
                                                    class="form_control success"
                                                    type="text"
                                                    readonly
                                                />
                                                <input
                                                    id="promoteImageUpload"
                                                    type="file"
                                                    accept="image/*"
                                                    hidden
                                                    @change="selectPromoteImage"
                                                />
                                                <a
                                                    class="btn_inspection"
                                                    @click.prevent="
                                                        choosePromoteImage
                                                    "
                                                >
                                                    {{
                                                        $t('buttons.inspection')
                                                    }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="attached_files_wrap">
                                                <input
                                                    :value="
                                                        hasCompanyLogoChanged
                                                            ? company_logo.name
                                                            : companyLogo.name
                                                    "
                                                    class="form_control success"
                                                    type="text"
                                                    readonly
                                                />

                                                <input
                                                    id="companyLogoUpload"
                                                    type="file"
                                                    accept="image/*"
                                                    hidden
                                                    @change="selectCompanyLogo"
                                                />

                                                <a
                                                    class="btn_inspection"
                                                    @click.prevent="
                                                        chooseCompanyLogo
                                                    "
                                                >
                                                    {{
                                                        $t('buttons.inspection')
                                                    }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="column_wrapper w33">
                                        <div class="column">
                                            <div class="social_input_wrapper">
                                                <input
                                                    v-model="facebook_link"
                                                    class="form_control success"
                                                    type="text"
                                                />
                                                <div class="social_icon">
                                                    <img
                                                        v-full-image-path:assets="
                                                            'icon_facebook.svg'
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="social_input_wrapper">
                                                <input
                                                    v-model="instagram_link"
                                                    class="form_control success"
                                                    type="text"
                                                />
                                                <div class="social_icon">
                                                    <img
                                                        v-full-image-path:assets="
                                                            'input_instagram.svg'
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="label_title">
                                        {{ $t('labels.aboutTheCompany') }}*
                                    </div>
                                    <textarea
                                        v-model="about"
                                        class="form_control success"
                                        name
                                        rows="4"
                                    />
                                </div>
                                <div class="form_row">
                                    <div class="label_title">
                                        {{
                                            $t(
                                                'labels.residenceAndWorkEnvironment'
                                            )
                                        }}*
                                    </div>
                                    <textarea
                                        v-model="working_environment"
                                        class="form_control success"
                                        name
                                        rows="4"
                                    />
                                </div>
                                <div class="form_row">
                                    <div class="label_title">
                                        {{
                                            $t(
                                                'labels.natureOfThePositionAndTermsOfEmployment'
                                            )
                                        }}*
                                    </div>
                                    <textarea
                                        v-model="office_nature"
                                        class="form_control success"
                                        name
                                        rows="4"
                                    />
                                </div>
                            </div>

                            <unpublished-changes-alert
                                v-if="
                                    hasUnpublishedChanges || unpublishedChanges
                                "
                            />

                            <div class="company_details_foot">
                                <button
                                    type="button"
                                    class="btn btn_blue"
                                    @click.prevent="save"
                                    :disabled="showLoader"
                                >
                                    {{
                                        showLoader
                                            ? $t('buttons.savingChanges')
                                            : $t('buttons.saveChanges')
                                    }}
                                </button>
                                <a
                                    class="btn_delete jsDeleteCompanyInfo"
                                    href="#deleteCompanyInfo"
                                >
                                    {{ $t('buttons.deleteCompany') }}
                                </a>
                            </div>
                        </div>

                        <div
                            v-else
                            class="company-info"
                            style="margin-top: 40px;"
                        >
                            <p>
                                {{ $t('info.youDontHaveAnyCompany') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            v-if="company"
            class="b_modal xs_modal single_content mfp-hide zoom-anim-dialog"
            id="deleteCompanyInfo"
        >
            <div class="modal_content">
                <div class="icon_delete"></div>
                <div class="modal_title">
                    {{ $t('modals.title.deleteCompany') }} {{ company.name }} ?
                </div>
                <div class="btn_wrapper">
                    <a
                        class="btn btn_gray_empty"
                        @click.prevent="removeCompany"
                        >{{ $t('global.yes') }}</a
                    >
                    <a class="btn btn_gray_empty" @click.prevent="closePopup">{{
                        $t('global.no')
                    }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import selectOptions from '@/helpers/selectOptions';
import Selectric from '@/components/elements/Selectric';
import Sidebar from '@/components/recruiter-zone/Sidebar';
import UnpublishedChangesAlert from '@/components/elements/UnpublishedChangesAlert';

export default {
    components: {
        Sidebar,
        Selectric,
        UnpublishedChangesAlert
    },

    async asyncData({ store, query }) {
        try {
            let company = null;
            const companies = await store.dispatch('user/getCompanies');

            if (!companies.length) {
                return {
                    company,
                    companies: [],
                    companiesOptions: []
                };
            }

            const companiesOptions = companies.map(company => ({
                text: company.name,
                value: company
            }));

            if (companies.length) {
                if (query.company) {
                    company = companies.find(item => item.id === query.company);
                }

                if (!company) {
                    company = companies[0];
                }
            }

            return {
                company,
                companies,
                companiesOptions
            };
        } catch (error) {
            console.error(error);
        }

        return {};
    },

    data() {
        return {
            name: null,
            country_id: null,
            city_id: null,
            company_logo: null,
            promote_video: null,
            promote_image: null,
            promoteImage: null,
            facebook_link: null,
            instagram_link: null,
            about: null,
            working_environment: null,
            office_nature: null,
            cities: [],
            hasPromoteVideoChanged: false,
            hasPromoteImageChanged: false,
            hasCompanyLogoChanged: false,
            unpublishedChanges: false,
            showLoader: false
        };
    },

    watch: {
        company: {
            handler() {
                if (!this.company) {
                    return;
                }

                let details = this.company;
                const [unpublishedChanges = null] = this.company.changes;

                if (unpublishedChanges) {
                    details = {
                        ...this.company,
                        ...unpublishedChanges.value
                    };
                }

                this.setCompanyDetails(details);
            },
            deep: true,
            immediate: true
        },

        country_id: {
            async handler() {
                this.cities = this.getCitiesFromCountry(this.country_id);
            },
            immediate: true
        }
    },

    computed: {
        ...mapGetters({
            countries: 'countries/all',
            getCitiesFromCountry: 'countries/getCitiesFromCountry'
        }),

        hasUnpublishedChanges() {
            return this.company.changes.length;
        },

        promoteVideo() {
            return this.company.promote_video.split('/').pop();
        }
    },

    mounted() {
        const $ = window.jQuery;

        $('.jsCloseModal').on('click', function() {
            $(this)
                .parents('.b_modal')
                .magnificPopup('close');
        });

        $('.jsDeleteCompanyInfo').magnificPopup({
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom',
            enableEscapeKey: false,
            closeOnBgClick: false,
            showCloseBtn: false
        });
    },

    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        ...mapActions({
            updateCompany: 'company/update',
            deleteCompany: 'company/delete'
        }),

        setCompanyDetails(details) {
            const {
                name,
                country_id,
                city_id,
                company_logo,
                companyLogo,
                promote_video,
                promote_image,
                promoteImage,
                facebook_link,
                instagram_link,
                about,
                working_environment,
                office_nature
            } = details;

            this.name = name;
            this.country_id = country_id;
            this.city_id = city_id;
            this.company_logo = company_logo;
            this.companyLogo = companyLogo;
            this.promote_video = promote_video;
            this.promote_image = promote_image;
            this.promoteImage = promoteImage;
            this.facebook_link = facebook_link;
            this.instagram_link = instagram_link;
            this.about = about;
            this.working_environment = working_environment;
            this.office_nature = office_nature;
        },

        async save() {
            const company = new FormData();
            const keys = [
                'name',
                'country_id',
                'city_id',
                'company_logo',
                'companyLogo',
                'promote_video',
                'promote_image',
                'promoteImage',
                'facebook_link',
                'instagram_link',
                'about',
                'working_environment',
                'office_nature'
            ];

            for (const key of keys) {
                company.append(key, this[key]);
            }

            if (!this.hasPromoteVideoChanged) {
                company.delete('promote_video');
            }

            if (!this.hasPromoteImageChanged) {
                company.delete('promote_image');
            }

            if (!this.hasCompanyLogoChanged) {
                company.delete('company_logo');
            }

            try {
                this.showLoader = true;
                await this.updateCompany({ id: this.company.id, company });
                this.showLoader = false;
                this.unpublishedChanges = true;
                this.$toast.success(
                    this.$t('toasts.success.companyDetailsUpdatedSuccessfully')
                );
            } catch (error) {
                this.unpublishedChanges = false;
                this.$toast.error(
                    this.$t('toasts.errors.companyCouldNotHaveBeenUpdated')
                );
                console.error(error);
            }
        },

        async removeCompany() {
            try {
                await this.deleteCompany(this.company.id);

                const index = this.companies.findIndex(
                    i => i.id === this.company.id
                );

                if (~index) {
                    this.companies.splice(index, 1);
                    this.companiesOptions.splice(index, 1);

                    if (this.companies.length) {
                        this.company = this.companies[0];
                    }
                }

                this.closePopup();
            } catch (error) {
                console.error(error);
                this.closePopup();
            }
        },

        closePopup() {
            const $ = window.jQuery;

            $.magnificPopup.close();
        },

        choosePromoteVideo() {
            document.getElementById('promoteVideoUpload').click();
        },

        choosePromoteImage() {
            document.getElementById('promoteImageUpload').click();
        },

        chooseCompanyLogo() {
            document.getElementById('companyLogoUpload').click();
        },

        selectPromoteVideo(event) {
            this.promote_video = event.target.files[0];
            this.hasPromoteVideoChanged = true;
        },

        selectPromoteImage(event) {
            this.promote_image = event.target.files[0];
            this.hasPromoteImageChanged = true;
        },

        selectCompanyLogo(event) {
            this.company_logo = event.target.files[0];
            this.hasCompanyLogoChanged = true;
        }
    }
};
</script>

<style lang="scss" scoped>
.cursorProgress {
    cursor: progress;
}
</style>
