<template>
    <header class="b_header">
        <div class="header">
            <div class="container">
                <div class="header_wrapper" v-if="isReady">
                    <button
                        class="menu_toggler jsMenu"
                        @click="toggleMobileMenu"
                    >
                        <span class="toggler_top" />
                        <span class="toggler_middle" />
                        <span class="toggler_bottom" />
                    </button>
                    <div class="menu_wrapper">
                        <div class="menu_wrapper_inner">
                            <div class="menu">
                                <ul>
                                    <li
                                        v-for="(item,
                                        i) in headerContent.menuItems"
                                        :key="i"
                                    >
                                        <nuxt-link
                                            :to="item.link"
                                            @click.native="
                                                toggleMobileMenu('link')
                                            "
                                        >
                                            {{
                                                item.link === '/jobs' &&
                                                isCompanyUser
                                                    ? ''
                                                    : item.text
                                            }}
                                        </nuxt-link>
                                    </li>
                                </ul>
                            </div>
                            <div class="phone_wrapper">
                                <a
                                    class="phone_link"
                                    :href="`tel:${headerContent.phoneNumber}`"
                                >
                                    {{ headerContent.phoneNumber }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header_logo">
                        <nuxt-link class="link_logo" to="/">
                            <picture v-full-image-path="headerContent.logo" />
                        </nuxt-link>
                    </div>
                    <div v-if="loggedIn" class="left_part">
                        <div class="user_control">
                            <nuxt-link
                                class="user_link"
                                :to="
                                    isCompanyUser
                                        ? '/applications'
                                        : '/personal-zone/'
                                "
                            >
                                {{ $t('header.hi') }}
                                {{ user.first_name }}
                            </nuxt-link>
                        </div>
                        <nuxt-link
                            v-if="!isCompanyUser"
                            class="btn btn_blue"
                            to="/jobs"
                        >
                            {{ $t('header.blueButton') }}
                        </nuxt-link>
                    </div>
                    <div v-else class="left_part">
                        <div class="user_control">
                            <div class="not_login_control">
                                <ul>
                                    <li>
                                        <nuxt-link to="/login#enrollment">
                                            {{ $t('global.enrollment') }}
                                        </nuxt-link>
                                    </li>
                                    <li>
                                        <nuxt-link to="/login">
                                            {{ $t('global.login') }}
                                        </nuxt-link>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <nuxt-link class="btn btn_blue" to="/login">
                            {{ $t('links.letsFly') }}
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {
            isReady: false
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            isCompanyUser: 'isCompanyUser',
            user: 'loggedUser'
        }),

        headerContent() {
            return this.getContent('header-component');
        },

        loggedIn() {
            if (
                this.$store.state.auth.user &&
                this.$store.state.auth.user.roles[0].name === 'user'
            ) {
                return true;
            }

            return false;
        }
    },

    async mounted() {
        const $ = window.jQuery;

        $('.b_header').sticky({
            topSpacing: 0,
            zIndex: 5
        });

        this.isReady = true;
    },

    methods: {
        toggleMobileMenu(link) {
            const $ = window.jQuery;
            const $btnMenu = $('.jsMenu');

            if (link === 'link' && !$btnMenu.hasClass('menu-is-active')) {
                return;
            }

            $btnMenu.toggleClass('menu-is-active');
            $('.menu_wrapper').fadeToggle(400);
            $('html').toggleClass('overflow');
        }
    }
};
</script>

<style scoped>
.container {
    min-height: 0%;
}
</style>
