<template>
    <div class="form_section" id="RecruiterAuthentication">
        <div class="section_head jsSingUpHeadAuth">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="
                            'icon_authentication_confirmation.svg'
                        "
                    />
                </div>

                <div class="head_title">
                    {{ $t('authentication.title') }}
                </div>
            </div>
        </div>
        <div class="section_content jsSingUpContent">
            <div class="authentication_confirmation">
                <div class="label">
                    {{ authenticationContent.text }}
                </div>
                <div class="input_wrapper">
                    <input
                        v-model="pin"
                        class="form_control"
                        type="password"
                        maxlength="4"
                        :placeholder="$t('labels.phoneNumber')"
                        :class="{ error: pinError }"
                        autocomplete="off"
                    />
                    <div v-if="pinError" class="invalid-feedback">
                        <span v-if="!incorrectResponse" class="form_error">
                            {{ $t('errors.pinError') }}
                        </span>
                        <span class="form_error" v-else>{{
                            $t('errors.theIdNumberNotMatch')
                        }}</span>
                    </div>
                </div>

                <div class="code_again">
                    <div class="code_text">
                        {{ $t('info.didYouReceiveACode') }}
                        <a href="#" @click.prevent="openPersonalDetailsTab">
                            {{ $t('links.returnToFillInPhoneNumber') }}
                        </a>
                    </div>
                </div>

                <div class="btn_wrapper">
                    <button
                        class="btn btn_blue_empty"
                        :disabled="$v.pin.$invalid"
                        @click="submitSmsAuthentication"
                    >
                        {{ $t('buttons.continue') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {
    required,
    numeric,
    minLength,
    maxLength
} from 'vuelidate/lib/validators';

export default {
    validations: {
        pin: {
            required,
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
        }
    },

    data() {
        return {
            pin: null,
            incorrectResponse: false
        };
    },

    computed: {
        ...mapGetters({
            getUserData: 'register/getData',
            getContent: 'content/getContentByKey'
        }),

        isSendDisabled() {
            return this.$v.pin.$invalid;
        },

        authenticationContent() {
            const { smsVerification } = this.getContent(
                'business-registration-page'
            );

            return smsVerification;
        },

        pinError() {
            return (
                (this.isSent && this.$v.pin.$error) || this.incorrectResponse
            );
        }
    },

    methods: {
        ...mapActions({
            setPin: 'register/setPin'
        }),

        openPersonalDetailsTab() {
            const $ = window.jQuery;

            $('#RecruiterPersonalInformation .jsSingUpHeadAuth').addClass(
                'open'
            );
            $('#RecruiterPersonalInformation  .section_content').slideDown(
                'slow'
            );
            $('#RecruiterPersonalInformation ').slideDown(300);
        },

        async submitSmsAuthentication() {
            try {
                this.$v.pin.$touch();

                if (this.$v.pin.$invalid) return;

                this.setPin(this.pin);

                await this.$auth.loginWith('local', {
                    data: {
                        phone: this.getUserData.phone,
                        pin: this.pin
                    }
                });

                const $ = window.jQuery;

                $('#RecruiterAuthentication .section_head').removeClass('open');
                $('#RecruiterAuthentication .section_content').slideUp(300);

                $('#RecruiterPassportDetails .section_head').addClass('open');
                $('#RecruiterPassportDetails .section_content').show(0);
                $('#RecruiterPassportDetails').slideDown(300);

                $('.resume_button').slideDown(300);
            } catch (error) {
                console.error(error);

                this.incorrectResponse = true;
            }
        }
    }
};
</script>

<style></style>
