<template>
    <div class="form_section" id="RecruiterPassportDetails">
        <div class="section_head jsSingUpHead">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="'icon_passport_details.svg'"
                    />
                </div>
                <div class="head_title">
                    {{ $t('global.companyDetails') }}
                </div>
            </div>
        </div>
        <div class="section_content jsSingUpContent">
            <div class="passport_details">
                <div class="form_row">
                    <label for="name" />
                    <input
                        v-model="formData.name"
                        id="name"
                        class="form_control"
                        type="text"
                        :placeholder="$t('labels.companyName') + '*'"
                        :class="{
                            'is-invalid': $v.formData.name.$error
                        }"
                        @blur="$v.formData.name.$touch()"
                    />
                    <small v-if="$v.formData.name.$error" class="error">{{
                        $t('errors.requiredField')
                    }}</small>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <div class="select-wrapper">
                                <selectric
                                    v-model="formData.country_id"
                                    :items="countries"
                                    text-field="name"
                                    value-field="id"
                                    :placeholder="$t('global.country') + '*'"
                                    :has-errors="$v.formData.country_id.$error"
                                />
                            </div>
                        </div>

                        <div class="column">
                            <div class="select-wrapper">
                                <selectric
                                    v-model="formData.city_id"
                                    :items="cities"
                                    text-field="name"
                                    value-field="id"
                                    :placeholder="$t('global.city') + '*'"
                                    :has-errors="$v.formData.city_id.$error"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <div class="attached_files_wrap">
                                <label for="promote-video" />
                                <input
                                    :value="
                                        formData.promote_video
                                            ? formData.promote_video.name
                                            : ''
                                    "
                                    id="promote-video"
                                    class="form_control success"
                                    readonly
                                    type="text"
                                    :placeholder="
                                        $t(
                                            'labels.corporateImageVideoOfTheCompany'
                                        ) + '*'
                                    "
                                    :class="{
                                        'is-invalid':
                                            $v.formData.promote_video.$error
                                    }"
                                />

                                <input
                                    id="promoteVideoUpload"
                                    type="file"
                                    accept="video/*"
                                    hidden
                                    @change="selectPromoteVideo"
                                />

                                <a
                                    class="btn_inspection"
                                    href="#"
                                    @click.prevent="choosePromoteVideo"
                                >
                                    {{ $t('buttons.inspection') }}
                                </a>
                            </div>
                            <small
                                v-if="$v.formData.promote_video.$error"
                                class="error"
                            >
                                {{ $t('errors.requiredField') }}
                            </small>
                        </div>
                        <div class="column">
                            <div class="attached_files_wrap">
                                <label for="company-logo" />
                                <input
                                    id="company-logo"
                                    :value="
                                        formData.company_logo
                                            ? formData.company_logo.name
                                            : ''
                                    "
                                    class="form_control success"
                                    :placeholder="
                                        $t('labels.companyLogo') + '*'
                                    "
                                    readonly
                                    :class="{
                                        'is-invalid':
                                            $v.formData.company_logo.$error
                                    }"
                                />
                                <input
                                    id="companyLogoUpload"
                                    type="file"
                                    accept="image/*"
                                    hidden
                                    @change="selectCompanyLogo"
                                />
                                <a
                                    class="btn_inspection"
                                    href="#"
                                    @click.prevent="chooseCompanyLogo"
                                >
                                    {{ $t('buttons.inspection') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div class="column">
                            <div class="attached_files_wrap">
                                <label for="main-view-image" />
                                <input
                                    :value="
                                        formData.promote_image
                                            ? formData.promote_image.name
                                            : ''
                                    "
                                    id="main-view-image"
                                    class="form_control success"
                                    :placeholder="
                                        $t('labels.mainDisplayImage') + '*'
                                    "
                                    readonly
                                    :class="{
                                        'is-invalid':
                                            $v.formData.promote_image.$error
                                    }"
                                />

                                <input
                                    id="promoteImageUpload"
                                    type="file"
                                    accept="image/*"
                                    hidden
                                    @change="selectPromoteImage"
                                />

                                <a
                                    class="btn_inspection"
                                    href="#"
                                    @click.prevent="choosePromoteImage"
                                >
                                    {{ $t('buttons.inspection') }}
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="social_input_wrapper">
                                <input
                                    v-model="formData.facebook_link"
                                    class="form_control success"
                                    type="text"
                                    :placeholder="
                                        $t('labels.linkToBusinessFacebook')
                                    "
                                    :class="{
                                        'is-invalid':
                                            $v.formData.facebook_link.$error
                                    }"
                                    @blur="$v.formData.facebook_link.$touch()"
                                />
                                <small
                                    v-if="$v.formData.facebook_link.$error"
                                    class="error"
                                    >{{ $t('errors.requiredField') }}</small
                                >
                                <div class="social_icon">
                                    <img
                                        v-full-image-path:assets="
                                            'icon_facebook.svg'
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="column_wrapper">
                        <div
                            class="column"
                            :class="{
                                'selectric-company': isEmptyAreaOfExpertise
                            }"
                            @click="checkSeletricValue($event)"
                        >
                            <div class="select_wrapper">
                                <selectric
                                    v-if="expertiseOptions.length"
                                    v-model="formData.type_id"
                                    :items="expertiseOptions"
                                    :has-errors="$v.formData.type_id.$error"
                                    valueField="id"
                                    textField="name"
                                    :placeholder="$t('labels.lineOfBusiness')"
                                />
                            </div>
                            <small
                                v-if="isEmptyAreaOfExpertise"
                                class="error"
                                >{{ $t('errors.requiredField') }}</small
                            >
                        </div>

                        <div class="column">
                            <div class="social_input_wrapper">
                                <input
                                    v-model="formData.instagram_link"
                                    class="form_control success"
                                    type="text"
                                    :placeholder="
                                        $t('labels.linkToBusinessInstagram')
                                    "
                                />
                                <div class="social_icon">
                                    <img
                                        v-full-image-path:assets="
                                            'input_instagram.svg'
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="label_title">
                        {{ $t('labels.aboutTheCompany') }}*
                    </div>
                    <label for="about-company" />
                    <textarea
                        v-model="formData.about"
                        id="about-company"
                        class="form_control success"
                        rows="4"
                        maxlength="999"
                        :class="{
                            'is-invalid': $v.formData.about.$error
                        }"
                        @blur="$v.formData.about.$touch()"
                    />
                    <small v-if="$v.formData.about.$error" class="error">{{
                        $t('errors.requiredField')
                    }}</small>
                </div>
                <div class="form_row">
                    <div class="label_title">
                        {{ $t('labels.residenceAndWorkEnvironment') }}*
                    </div>
                    <label for="work-environment" />
                    <textarea
                        v-model="formData.working_environment"
                        id="work-environment"
                        class="form_control success"
                        rows="4"
                        maxlength="999"
                        :class="{
                            'is-invalid': $v.formData.working_environment.$error
                        }"
                        @blur="$v.formData.working_environment.$touch()"
                    />
                    <small
                        v-if="$v.formData.working_environment.$error"
                        class="error"
                        >{{ $t('errors.requiredField') }}</small
                    >
                </div>
                <div class="form_row">
                    <div class="label_title">
                        {{
                            $t(
                                'labels.natureOfThePositionAndTermsOfEmployment'
                            )
                        }}*
                    </div>
                    <label for="office-nature" />
                    <textarea
                        v-model="formData.office_nature"
                        id="office-nature"
                        class="form_control success"
                        rows="4"
                        maxlength="999"
                        :class="{
                            'is-invalid': $v.formData.office_nature.$error
                        }"
                        @blur="$v.formData.office_nature.$touch()"
                    />
                    <small
                        v-if="$v.formData.office_nature.$error"
                        class="error"
                        >{{ $t('errors.requiredField') }}</small
                    >
                    <div class="info_wrapper">
                        <div class="info">
                            {{
                                $t(
                                    'info.ifYouOwnMoreThanOneCompanyYouCanAddAnother'
                                )
                            }}
                        </div>
                    </div>
                    <div class="checkbox_wrap">
                        <label class="checkbox">
                            <input
                                v-model="hasAcceptedTerms"
                                type="checkbox"
                                name="agree"
                            />

                            <span>
                                {{ $t('global.iConfirmReadAndAgree') }}
                                <nuxt-link
                                    to="/privacy-policy"
                                    @click.native="setTemporaryFormData"
                                >
                                    {{ $t('links.toPrivacyPolicy') }}
                                </nuxt-link>
                                <nuxt-link
                                    to="/terms-of-use"
                                    @click.native="setTemporaryFormData"
                                >
                                    {{ $t('links.andTermsAndConditions') }}
                                </nuxt-link>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume_button">
            <button
                v-if="isVideoUploading"
                class="btn btn_blue_empty btn_submit"
                :disabled="isVideoUploading"
            >
                {{ $t('buttons.uploadingVideo') }}...
            </button>
            <button
                v-else
                class="btn btn_blue_empty btn_submit"
                :disabled="!hasAcceptedTerms"
                @click="submitCompanyData"
            >
                {{ $t('buttons.continue') }}
            </button>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, maxLength } from 'vuelidate/lib/validators';

import Selectric from '@/components/elements/Selectric';

export default {
    components: {
        Selectric
    },

    validations: {
        formData: {
            name: { required, maxLength: maxLength(254) },
            city_id: { required },
            country_id: { required },
            company_logo: { required },
            promote_video: { required },
            type_id: { required },
            facebook_link: { required, maxLength: maxLength(254) },
            promote_image: { required, maxLength: maxLength(254) },
            about: { required, maxLength: maxLength(999) },
            working_environment: { required, maxLength: maxLength(999) },
            office_nature: { required, maxLength: maxLength(999) }
        }
    },

    data() {
        return {
            formData: {
                name: '',
                city_id: '',
                country_id: '',
                company_logo: '',
                promote_video: '',
                type_id: '',
                facebook_link: '',
                instagram_link: '',
                promote_image: '',
                about: '',
                working_environment: '',
                office_nature: ''
            },
            cities: [],
            isEmptyAreaOfExpertise: false,
            clicksSelectricWhenLoadComponent: 0,
            passTouchToChildComponents: false,
            isVideoUploading: false,
            hasAcceptedTerms: false
        };
    },

    computed: {
        ...mapGetters({
            expertiseOptions: 'jobtypes/all',
            countries: 'countries/all',
            getCitiesFromCountry: 'countries/getCitiesFromCountry',
            loggedUser: 'loggedUser',
            getData: 'register/getData'
        })
    },

    watch: {
        [`formData.country_id`]: {
            async handler() {
                const countryId = this.formData.country_id;

                if (countryId) {
                    this.formData.city_id = null;
                    this.cities = this.getCitiesFromCountry(countryId);
                }
            },
            immediate: true
        }
    },

    beforeMount() {
        this.formData = { ...this.getData };
    },

    methods: {
        ...mapActions({
            createCompany: 'company/submitNewCompany',
            setData: 'register/setData',
            setAcceptedTerms: 'register/setCompanyAcceptTerms'
        }),

        choosePromoteImage() {
            document.getElementById('promoteImageUpload').click();
        },

        selectPromoteImage(event) {
            this.formData.promote_image = event.target.files[0];
            this.$v.formData.promote_image.$touch();
        },

        choosePromoteVideo() {
            document.getElementById('promoteVideoUpload').click();
        },

        selectPromoteVideo(event) {
            this.formData.promote_video = event.target.files[0];
            this.$v.formData.promote_video.$touch();
        },

        chooseCompanyLogo() {
            document.getElementById('companyLogoUpload').click();
        },

        selectCompanyLogo(event) {
            this.formData.company_logo = event.target.files[0];
            this.$v.formData.company_logo.$touch();
        },

        checkSeletricValue(event) {
            this.clicksSelectricWhenLoadComponent++;

            if (
                this.clicksSelectricWhenLoadComponent > 2 &&
                this.$v.formData.type_id.$model === ''
            ) {
                this.isEmptyAreaOfExpertise = true;

                return;
            }

            this.isEmptyAreaOfExpertise = false;
        },

        async submitCompanyData() {
            this.$v.$touch();

            if (this.$v.$invalid || !this.hasAcceptedTerms) {
                return;
            }

            const formData = new FormData();

            for (const data in this.formData) {
                formData.append(data, this.formData[data]);
            }

            try {
                this.isVideoUploading = true;

                await this.createCompany(formData);
                await this.setAcceptedTerms(this.loggedUser.id);

                await this.$auth.fetchUser();

                this.isVideoUploading = false;

                this.$toast.success(
                    this.$t('toasts.success.companyHasBeenCreatedSuccessfully')
                );

                this.$analytics.sendGoogleTagManagerEvent({
                    event: `register new Company`,
                    company: formData
                });

                if (!this.loggedUser.registration_completed) {
                    this.$router.push('/payment');

                    return;
                }

                this.$router.push('/applications');
            } catch (error) {
                console.error(error);

                this.$toast.error(this.$t('toasts.errors.somethingWentWrong'));
            }
        },

        setTemporaryFormData() {
            this.setData(this.formData);
        }
    }
};
</script>
