<template>
    <div
        class="form_section"
        id="RecruiterPersonalInformation"
        style="display: block"
    >
        <div class="section_head open jsSingUpHead">
            <div class="section_head_title jsSingUpContent">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="
                            'icon_personal_information.svg'
                        "
                    />
                </div>
                <div class="head_title">
                    {{ $t('global.personalInformation') }}
                </div>
            </div>
        </div>
        <div class="section_content jsSingUpContent" style="display: block">
            <form @submit.prevent>
                <div class="icon_personal_information">
                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <label for="first_name">
                                    <input
                                        id="first_name"
                                        v-model="formData.first_name"
                                        class="form_control"
                                        type="text"
                                        :placeholder="
                                            $t(
                                                'register.personalData.firstName'
                                            ) + '*'
                                        "
                                        :class="{
                                            'is-invalid':
                                                $v.formData.first_name.$error
                                        }"
                                        @blur="$v.formData.first_name.$touch()"
                                    />
                                    <small
                                        v-if="$v.formData.first_name.$error"
                                        class="error"
                                    >
                                        {{ $t('errors.requiredField') }}
                                    </small>
                                </label>
                            </div>

                            <div class="column">
                                <label for="last_name">
                                    <input
                                        id="last_name"
                                        v-model="formData.last_name"
                                        class="form_control"
                                        type="text"
                                        :placeholder="
                                            $t(
                                                'register.personalData.lastName'
                                            ) + '*'
                                        "
                                        :class="{
                                            'is-invalid':
                                                $v.formData.last_name.$error
                                        }"
                                        @blur="$v.formData.last_name.$touch()"
                                    />
                                </label>
                                <small
                                    v-if="$v.formData.last_name.$error"
                                    class="error"
                                >
                                    {{ $t('errors.requiredField') }}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper">
                            <div class="column">
                                <label for="email">
                                    <input
                                        id="email"
                                        v-model="formData.email"
                                        class="form_control"
                                        type="email"
                                        :placeholder="
                                            $t('register.personalData.email') +
                                                '*'
                                        "
                                        :class="{
                                            'is-invalid':
                                                $v.formData.email.$error
                                        }"
                                        @blur="$v.formData.email.$touch()"
                                    />
                                    <small
                                        v-if="$v.formData.email.$error"
                                        class="error"
                                    >
                                        {{ $t('errors.requiredField') }}
                                    </small>
                                </label>
                                <div v-if="emailError" class="info_wrapper">
                                    <transition name="fade" appear>
                                        <div
                                            :class="{
                                                'invalid-feedback': emailError
                                            }"
                                        >
                                            <span v-if="emailError">
                                                {{ emailErrorMessage }}
                                            </span>
                                        </div>
                                    </transition>
                                </div>
                            </div>
                            <div class="column">
                                <label for="phone">
                                    <masked-input
                                        v-model="formData.phone"
                                        :dir="formData.phone ? 'ltr' : 'rtl'"
                                        :mask="phoneMask"
                                        :guide="true"
                                        id="phone"
                                        class="form_control"
                                        type="tel"
                                        :placeholder="
                                            $t('register.personalData.mobile') +
                                                '*'
                                        "
                                        :class="{
                                            'is-invalid':
                                                $v.formData.phone.$error
                                        }"
                                        @blur="$v.formData.phone.$touch()"
                                    />

                                    <small
                                        v-if="$v.formData.phone.$error"
                                        class="error"
                                    >
                                        {{ $t('errors.requiredField') }}
                                    </small>
                                </label>
                                <div class="info_wrapper">
                                    <div class="info">
                                        {{ content.informationText }}
                                    </div>
                                    <transition name="fade" appear>
                                        <div
                                            v-if="phoneNumberError"
                                            :class="{
                                                'invalid-feedback': phoneNumberError
                                            }"
                                        >
                                            <span v-if="phoneNumberError">
                                                {{ phoneErrorMessage }}
                                            </span>
                                        </div>
                                    </transition>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="end_personal_information">
                        <div class="checkbox_wrap">
                            <label class="checkbox">
                                <input
                                    v-model="checkbox"
                                    type="checkbox"
                                    name="agree"
                                />
                                <span>
                                    {{ $t('global.iConfirmReadAndAgree') }}
                                    <nuxt-link
                                        to="/privacy-policy"
                                        @click.native="setTemporaryFormData"
                                    >
                                        {{ $t('links.toPrivacyPolicy') }}
                                    </nuxt-link>
                                    <nuxt-link
                                        to="/terms-of-use"
                                        @click.native="setTemporaryFormData"
                                    >
                                        {{ $t('links.andTermsAndConditions') }}
                                    </nuxt-link>
                                </span>
                            </label>
                        </div>
                        <div class="btn_wrapper">
                            <button
                                type="submit"
                                class="btn btn_blue_empty"
                                :disabled="!checkbox && $v.$invalid"
                                @click="submitFormHandler"
                            >
                                {{ $t('buttons.continue') }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import MaskedInput from 'vue-text-mask';
import {
    required,
    minLength,
    maxLength,
    numeric,
    email,
    sameAs
} from 'vuelidate/lib/validators';

import { isValidEmail, phoneMask } from '@/helpers/helpers';

export default {
    validations: {
        formData: {
            first_name: { required },
            last_name: { required },
            phone: { required },
            email: { required, isValidEmail, email }
        },
        checkbox: { sameAs: sameAs(() => true) }
    },
    components: {
        MaskedInput
    },

    data() {
        return {
            formData: {
                first_name: '',
                last_name: '',
                phone: null,
                email: ''
            },
            checkbox: false,
            errors: [],
            phoneNumberError: false,
            phoneErrorMessage: '',
            emailError: false,
            emailErrorMessage: '',
            phoneMask
        };
    },
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            settings: 'settings/getSettingByKey',
            getData: 'register/getData'
        }),

        content() {
            const { personalInformation } = this.getContent(
                'business-registration-page'
            );

            return personalInformation;
        }
    },
    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    beforeMount() {
        this.formData = { ...this.getData };
    },

    methods: {
        ...mapActions({
            requestPin: 'register/requestPin',
            registerNewCompany: 'register/newCompany',
            setData: 'register/setData'
        }),

        setErrorsMessageFromServerResponse(errorArray) {
            for (const val of Object.values(errorArray)) {
                if (val.param === 'email') {
                    this.emailError = true;
                    this.emailErrorMessage = val.message;
                }

                if (val.param === 'phone') {
                    this.phoneNumberError = true;
                    this.phoneErrorMessage = val.message;
                }
            }
        },

        async submitFormHandler() {
            const $ = window.jQuery;

            this.$v.$touch();
            this.emailError = false;
            this.phoneNumberError = false;

            if (this.$v.$invalid) {
                return;
            }

            this.setData(this.formData);

            try {
                const { user } = await this.registerNewCompany();

                this.setData(user);

                try {
                    await this.requestPin(this.formData.phone);
                } catch (err) {
                    console.error(err);

                    this.$toast.error(
                        this.$t(
                            'toasts.errors.errorSendingPinOnGivenPhoneNumber'
                        )
                    );
                }

                $('#RecruiterAuthentication .section_head').addClass('open');
                $('#RecruiterAuthentication .section_content').show(0);
                $('#RecruiterAuthentication').slideDown(300);

                $('#RecruiterPersonalInformation .section_head').removeClass(
                    'open'
                );
                $('#RecruiterPersonalInformation .section_content').slideUp(
                    300
                );
            } catch (error) {
                if (error.response) {
                    this.setErrorsMessageFromServerResponse(
                        error.response.data.errors
                    );
                }

                console.error(error);
            }
        },

        setTemporaryFormData() {
            this.setData(this.formData);
        }
    }
};
</script>
