<template>
    <div class="main">
        <div class="b_sign_page">
            <div class="page_head">
                <div
                    class="image_decor"
                    v-full-background-image-path:assets="'image_decor.png'"
                />
                <div class="container">
                    <div class="title">
                        {{ $t('global.businessAccountRegistration') }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="sign_form">
                    <div class="form_wrapper block_shadow">
                        <div class="all_form_section">
                            <template v-if="!loggedUser">
                                <personal-information-step />
                                <authentication-confirmation-step />
                            </template>

                            <company-details-step />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import PersonalInformationStep from './PersonalInformationStep';
import AuthenticationConfirmationStep from './AuthenticationConfirmationStep';
import CompanyDetailsStep from './CompanyDetailsStep';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    data() {
        return {
            addCompanyToUser: false
        };
    },

    components: {
        PersonalInformationStep,
        AuthenticationConfirmationStep,
        CompanyDetailsStep
    },

    computed: {
        ...mapGetters({
            loggedUser: 'loggedUser',
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('business-registration-page');
        }
    },

    mounted() {
        const $ = window.jQuery;

        $('.jsSingUpHead').click(function() {
            $('.jsSingUpHead').toggleClass('open');
            $('.jsSingUpContent').slideToggle(300);
        });

        $('input[name="foreign_passport"]').on('change', function() {
            const $this = $(this);

            if ($this.val() == 'no') {
                $('.foreign_passport_wrapper').slideUp(300);
                $('.foreign_passport_wrapper input').val('');
            } else {
                $('.foreign_passport_wrapper').slideDown(300);
            }
        });

        if (
            this.loggedUser &&
            this.loggedUser.registration &&
            this.loggedUser.registration.second_step &&
            !this.loggedUser.registration.third_step
        ) {
            this.$router.push('/payment');
            return;
        }

        this.revealCompanyDetails();
    },
    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        revealCompanyDetails() {
            const $ = window.jQuery;

            if (this.loggedUser) {
                $('.resume_button').show();
                $('#RecruiterPassportDetails').show();
                $('#RecruiterPassportDetails .section_head').addClass('open');
                $('#RecruiterPassportDetails .section_content').show();
            }
        }
    }
};
</script>
