<template>
    <div>
        <label for="city" />
        <multiselect
            v-model="city"
            id="city"
            :options="options"
            :placeholder="$t('global.city')"
            track-by="value"
            label="value"
            :custom-label="nameWithLang"
            @input="changeValue"
            @close="onTouch"
            :class="[isInvalid ? errorClass : '', activeClass]"
        />
        <small v-if="isInvalid" class="error">
            {{ $t('errors.requiredField') }}
        </small>
    </div>
</template>

<script>
import cities from 'country-city';
import Multiselect from 'vue-multiselect';

export default {
    props: {
        value: {
            type: String
        },
        country: {
            type: String
        },
        eventPass: {
            type: Boolean
        }
    },
    components: {
        Multiselect
    },
    name: 'CityAutocomplete',
    data() {
        return {
            city: this.value,
            options: [],
            isTouched: false,
            activeClass: 'country-city-multiselect-active',
            errorClass: 'country-city-multiselect-error'
        };
    },

    computed: {
        isInvalid() {
            return this.isTouched && (this.city === null || this.city === '');
        }
    },

    watch: {
        country: function(newVal, oldVal) {
            if (newVal === '') {
                this.options = [];
                this.city = newVal;
                this.$emit('input', newVal);

                return;
            }

            this.options = cities.getCities(newVal);
        },
        eventPass() {
            this.onTouch();
        }
    },

    methods: {
        changeValue() {
            if (this.city === null) {
                this.$emit('input', '');

                return;
            }

            this.$emit('input', this.city);
        },

        nameWithLang(value) {
            return value;
        },

        onTouch() {
            this.isTouched = true;
        }
    }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
