<template>
    <div class="video-stream-container">
        <stream
            ref="video"
            :controls="controls"
            :poster="`https://videodelivery.net/${id}/thumbnails/thumbnail.jpg`"
            :src="`${id}`"
            v-on="$listeners"
            preload
            height="480px"
        />

        <script
            data-cfasync="false"
            defer
            :src="
                `https://embed.cloudflarestream.com/embed/3f8m.fla9.latest.js?video=${id}`
            "
            type="application/javascript"
        />
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
            required: true
        },

        controls: {
            type: Boolean,
            required: false
        }
    },

    methods: {
        play() {
            this.$refs.video.play();
        },

        pause() {
            this.$refs.video.pause();
        }
    }
};
</script>
