<template>
    <div>
        <label for="country" />
        <multiselect
            v-model="country"
            id="country"
            :options="options"
            :placeholder="$t('global.country')"
            track-by="value"
            label="value"
            :custom-label="nameWithLang"
            @input="changeValue"
            @close="onTouch"
            :class="[isInvalid ? errorClass : '', activeClass]"
        />
        <small v-if="isInvalid" class="error">{{
            $t('errors.requiredField')
        }}</small>
    </div>
</template>

<script>
import countries from 'country-city';
import Multiselect from 'vue-multiselect';

export default {
    props: {
        value: {
            type: String
        },
        eventPass: {
            type: Boolean
        }
    },
    components: {
        Multiselect
    },
    name: 'CountryAutocomplete',
    data() {
        return {
            country: this.value,
            options: [],
            isTouched: false,
            activeClass: 'country-city-multiselect-active',
            errorClass: 'country-city-multiselect-error'
        };
    },

    computed: {
        isInvalid() {
            return (
                this.isTouched && (this.country === null || this.country === '')
            );
        }
    },

    watch: {
        eventPass() {
            this.onTouch();
        }
    },

    methods: {
        changeValue() {
            if (this.country === null) {
                this.$emit('input', '');
                return;
            }

            this.$emit('input', this.country);
        },

        nameWithLang(value) {
            return value;
        },

        onTouch() {
            this.isTouched = true;
        }
    },

    mounted() {
        this.options = countries.getCountries();
    }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
