<template>
    <datepicker
        v-model="date"
        min-time-unit="months"
        max-time-unit="years"
        :display-format="displayFormat"
        :output-format="outputFormat"
    />
</template>
<script>
import Datepicker from '@/components/elements/Datepicker';

export default {
    components: {
        Datepicker
    },

    props: {
        value: {
            type: String
        },
        displayFormat: {
            type: String,
            default: 'MM/YYYY'
        },
        outputFormat: {
            type: String,
            default: 'YYYY-MM'
        }
    },

    data() {
        return {
            date: null
        };
    },

    watch: {
        date() {
            this.$emit('input', this.date);
        }
    },

    created() {
        this.date = this.value;
    }
};
</script>
