<template>
    <input type="text" class="form_control jsDatePicker" :placeholder="placeholder">
</template>
<script>
import moment from 'moment';

const VIEW_MODE_DAYS = 0;
const VIEW_MODE_MONTHS = 1;
const VIEW_MODE_YEARS = 2;
const VIEW_MODE_DECADES = 3;
const VIEW_MODE_CENTURIES = 4;

export default {
    props: {
        value: {
            type: String
        },
        placeholder: {
            type: String
        },
        minTimeUnit: {
            type: String,
            default: null
        },
        maxTimeUnit: {
            type: String,
            default: null
        },
        displayFormat: {
            type: String,
            default: 'DD/MM/YYYY'
        },
        outputFormat: {
            type: String,
            default: 'YYYY-MM-DD'
        },
        locale: {
            type: String,
            default: 'he'
        }
    },
    data() {
        return {
            viewModes: {
                day: VIEW_MODE_DAYS,
                days: VIEW_MODE_DAYS,
                month: VIEW_MODE_MONTHS,
                months: VIEW_MODE_MONTHS,
                year: VIEW_MODE_YEARS,
                years: VIEW_MODE_YEARS,
                decade: VIEW_MODE_DECADES,
                decades: VIEW_MODE_DECADES,
                century: VIEW_MODE_CENTURIES,
                centuries: VIEW_MODE_CENTURIES
            }
        };
    },

    computed: {
        minViewMode() {
            let mode = VIEW_MODE_DAYS;

            if (this.minTimeUnit) {
                mode = this.viewModes[this.minTimeUnit];
            }

            return mode;
        },

        maxViewMode() {
            let mode = VIEW_MODE_CENTURIES;

            if (this.maxTimeUnit) {
                mode = this.viewModes[this.maxTimeUnit];
            }

            return mode;
        }
    },

    created() {
        moment.locale(this.locale);
    },

    mounted() {
        const $ = window.jQuery;

        $(this.$el)
            .datepicker({
                orientation: 'bottom auto',
                autoclose: true,
                format: {
                    toDisplay: this.formatDisplayDate,
                    toValue: this.formatValueDate
                },
                minViewMode: this.minViewMode,
                maxViewMode: this.maxViewMode,
                language: 'he'
            })
            .on('changeDate', this.onChangeDate);

        if (this.value) {
            const date = moment(this.value, this.outputFormat).toDate();

            $(this.$el).datepicker('setDate', date);
        }
    },
    methods: {
        formatDisplayDate(date) {
            return moment(date).format(this.displayFormat);
        },

        formatValueDate(date) {
            return moment(date).format(this.outputFormat);
        },

        onChangeDate({ date }) {
            const formattedDate = moment(date).format(this.outputFormat);

            this.$emit('input', formattedDate);
        }
    }
};
</script>
