<template>
    <component
        :is="tag"
        ref="editable"
        contenteditable
        class="editable component"
        v-on="listeners"
        @input="onInput"
        @click="clearPlaceholder"
        @blur="setPlaceholder"
    />
</template>

<script>
export default {
    name: 'editable',

    props: {
        value: {
            type: null,
            required: true
        },
        tag: {
            type: String,
            default: 'span',
            required: false
        },
        placeholder: {
            type: String,
            default: 'הקלד כאן...',
            required: false
        }
    },

    data() {
        return {
            isPlaceholderVisible: false
        };
    },

    computed: {
        listeners() {
            return {
                ...this.$listeners,
                input: this.onInput
            };
        }
    },

    mounted() {
        this.isPlaceholderVisible = !!!this.value;
        this.$refs.editable.innerText = this.value || this.placeholder;
    },

    methods: {
        setPlaceholder() {
            if (this.$refs.editable.innerText === '') {
                this.$refs.editable.innerText = this.placeholder;
                this.isPlaceholderVisible = true;
            }
        },

        clearPlaceholder() {
            if (this.isPlaceholderVisible) {
                this.$refs.editable.innerText = '';
                this.isPlaceholderVisible = false;
            }
        },

        onInput(e) {
            this.$emit('input', e.target.innerText);
        }
    }
};
</script>
