<template>
    <div class="Modal mfp-hide" ref="modal">
        <div class="Modal__inner">
            <slot></slot>
        </div>
    </div>
</template>


<script>
import _ from 'lodash';

export default {
    name: 'magnific-popup-modal',
    props: {
        show: {
            type: Boolean,
            default: false
        },
        config: {
            type: Object,
            default: function() {
                return {
                    // magnific defaults
                    disableOn: null,
                    mainClass: '',
                    preloader: true,
                    focus: '',
                    closeOnContentClick: false,
                    closeOnBgClick: true,
                    closeBtnInside: true,
                    showCloseBtn: false,
                    enableEscapeKey: true,
                    modal: false,
                    alignTop: false,
                    index: null,
                    fixedContentPos: 'auto',
                    fixedBgPos: 'auto',
                    overflowY: 'auto',
                    removalDelay: 0,
                    autoFocusLast: true
                };
            }
        }
    },
    data() {
        return {
            visible: this.show
        };
    },
    mounted() {
        this[this.visible ? 'open' : 'close']();
    },
    methods: {
        open(options) {
            const $ = window.jQuery;

            if (!!$.magnificPopup.instance.isOpen && this.visible) {
                return;
            }

            let root = this;
            let config = _.extend(
                this.config,
                {
                    items: {
                        src: $(this.$refs.modal),
                        type: 'inline'
                    },
                    callbacks: {
                        open: function() {
                            root.visible = true;
                            root.$emit('open');
                        },
                        close: root.close
                    }
                },
                options || {}
            );
            $.magnificPopup.open(config);
        },

        close() {
            const $ = window.jQuery;

            if (!$.magnificPopup.instance.isOpen && !this.visible) {
                return;
            }

            this.visible = false;
            $.magnificPopup.close({
                type: 'inline',
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });

            this.$emit('close');
        },

        toggle() {
            this[this.visible ? 'close' : 'open']();
        }
    }
};
</script>


<style lang="scss">
@import '@/node_modules/magnific-popup/src/css/main.scss';
.mfp-content {
    text-align: center;
}
$module: '.Modal';
#{$module} {
    display: inline-block;
    position: relative;
    &__inner {
        display: inline-block;
        text-align: left;
    }
    .mfp-close {
        width: auto;
        height: auto;
        font-size: 2em;
        line-height: 1;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 100%;
        left: 100%;
        color: #fff;
        opacity: 1;
    }
}
</style>
