<template>
    <select :value="value" :class="{'is-invalid' : hasErrors}">
        <option :value="value" v-for="value in 10" :key="value">{{ value }}</option>
    </select>
</template>
<script>
export default {
    props: {
        value: {
            type: null
        },
        hasErrors: {
            type: Boolean,
            required: false,
            default: false
        }
    },

    mounted() {
        const vm = this;
        const $ = window.jQuery;

        $(vm.$el).barrating({
            initialRating: vm.value || null,
            onSelect(value, text, event) {
                vm.$emit('input', parseInt(value));
            }
        });
    }
};
</script>
