<template>
    <select
        :disabled="disabled"
        :class="{ 'is-invalid': hasErrors }"
        :multiple="multiple"
    >
        <option
            v-if="placeholder"
            :value="placeholderValue"
            :disabled="!selectPlaceholder"
            >{{ placeholder }}</option
        >
        <option v-for="(item, i) in options" :key="i" :value="item.value">
            {{ item.text }}
        </option>
    </select>
</template>
<script>
export default {
    props: {
        items: {
            type: Array
        },
        placeholder: {
            type: String,
            default: ''
        },
        value: {
            type: null
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        valueField: {
            type: String,
            required: false,
            default: 'value'
        },
        textField: {
            type: String,
            required: false,
            default: 'text'
        },
        hasErrors: {
            type: Boolean,
            required: false,
            default: false
        },
        multiple: {
            type: Boolean,
            required: false,
            default: false
        },
        selectPlaceholder: {
            type: Boolean,
            required: false,
            default: true
        },
        placeholderValue: {
            type: null,
            required: false,
            default: ''
        }
    },

    data() {
        return {
            options: []
        };
    },
    computed: {
        parsedValue() {
            let value = this.value;

            if (this.multiple) {
                if (!Array.isArray(this.value)) {
                    value = [value];
                }

                return value.map(v => {
                    if (typeof v === 'string') {
                        return v;
                    }

                    return JSON.stringify(v);
                });
            }

            return JSON.stringify(value);
        },

        isJSON() {
            const [item = null] = this.items;

            return typeof item === 'object';
        }
    },

    watch: {
        value: {
            async handler() {
                if (process.client && !this.multiple) {
                    this.setValue(this.parsedValue);
                }
            }
        },

        disabled() {
            this.refresh();
        },

        hasErrors() {
            this.refresh();
        },

        items: {
            async handler() {
                await this.setOptions();
                await this.setValue(this.parsedValue);
            }
        }
    },

    async mounted() {
        await this.setOptions();

        const $ = window.jQuery;

        $(this.$el).selectric({
            disableOnMobile: false,
            nativeOnMobile: false,
            onChange: this.onChange,
            multiple: {
                keepMenuOpen: false
            }
        });

        this.setValue(this.parsedValue);
    },

    methods: {
        onChange(select) {
            const $ = window.jQuery;

            let value;

            if (this.multiple) {
                value = this.getSelectedValues();

                const wasDeselected = value.some(i => i === '' || i === null);

                if (wasDeselected) {
                    value = [];
                    this.setValue([]);
                }
            } else {
                try {
                    value = JSON.parse($(select).val());
                } catch (error) {
                    value = null;
                }
            }

            this.$emit('input', value);
        },

        setValue(value) {
            const $ = window.jQuery;

            $(this.$el).val(value);

            this.refresh();
        },

        getSelectedValues() {
            const $ = window.jQuery;
            const { items } = $(this.$el).data('selectric');
            const values = items
                .filter(value => value.selected)
                .map(({ value }) => {
                    try {
                        return JSON.parse(value);
                    } catch (error) {
                        return value;
                    }
                });

            return values;
        },

        async refresh() {
            const $ = window.jQuery;

            await this.$nextTick();

            $(this.$el).selectric('refresh');
        },

        async setOptions() {
            await this.$nextTick();

            const options = this.items.map(item => {
                const text = this.isJSON ? item[this.textField] : item;
                const value = this.isJSON
                    ? JSON.stringify(item[this.valueField])
                    : item;

                return {
                    text,
                    value
                };
            });

            this.options = options;
        }
    },

    destroyed() {
        const $ = window.jQuery;

        $(this.$el)
            .off()
            .selectric('destroy');
    }
};
</script>
