<template>
    <component
        :is="videoComponent"
        :key="video"
        ref="video"
        v-bind="videoProps"
        v-on="$listeners"
    />
</template>

<script>
import CloudflareStream from '@/components/elements/CloudflareStream';

export default {
    components: {
        CloudflareStream
    },

    props: {
        video: {
            type: String,
            required: true
        },

        controls: {
            type: Boolean,
            required: false
        }
    },

    data() {
        return {
            videoElement: null,
            typeToAttribute: {
                'cloudflare-stream': 'id',
                video: 'src'
            }
        };
    },

    computed: {
        videoComponent() {
            return this.video.includes('.') ? 'video' : 'cloudflare-stream';
        },

        videoProps() {
            const attr = this.typeToAttribute[this.videoComponent];

            return {
                controls: this.controls,
                [attr]: this.video
            };
        }
    },

    watch: {
        video() {
            this.setVideoElement();
        }
    },

    mounted() {
        this.setVideoElement();
    },

    methods: {
        async setVideoElement() {
            await this.$nextTick();

            const component = this.$refs['video'];

            this.videoElement =
                this.videoComponent === 'video'
                    ? component
                    : component.$refs['video'];
        },

        play() {
            this.trigger('play');
        },

        pause() {
            this.trigger('pause');
        },

        trigger(name) {
            this.$refs['video'][name]();
        }
    }
};
</script>
