<template>
    <div id="videocv" class="main videocv">
        <div class="b_sign_page">
            <page-head />

            <div v-if="!showSupportMessage" class="container">
                <div class="sign_form">
                    <form>
                        <div class="form_wrapper block_shadow">
                            <div class="video_form_wrapper">
                                <video-form-head
                                    v-if="questions.length"
                                    :questions="questions"
                                    :activeQuestionIndex="activeQuestionIndex"
                                />

                                <div class="video_form_body">
                                    <div v-if="isMacOsSafariBrowser">
                                        <div class="video_wrapper">
                                            <div
                                                class="video_form video-form-extended-height"
                                            >
                                                <video
                                                    v-show="isMacOsStream"
                                                    ref="macOsVideoStream"
                                                    muted
                                                    autoplay
                                                    playsinline
                                                />
                                                <video
                                                    v-show="!isMacOsStream"
                                                    ref="macOsRecordedVideo"
                                                    playsinline
                                                />

                                                <video-buttons
                                                    :isMacOsSafariBrowser="
                                                        isMacOsSafariBrowser
                                                    "
                                                    :safariBrowserVideoFile="
                                                        safariBrowserVideoFile
                                                    "
                                                    :isRecording="isRecording"
                                                    :isVideoPlaying="
                                                        isVideoPlaying
                                                    "
                                                    :recordState="recordState"
                                                    @startRecording="
                                                        startRecording
                                                    "
                                                    @stopRecording="
                                                        stopRecording
                                                    "
                                                    @playVideo="playVideo"
                                                    @reset="
                                                        reset(
                                                            activeQuestionIndex
                                                        )
                                                    "
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="
                                            isMobileSafariBrowser &&
                                                !isMacOsSafariBrowser
                                        "
                                        :key="activeQuestionIndex"
                                    >
                                        <div class="safari-video-input">
                                            <input
                                                :key="
                                                    safariBrowserVideoFile + 1
                                                "
                                                type="file"
                                                accept="video/*"
                                                capture="user"
                                                @change="initStream"
                                                ref="safariInput"
                                                hidden
                                            />
                                        </div>
                                        <div class="video_wrapper">
                                            <div
                                                class="video_form video-form-extended-height"
                                            >
                                                <video
                                                    ref="safariVideo"
                                                    width="100%"
                                                    height="100%"
                                                    type="video/mp4"
                                                    playsinline
                                                    autoplay
                                                />

                                                <video-buttons
                                                    :isMobileSafariBrowser="
                                                        isMobileSafariBrowser
                                                    "
                                                    :isMacOsSafariBrowser="
                                                        isMacOsSafariBrowser
                                                    "
                                                    :safariBrowserVideoFile="
                                                        safariBrowserVideoFile
                                                    "
                                                    :isRecording="isRecording"
                                                    :isVideoPlaying="
                                                        isVideoPlaying
                                                    "
                                                    :recordState="recordState"
                                                    @reset="
                                                        reset(
                                                            activeQuestionIndex
                                                        )
                                                    "
                                                    @startRecording="
                                                        startRecording
                                                    "
                                                    @playVideo="playVideo"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="
                                            !isMobileSafariBrowser &&
                                                !isMacOsSafariBrowser
                                        "
                                        class="video_wrapper"
                                    >
                                        <div
                                            class="video_form video-form-extended-height"
                                        >
                                            <video
                                                ref="video"
                                                playsinline
                                                autoplay
                                                :muted="!isVideoPlaying"
                                                type="video/mp4"
                                            />
                                            <video-buttons
                                                :isMobileSafariBrowser="
                                                    isMobileSafariBrowser
                                                "
                                                :isMacOsSafariBrowser="
                                                    isMacOsSafariBrowser
                                                "
                                                :isRecording="isRecording"
                                                :isVideoPlaying="isVideoPlaying"
                                                :recordState="recordState"
                                                @reset="
                                                    reset(activeQuestionIndex)
                                                "
                                                @startRecording="startRecording"
                                                @stopRecording="stopRecording"
                                                @playVideo="playVideo"
                                            />
                                        </div>
                                    </div>

                                    <training-video
                                        :hasTrainingVideo="hasTrainingVideo"
                                        @show="showTrainingVideo"
                                    />

                                    <guidelines-list
                                        v-if="questions.length"
                                        :questions="questions"
                                        :activeQuestionIndex="
                                            activeQuestionIndex
                                        "
                                    />
                                </div>
                            </div>
                            <next-step-button
                                :isVideoUploading="isVideoUploading"
                                :isSubmitButtonDisabled="isSubmitButtonDisabled"
                                @submitted="submitHandler"
                            />
                        </div>
                    </form>
                </div>
            </div>

            <div v-else class="container">
                <support-message />
            </div>
        </div>

        <video-modal
            v-if="hasTrainingVideo && displayTrainingVideo"
            :close="closeTrainingVideo"
            :url="trainingVideoUrl"
        />
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

import config from '@/config';

import { blobToBase64 } from '@/helpers/convertBlob';
import { detectDevice } from '@/helpers/detectDevice';

import VideoModal from '@/components/modals/VideoModal.vue';
import SupportMessage from '@/components/videocv/SupportMessage';
import GuidelinesList from '@/components/videocv/GuidelinesList';
import NextStepButton from '@/components/videocv/NextStepButton';
import TrainingVideo from '@/components/videocv/TrainingVideo';
import PageHead from '@/components/videocv/PageHead';
import VideoFormHead from '@/components/videocv/VideoFormHead';

import VideoButtons from '@/components/videocv/VideoButtons';

export default {
    components: {
        VideoModal,
        SupportMessage,
        GuidelinesList,
        NextStepButton,
        TrainingVideo,
        PageHead,
        VideoFormHead,
        VideoButtons
    },

    async asyncData({ store }) {
        const questions = await store.dispatch('cv_questions/getQuestions');

        return {
            questions
        };
    },

    data() {
        return {
            isRecording: false,
            isMacOsSafariBrowser: false,
            isMacOsStream: false,
            isMobileSafariBrowser: false,
            isVideoUploading: false,
            isVideoPlaying: false,
            showSupportMessage: false,
            activeQuestionIndex: 0,
            displayTrainingVideo: false,
            recordState: '',
            mediaRecorder: {},
            recordedBlobs: [],
            blobVideo: {},
            stream: {},
            safariBrowserVideoFile: null,
            constraints: {
                audio: {
                    echoCancellation: true
                },
                video: true
            },
            RECORD_MAX_LENGHT_IN_SECONDS: 90 * 1000,
            device: {
                browser: '',
                os: ''
            },
            timeout: ''
        };
    },

    computed: {
        ...mapGetters({
            user: 'loggedUser'
        }),

        trainingVideoUrl() {
            const { video } = this.questions[this.activeQuestionIndex];

            if (video.stream) {
                return video.stream;
            }

            return `${config.mediaBaseUrl}/media/videos/${video.date}/${video.filename}.${video.extension}`;
        },

        hasTrainingVideo() {
            return !!this.questions[this.activeQuestionIndex].video;
        },

        isSubmitButtonDisabled() {
            if (this.isMobileSafariBrowser || this.isMacOsSafariBrowser) {
                return !this.safariBrowserVideoFile;
            }

            return (
                this.isRecording ||
                this.isVideoPlaying ||
                this.recordState !== 'ended'
            );
        }
    },

    async mounted() {
        await this.$nextTick();
        this.device = { ...detectDevice() };

        this.checkDevice();
    },

    methods: {
        ...mapActions({
            setAnswer: 'cv_answers/setAnswer',
            setAnswerFromSafariMobile: 'cv_answers/setAnswerFromSafariMobile'
        }),

        showTrainingVideo() {
            this.displayTrainingVideo = true;
        },

        closeTrainingVideo() {
            this.displayTrainingVideo = false;
        },

        checkDevice() {
            if (
                this.device.os.name === 'Macintosh' &&
                this.device.browser.name === 'Safari'
            ) {
                this.isMacOsSafariBrowser = true;
            }

            if (
                (this.device.os.name === 'iPad' ||
                    this.device.os.name === 'iPhone') &&
                this.device.browser.name === 'Safari'
            ) {
                this.isMobileSafariBrowser = true;
            }

            if (!this.isMobileSafariBrowser) {
                this.initStream();
            }
        },

        handleDataAvailable(event) {
            if (event.data && event.data.size > 0) {
                this.recordedBlobs.push(event.data);
            }
        },

        async initStream(event) {
            try {
                if (this.isMobileSafariBrowser) {
                    if (event) {
                        this.safariBrowserVideoFile = event.target.files[0];

                        this.$refs.safariVideo.src = URL.createObjectURL(
                            this.safariBrowserVideoFile
                        );
                    }

                    return true;
                }

                this.stream = await navigator.mediaDevices.getUserMedia(
                    this.constraints
                );

                if (this.isMacOsSafariBrowser) {
                    this.isMacOsStream = true;

                    window.stream = this.stream;

                    this.$refs.macOsVideoStream.srcObject = this.stream;

                    return true;
                }

                this.$refs.video.srcObject = this.stream;

                this.stream.getTracks().forEach(track => {
                    this.recordState = track.readyState;
                });

                return true;
            } catch (error) {
                console.error(error);

                if (
                    error.message === 'Permission denied' ||
                    error.name === 'NotAllowedError'
                ) {
                    this.$toast.error(
                        this.$t('toasts.errors.pleaseTurnYouDeviceOn')
                    );
                }

                if (
                    error.message.indexOf('getUserMedia') >= 0 ||
                    error.name === 'TypeError'
                ) {
                    this.$toast.error(
                        this.$t('info.yourBrowserDoesNotSupportCameraSharing')
                    );
                }

                this.showSupportMessage = true;

                this.$toast.error(
                    this.$t('toasts.errors.couldNotStartRecording')
                );

                return false;
            }
        },

        startRecording() {
            if (this.isMobileSafariBrowser) {
                this.$refs.safariInput.click();

                return;
            }

            if (!this.stream) {
                return;
            }

            this.isRecording = true;

            if (this.isMacOsSafariBrowser) {
                const options = {
                    mimeType: 'video/webm;codecs=vp9',
                    bitsPerSecond: 100000
                };

                try {
                    this.mediaRecorder = new MediaRecorder(
                        window.stream,
                        options
                    );
                } catch (e0) {
                    console.error(
                        'Unable to create MediaRecorder with options Object: ',
                        options,
                        e0
                    );
                    try {
                        options = {
                            mimeType: 'video/webm;codecs=vp8',
                            bitsPerSecond: 100000
                        };
                        this.mediaRecorder = new MediaRecorder(
                            window.stream,
                            options
                        );
                    } catch (e1) {
                        console.error(
                            'Unable to create MediaRecorder with options Object: ',
                            options,
                            e1
                        );
                        try {
                            options = 'video/mp4';
                            this.mediaRecorder = new MediaRecorder(
                                window.stream,
                                options
                            );
                        } catch (e2) {
                            alert(
                                'MediaRecorder is not supported by this browser.'
                            );
                            console.error(
                                'Exception while creating MediaRecorder:',
                                e2
                            );
                            this.$toast.error(
                                this.$t('toasts.errors.couldNotStartRecording')
                            );
                            return;
                        }
                    }
                }
            } else {
                try {
                    this.mediaRecorder = new MediaRecorder(this.stream, {
                        mimeType: 'video/webm'
                    });
                } catch (error) {
                    console.error(error);

                    this.$toast.error(
                        this.$t('toasts.errors.couldNotStartRecording')
                    );
                }
            }

            this.mediaRecorder.onstop = this.handleStop;
            this.mediaRecorder.ondataavailable = this.handleDataAvailable;
            this.mediaRecorder.start();

            this.timeout = setTimeout(
                this.stopRecording,
                this.RECORD_MAX_LENGHT_IN_SECONDS
            );
        },

        playVideo() {
            window.scrollTo({
                top: 50,
                behavior: 'smooth'
            });

            try {
                if (this.isMacOsSafariBrowser) {
                    if (!this.safariBrowserVideoFile) {
                        return;
                    }

                    this.$refs.macOsRecordedVideo.play();

                    this.$refs.macOsRecordedVideo.addEventListener(
                        'ended',
                        () => {
                            this.isVideoPlaying = false;
                        }
                    );
                } else if (this.isMobileSafariBrowser) {
                    if (!this.safariBrowserVideoFile) {
                        return;
                    }

                    this.$refs.safariVideo.play();

                    this.$refs.safariVideo.addEventListener('ended', () => {
                        this.isVideoPlaying = false;
                    });
                } else {
                    if (this.recordState !== 'ended') {
                        return;
                    }

                    this.$refs.video.play();

                    this.$refs.video.addEventListener('ended', () => {
                        this.isVideoPlaying = false;
                    });
                }
            } catch (error) {
                console.error(error);
            }

            this.isVideoPlaying = true;
        },

        async submitHandler() {
            window.scrollTo({
                top: 50,
                behavior: 'smooth'
            });

            this.isVideoUploading = true;

            const question = this.questions[this.activeQuestionIndex];

            const answer = {
                question_id: question.id,
                index: question.index
            };

            const formData = new FormData();

            try {
                if (this.isMobileSafariBrowser) {
                    const video = this.$refs.safariVideo;

                    if (video.duration > 90) {
                        this.$toast.error(
                            this.$t('toasts.errors.videoMaxLength')
                        );

                        return;
                    }

                    answer.video = this.safariBrowserVideoFile;

                    for (const data in answer) {
                        formData.append(data, answer[data]);
                    }

                    await this.setAnswerFromSafariMobile(formData);
                } else if (this.isMacOsSafariBrowser) {
                    answer.video = this.safariBrowserVideoFile;

                    for (const data in answer) {
                        formData.append(data, answer[data]);
                    }

                    await this.setAnswerFromSafariMobile(formData);
                } else {
                    const blob = await blobToBase64(this.blobVideo);

                    answer.video = { blob };

                    await this.setAnswer(answer);
                }
            } catch (error) {
                console.error(error);
            }

            this.isVideoUploading = false;

            this.initStream();

            clearTimeout(this.timeout);

            if (this.activeQuestionIndex < this.questions.length - 1) {
                this.activeQuestionIndex++;
                this.reset(this.activeQuestionIndex);
            } else {
                await this.$auth.fetchUser();

                this.$router.push('/signup/finish');
            }
        },

        handleStop() {
            const type = (this.recordedBlobs[0] || {}).type;

            this.blobVideo = new Blob(this.recordedBlobs, { type });

            if (this.isMacOsSafariBrowser) {
                this.$refs.macOsRecordedVideo.src = window.URL.createObjectURL(
                    this.blobVideo
                );

                this.safariBrowserVideoFile = new File(
                    [this.blobVideo],
                    'webm',
                    {
                        type,
                        lastModified: new Date()
                    }
                );

                return;
            }

            try {
                this.$refs.video.autoplay = false;
                this.$refs.video.srcObject = null;
                this.$refs.video.src = window.URL.createObjectURL(
                    this.blobVideo
                );

                this.stream.getTracks().forEach(track => {
                    track.stop();
                    this.recordState = track.readyState;
                });
            } catch (error) {
                console.error(error);
            }
        },

        stopRecording() {
            window.scrollTo({
                top: 215,
                behavior: 'smooth'
            });

            this.isRecording = false;

            if (this.isMacOsSafariBrowser) {
                this.isMacOsStream = false;
            }

            if (this.mediaRecorder.state !== 'inactive') {
                this.mediaRecorder.stop();
            }
        },

        async reset(questionIndex = 0) {
            this.resetVideoElement();
            this.resetBlobs();
            this.resetStreamState();

            this.mediaRecorder = {};
            this.recordState = '';

            /* INFO */
            /* remove line below if you don't want reload all steps when you want re-record video */
            this.activeQuestionIndex = questionIndex;

            if (this.isMobileSafariBrowser) {
                this.reUploadSafariVideo();

                return;
            }

            if (this.isMacOsSafariBrowser) {
                this.resetMacOsSafariVideo();
            }

            await this.initStream();
        },

        resetBlobs() {
            this.blobVideo = {};
            this.recordedBlobs = [];
        },

        resetStreamState() {
            this.recordState = '';
            this.stream = {};
        },

        resetVideoElement() {
            if (!this.isMobileSafariBrowser && !this.isMacOsSafariBrowser) {
                this.$refs.video.autoplay = true;
                this.$refs.video.src = '';
                this.$refs.video.srcObject = null;
            }
        },

        reUploadSafariVideo() {
            this.$refs.safariVideo.src = '';
            this.$refs.safariVideo.srcObject = null;
            this.safariBrowserVideoFile = null;
        },

        resetMacOsSafariVideo() {
            this.isMacOsStream = true;
            this.$refs.macOsRecordedVideo.src = '';
            this.$refs.macOsRecordedVideo.srcObject = null;
            this.safariBrowserVideoFile = null;
        }
    }
};
</script>
<style lang="scss">
div.videocv {
    div.video_form {
        video {
            width: 100%;
        }

        .btn_control.stop {
            display: none;
        }

        &:hover {
            .btn_control.stop {
                display: block;
            }
        }
    }
}
</style>
