<template>
    <div class="aritcle_item">
        <div class="aritcle_image">
            <picture v-full-image-path="value || {}" />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
            default: () => ({})
        }
    }
};
</script>
