<template>
    <div class="aritcle_item">
        <div class="aritcle_content" v-html="value" />
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true,
            default: ''
        }
    }
};
</script>
