<template>
    <div class="aritcle_item">
        <div class="aritcle_image">
            <a class="video_link" :href="value.link" :data-fancybox="uniqueFancyBoxName">
                <picture v-full-image-path="value.image" />
            </a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
            default: () => ({})
        }
    },

    data() {
        return {
            uniqueFancyBoxName: ''
        };
    },

    created() {
        this.uniqueFancyBoxName = Math.random()
            .toString(36)
            .substring(2, 15)
            .match(/[a-zA-Z]+/g)
            .join('');
    },

    methods: {
        resetFancyBox() {
            const $ = window.jQuery;

            $(`[data-fancybox=${this.uniqueFancyBoxName}]`).fancybox({});
        }
    }
};
</script>
