<template>
    <div class="b_sign_page">
        <div class="page_head">
            <div
                class="image_decor"
                v-full-background-image-path:assets="'image_decor.png'"
            />
            <div class="container">
                <div class="title">{{ content.headline }}</div>
            </div>
        </div>
        <div class="container">
            <div class="sign_form">
                <form>
                    <div class="form_wrapper block_shadow">
                        <div class="all_form_section">
                            <personal-data />
                            <authentication />
                        </div>
                        <passport-and-more-details />
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import PersonalData from '@/components/register/PersonalData';
import Authentication from '@/components/register/Authentication';
import PassportAndMoreDetails from '@/components/register/PassportAndMoreDetails';
import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    components: {
        PersonalData,
        Authentication,
        PassportAndMoreDetails
    },

    data() {
        return {
            isPersonalInfoReady: false,
            privacyPolicyAccepted: false,
            formPersonalInformation: {
                first_name: null,
                last_name: null,
                email: null,
                birthday: null,
                marital_status: null,
                gender: null,
                hometown: null,
                phone: null
            },
            error: null
        };
    },

    computed: {
        ...mapGetters({
            getPersonalData: 'register/getData',
            getContent: 'content/getContentByKey',
            user: 'loggedUser'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('signup-page');
        },

        loggedIn() {
            return !!this.user;
        }
    },

    async mounted() {
        const $ = window.jQuery;

        $('.btn_clear').on('click', function(e) {
            e.preventDefault();
            $('.archive_filter')
                .find('select')
                .prop('selectedIndex', 0);
            $('.archive_filter')
                .find('.jsSelectricView')
                .selectric('refresh');
        });

        $('.jsSelectricView').selectric({
            maxHeight: 150,
            disableOnMobile: false,
            nativeOnMobile: false
        });

        $('.jsSingUpHeadAuth').click(function() {
            $('.jsSingUpHeadAuth').toggleClass('open');
            $('.jsSingUpHeadAuth')
                .next('.jsSingUpContentAuth')
                .slideToggle(300);
        });

        await this.$nextTick();

        this.isPersonalInfoReady = true;

        this.checkIfLoggedIn();
    },

    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        ...mapActions({
            submitPassportData: 'register/submitPassportData'
        }),

        checkIfLoggedIn() {
            if (!this.loggedIn) {
                return;
            }

            if (this.user && this.user.registration_completed) {
                this.$router.push('/');

                return;
            }

            if (
                this.user &&
                this.user.registration &&
                this.user.registration.second_step &&
                !this.user.registration.third_step
            ) {
                this.$router.push('/videocv');

                return;
            }

            const $ = window.jQuery;
            $('#personalInformation .section_head').removeClass('open');
            $('#personalInformation .section_content').slideUp(300);
            $('#personalInformation .section_head').hide();
            $('#Authentication .section_head').removeClass('open');
            $('#Authentication .section_content').slideUp(300);
            $('#PassportDetails .section_head').addClass('open');
            $('#PassportDetails .section_content').show(0);
            $('#PassportDetails').slideDown(300);
            $('#MoreDetails').slideDown(300);
            $('.resume_button').slideDown(300);
        },

        async submit() {
            try {
                const response = await this.submitPassportData();
            } catch (err) {
                console.error(err);
            }
        }
    }
};
</script>
