<template>
    <div class="profile_wrapper">
        <div class="not_available">
            <div class="not_available_content">
                <div class="image_locked">
                    <img v-full-image-path:assets="'lock.svg'" />
                </div>
                <div class="title_info">
                    {{ $t('info.toSeeTheCompanyDetailsClickOnApplyButton') }}
                </div>
            </div>
        </div>
        <div class="banner_wrapper">
            <div
                class="banner_image"
                v-full-background-image-path:media="promoteImage"
            ></div>
            <div class="banner_content">
                <div class="container">
                    <div class="company_logo">
                        <picture v-full-image-path="logo" />
                    </div>
                    <div class="banner_title">{{ country }}, {{ city }}</div>
                    <div class="social_wrapper">
                        <nuxt-link class="social_link" to="#">
                            <img
                                v-full-image-path:assets="
                                    'company_instagram.svg'
                                "
                            />
                        </nuxt-link>
                        <nuxt-link class="social_link" to="#">
                            <img
                                v-full-image-path:assets="
                                    'company_facebook.svg'
                                "
                            />
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_content">
            <div class="container">
                <div class="container_wrapper">
                    <div class="content_row">
                        <h3 class="content_title">
                            {{ $t('labels.aboutTheCompany') }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ $t('loremIpsum') }}
                            </p>
                        </div>
                    </div>
                    <div class="content_row">
                        <h3 class="content_title">
                            {{ $t('labels.residenceAndWorkEnvironment') }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ $t('loremIpsum') }}
                            </p>
                        </div>
                    </div>
                    <div class="content_row">
                        <h3 class="content_title">
                            {{
                                $t(
                                    'labels.natureOfThePositionAndTermsOfEmployment'
                                )
                            }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ $t('loremIpsum') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="users_recommendations">
            <div class="container">
                <div class="container_wrapper">
                    <h3 class="content_title">
                        {{ $t('labels.goldUserRecommendations') }}
                    </h3>
                    <div class="recommendations_list">
                        <div class="recommendation_row">
                            <div class="content">
                                <div class="user_wrapper">
                                    <div
                                        class="user_image"
                                        v-full-background-image-path:assets="
                                            'user_image.jpg'
                                        "
                                    ></div>
                                    <div class="user_info">
                                        <div class="user_name">
                                            {{ $t('global.israelIsIsraeli') }}
                                        </div>
                                        <div class="recommendation_date">
                                            יולי 2019
                                        </div>
                                        <div class="user_rating">
                                            {{ $t('global.rating') }} 8
                                        </div>
                                    </div>
                                </div>
                                <div class="user_review">
                                    <p>
                                        {{ $t('loremIpsum') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="recommendation_row">
                            <div class="content">
                                <div class="user_wrapper">
                                    <div
                                        class="user_image"
                                        v-full-background-image-path:assets="
                                            'user_image.jpg'
                                        "
                                    ></div>
                                    <div class="user_info">
                                        <div class="user_name">
                                            {{ $t('global.israelIsIsraeli') }}
                                        </div>
                                        <div class="recommendation_date">
                                            יולי 2019
                                        </div>
                                        <div class="user_rating">
                                            {{ $t('global.rating') }} 8
                                        </div>
                                    </div>
                                </div>
                                <div class="user_review">
                                    <p>
                                        {{ $t('loremIpsum') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="recommendation_row">
                            <div class="content">
                                <div class="user_wrapper">
                                    <div
                                        class="user_image"
                                        v-full-background-image-path:assets="
                                            'user_image.jpg'
                                        "
                                    ></div>
                                    <div class="user_info">
                                        <div class="user_name">
                                            {{ $t('global.israelIsIsraeli') }}
                                        </div>
                                        <div class="recommendation_date">
                                            יולי 2019
                                        </div>
                                        <div class="user_rating">
                                            {{ $t('global.rating') }} 8
                                        </div>
                                    </div>
                                </div>
                                <div class="user_review">
                                    <p>
                                        {{ $t('loremIpsum') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="recommendation_row">
                            <div class="content">
                                <div class="user_wrapper">
                                    <div
                                        class="user_image"
                                        v-full-background-image-path:assets="
                                            'user_image.jpg'
                                        "
                                    ></div>
                                    <div class="user_info">
                                        <div class="user_name">
                                            {{ $t('global.israelIsIsraeli') }}
                                        </div>
                                        <div class="recommendation_date">
                                            יולי 2019
                                        </div>
                                        <div class="user_rating">
                                            {{ $t('global.rating') }} 8
                                        </div>
                                    </div>
                                </div>
                                <div class="user_review">
                                    <p>
                                        {{ $t('loremIpsum') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommendations_nav">
                        <a class="btn_nav btn_nav_prev" href="#">הקודם </a>
                        <a class="btn_nav btn_nav_next" href="#">
                            הבא
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        logo: {
            type: Object,
            default: () => {}
        },
        promoteImage: {
            type: Object,
            default: () => {}
        },
        country: {
            type: String,
            default: ''
        },
        city: {
            type: String,
            default: ''
        }
    }
};
</script>
