<template>
    <div class="profile_wrapper">
        <div class="banner_wrapper">
            <div
                class="banner_image"
                style="background-image: url('images/company_profile_image.jpg')"
                v-full-background-image-path:media="promoteImage"
            />
            <div id="single-content-id" class="banner_content">
                <div class="container">
                    <div class="company_logo">
                        <picture v-full-image-path="logo" />
                    </div>
                    <div class="banner_title">{{ country }}, {{ city }}</div>
                    <div class="social_wrapper">
                        <nuxt-link class="social_link" :to="instagramLink">
                            <img
                                v-full-image-path:assets="
                                    'company_instagram.svg'
                                "
                            />
                        </nuxt-link>
                        <nuxt-link class="social_link" :to="facebookLink">
                            <img
                                v-full-image-path:assets="
                                    'company_facebook.svg'
                                "
                            />
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_content">
            <div class="container">
                <div class="container_wrapper">
                    <div class="content_row">
                        <h3 class="content_title">
                            {{ $t('labels.aboutTheCompany') }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ aboutCompany }}
                            </p>
                        </div>
                    </div>
                    <div class="content_row">
                        <h3 class="content_title">
                            {{ $t('labels.residenceAndWorkEnvironment') }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ workingEnvironment }}
                            </p>
                        </div>
                    </div>
                    <div class="content_row">
                        <h3 class="content_title">
                            {{
                                $t(
                                    'labels.natureOfThePositionAndTermsOfEmployment'
                                )
                            }}
                        </h3>
                        <div class="content">
                            <p>
                                {{ officeNature }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="reviews.length" class="users_recommendations">
            <div class="container">
                <div class="container_wrapper">
                    <h3 class="content_title">
                        {{ $t('labels.goldUserRecommendations') }}
                    </h3>
                    <div class="recommendations_list">
                        <div
                            v-for="(review, i) in filteredReviews"
                            :key="i"
                            class="recommendation_row"
                        >
                            <div class="content">
                                <div class="user_wrapper">
                                    <div
                                        class="user_image"
                                        v-full-background-image-path:media="
                                            review.user.image
                                        "
                                    />
                                    <div class="user_info">
                                        <div class="user_name">
                                            {{ review.user.full_name }}
                                        </div>
                                        <div class="recommendation_date">
                                            {{ review.created_at | handleDate }}
                                        </div>
                                        <div class="user_rating">
                                            {{ $t('global.rating') }}
                                            {{ review.rating }}
                                        </div>
                                    </div>
                                </div>
                                <div class="user_review">
                                    <p>
                                        {{ review.content }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommendations_nav">
                        <a
                            v-show="isPreviousPageVisible && page !== 0"
                            class="btn_nav btn_nav_prev"
                            href="#"
                            @click.prevent="previousPage"
                        >
                            {{ $t('buttons.previous') }}
                        </a>
                        <a
                            v-show="isNextPageVisible"
                            class="btn_nav btn_nav_next"
                            href="#"
                            @click.prevent="nextPage"
                        >
                            {{ $t('buttons.next') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    props: {
        country: {
            type: String,
            default: ''
        },
        city: {
            type: String,
            default: ''
        },
        aboutCompany: {
            type: String,
            default: ''
        },
        officeNature: {
            type: String,
            default: ''
        },
        workingEnvironment: {
            type: String,
            default: ''
        },
        logo: {
            type: Object
        },
        promoteImage: {
            type: Object,
            default: ''
        },
        facebookLink: {
            type: String,
            default: ''
        },
        instagramLink: {
            type: String,
            default: ''
        },
        reviews: {
            type: Array,
            default: () => []
        }
    },

    filters: {
        handleDate(value) {
            if (!value) return '';
            return moment(value)
                .locale('he')
                .format('MMM YYYY');
        }
    },

    data() {
        return {
            page: 0,
            perPage: 4,
            isNextPageVisible: false,
            isPreviousPageVisible: false
        };
    },
    computed: {
        filteredReviews() {
            return this.reviews.slice(
                this.page * this.perPage,
                this.page * this.perPage + this.perPage
            );
        }
    },
    mounted() {
        if (this.reviews.length > this.perPage) {
            this.isNextPageVisible = true;
        }
    },

    methods: {
        nextPage() {
            if (
                this.reviews.length >=
                this.page * this.perPage + this.perPage
            ) {
                this.page += 1;
                this.isPreviousPageVisible = true;
            } else {
                this.isNextPageVisible = false;
            }

            if (
                this.reviews.length <=
                this.page * this.perPage + this.perPage
            ) {
                this.isNextPageVisible = false;
            }
        },
        previousPage() {
            if (this.page > 0) {
                this.page -= 1;
                this.isNextPageVisible = true;
            } else {
                this.isPreviousPageVisible = false;
            }
        }
    }
};
</script>
