<template>
    <div class="company_main_profile">
        <div class="container">
            <div class="back_wrapper">
                <nuxt-link class="link_back" to="/jobs">
                    {{ $t('links.backToTheArchivesOfEmployers') }}
                </nuxt-link>
            </div>
            <div class="company_video_wrapper">
                <a class="company_video" href="#">
                    <video-playback
                        ref="video"
                        :video="promoteVideo"
                        :controls="showVideoControls"
                        @timeupdate="onVideoTimeUpdate"
                    />
                </a>
                <a
                    class="company_nav company_next"
                    href="#"
                    @click.prevent="nextCompany"
                >
                    <div class="icon_wrap">
                        <div class="icon_inner" />
                    </div>
                    <div class="text">
                        {{ $t('buttons.forNextJob') }}
                    </div>
                </a>
                <a
                    class="company_nav company_prev"
                    href="#"
                    @click.prevent="previousCompany"
                >
                    <div class="icon_wrap">
                        <div class="icon_inner" />
                    </div>
                    <div class="text">
                        {{ $t('buttons.forPreviousJob') }}
                    </div>
                </a>
            </div>

            <div
                v-if="cancellationAvailable"
                class="cancellation_wrapper"
                id="cancel_wrap"
            >
                <div class="cancellation_info">
                    <div class="info_icon"></div>
                    <div class="info_content">
                        {{ $t('info.youCanUnsubscribeAt') }}
                        <span>
                            <span id="time_left" v-text="timer" />
                            {{ $t('global.subtlety') }}
                        </span>
                        {{ $t('global.comingOnly') }}
                    </div>
                </div>
                <a class="btn btn_gray" href="#" @click.prevent="cancel">
                    {{ $t('buttons.cancellationOfCandidacy') }}
                </a>
            </div>

            <div v-if="applyingAvailable" class="apply_wrapper">
                <a
                    class="btn btn_blue"
                    href="#"
                    @click.prevent="applyButtonClicked"
                >
                    {{ $t('global.apply') }}
                </a>
            </div>

            <div v-show="isVideoDisabled" class="b_profile_popup">
                <div class="popup_inner">
                    <div class="popup_image_wrapper">
                        <div
                            class="image"
                            v-full-background-image-path:media="logo"
                        />
                    </div>
                    <div class="popup_title">
                        {{ $t('info.doYouWantToWorkHere') }}
                    </div>
                    <div class="application_wrapper">
                        <div class="application">
                            <div class="info_icon" />
                            <div v-if="loggedIn" class="application_info">
                                {{ $t('info.youHaveMoreLeft') }}
                                <span class="number_left">
                                    {{ applicationCredits }}
                                </span>
                                {{ $t('global.nominations') }}
                            </div>
                            <div v-else class="application_info">
                                {{ $t('info.inOrderToApplyYouMustRegister') }}
                            </div>
                        </div>
                    </div>
                    <button
                        class="btn btn_blue btn_leave_details"
                        type="button"
                        @click="videoPopupButtonClicked"
                    >
                        <span v-if="loggedIn" class="btn_title">
                            {{ $t('buttons.leavingDetails') }}
                        </span>
                        <span v-else class="btn_title">
                            {{ $t('links.toRegister') }}
                        </span>
                        <span v-if="loggedIn" class="btn_info">
                            {{
                                $t(
                                    'info.byClickingOnThisButtonIConfirmTheDetails'
                                )
                            }}
                        </span>
                    </button>
                    <div v-if="loggedIn" class="link_wrapper">
                        <nuxt-link class="link" to="/jobs">
                            {{ $t('links.lessSuitableForMeShowMoreOptions') }}
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from 'moment';
import { mapActions, mapGetters } from 'vuex';

import VideoPlayback from '@/components/elements/VideoPlayback';

export default {
    components: {
        VideoPlayback
    },

    props: {
        logo: {
            type: Object,
            default: () => {}
        },
        promoteVideo: {
            type: String,
            default: ''
        },
        loggedIn: {
            type: Boolean,
            default: false
        },
        application: {
            type: Object,
            default: () => {}
        },
        applicationCredits: {
            type: Number,
            default: 3
        }
    },

    data() {
        return {
            timer: '',
            isVideoDisabled: false,
            cancellationAvailable: false,
            applyingAvailable: false,
            showVideoControls: true,
            videoDurationForNonLoggedUser: 60
        };
    },

    computed: {
        ...mapGetters({
            getNextCompany: 'company/getNextCompany',
            getPreviousCompany: 'company/getPreviousCompany',
            user: 'loggedUser'
        })
    },

    mounted() {
        if (this.application) {
            const time = this.checkTimeLeft();

            if (time) {
                this.startCountdown(time);
                this.cancellationAvailable = true;
            }
        } else {
            this.applyingAvailable = true;
        }
    },

    methods: {
        ...mapActions({
            postApplication: 'applications/postApplication',
            cancelApplication: 'applications/cancelApplication',
            getCompanies: 'company/getFilteredCompanies',
            setApplicationCredits: 'setApplicationCredits'
        }),

        onVideoTimeUpdate() {
            if (!this.$refs.video) {
                return;
            }

            const {
                video: { videoElement: video }
            } = this.$refs;

            if (!this.loggedIn) {
                if (video.currentTime > this.videoDurationForNonLoggedUser) {
                    video.currentTime = this.videoDurationForNonLoggedUser;
                    video.pause();

                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }

                    this.showVideoControls = false;
                    this.isVideoDisabled = true;
                }
            }
        },

        videoPopupButtonClicked() {
            if (this.user && this.user.type === 'company') {
                this.$toast.error(
                    this.$t(
                        'toasts.errors.cannotSubmitApplicationYouAreLoggedAsCompany'
                    )
                );
            } else if (!this.loggedIn) {
                this.$router.push('/login#enrollment');
            } else {
                this.submitApplication();
            }
        },

        applyButtonClicked() {
            const {
                video: { videoElement: video }
            } = this.$refs;

            video.pause();

            this.showVideoControls = false;
            this.isVideoDisabled = true;
        },

        checkTimeLeft(createdAt) {
            const now = moment();
            const then = moment(createdAt || this.application.created_at);
            const ms = moment(now).diff(moment(then));
            const duration = moment.duration(ms);
            const durationInMilliseconds = 600000;

            if (duration._milliseconds > durationInMilliseconds) {
                return false;
            }

            return duration._milliseconds;
        },

        startCountdown(time) {
            const timeLeft = 600000 - time;
            const duration = moment.duration(timeLeft);

            const timer =
                ('0' + duration.minutes()).slice(-2) +
                ':' +
                ('0' + duration.seconds()).slice(-2);

            const seconds = duration.minutes() * 60 + duration.seconds();

            this.countdown(timer, seconds);
        },

        countdown(timer, seconds) {
            const timeDurationToString = duration => {
                return duration > 9 ? duration : '0' + duration;
            };

            clearInterval(window.interval);

            this.timer = timer;

            const tick = () => {
                if (this.timer === '00:00') {
                    this.cancellationAvailable = false;

                    return;
                }

                seconds -= 1;

                const minutesLeft = Math.floor(seconds / 60);
                const secondsLeft = seconds % 60;

                this.timer = `${timeDurationToString(
                    minutesLeft
                )}:${timeDurationToString(secondsLeft)}`;
            };

            window.interval = setInterval(tick, 1000);
        },

        async submitApplication() {
            try {
                const data = await this.postApplication(
                    this.$route.params.slug
                );

                this.$emit('applicationUpdate', data);
                this.applyingAvailable = false;
                this.isVideoDisabled = false;

                const time = this.checkTimeLeft(data.created_at);

                if (time) {
                    this.startCountdown(time);
                    this.cancellationAvailable = true;
                }

                this.setApplicationCredits(this.applicationCredits - 1);

                this.showVideoControls = false;

                this.$analytics.sendGoogleTagManagerEvent({
                    event: 'submit lead',
                    user: this.user
                });

                this.$emit('openModal');
                this.$emit('refreshCompany');
            } catch (err) {
                console.error(err);

                const message =
                    err.response.data.error ||
                    this.$t('toasts.errors.somethingWentWrong');

                this.$toast.error(message);
            }
        },
        async cancel() {
            try {
                const data = await this.cancelApplication(
                    this.$route.params.slug
                );

                this.setApplicationCredits(this.applicationCredits + 1);
                this.$emit('applicationUpdate', null);

                this.cancellationAvailable = false;
                this.applyingAvailable = true;
            } catch (err) {
                console.error(err);

                const message =
                    err.response.data.error ||
                    this.$t('toasts.errors.somethingWentWrong');

                this.$toast.error(message);
            }
        },
        async nextCompany() {
            let company = this.getNextCompany(this.$route.params.slug);

            if (!company) {
                try {
                    await this.getCompanies({});

                    company = this.getNextCompany(this.$route.params.slug);
                } catch (err) {
                    console.error(err);
                }
            }

            this.$router.push(`/company/${company.id}`);
        },
        async previousCompany() {
            let company = this.getPreviousCompany(this.$route.params.slug);

            if (!company) {
                try {
                    await this.getCompanies({});

                    company = this.getPreviousCompany(this.$route.params.slug);
                } catch (err) {
                    console.error(err);
                }
            }

            this.$router.push(`/company/${company.id}`);
        }
    }
};
</script>
