<template>
    <magnific-popup
        :show="false"
        :config="{
            type: 'inline',
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom',
            showCloseBtn: false
        }"
        ref="modal"
    >
        <div
            class="b_modal xs_modal single_content zoom-anim-dialog"
            id="applyERA"
        >
            <div class="modal_content">
                <div class="icon_done"></div>
                <div class="modal_title">
                    {{ $t('modals.title.applyTo') }} - {{ companyName }}
                </div>
                <div class="content_wrapper">
                    {{ $t('modals.howFunYourDetailsHaveSent') }}
                </div>
                <div class="btn_wrapper">
                    <a
                        class="btn btn_gray"
                        href="#"
                        @click.prevent="closeModal"
                    >
                        {{ $t('buttons.viewTheBussinessPage') }}
                    </a>
                </div>
            </div>
        </div>
    </magnific-popup>
</template>
<script>
import MagnificPopup from '@/components/elements/MagnificPopup';
export default {
    components: {
        MagnificPopup
    },
    props: {
        companyName: {
            type: String,
            required: false,
            default: ''
        }
    },
    methods: {
        openModal() {
            this.$refs.modal.open();
        },
        closeModal() {
            this.$refs.modal.close();
            this.$emit('close');
        }
    }
};
</script>
