<template>
    <div class="guidelines_wrapper">
        <div class="guidelines_title">
            {{ $t('videoCvPage.guidelineToTalkAbout') }}
        </div>
        <div class="guidelines_list">
            <ul>
                <li
                    v-for="(bullet, index) in questions[activeQuestionIndex]
                        .bullets"
                    :key="`bullet-${index}-question-${activeQuestionIndex}`"
                >
                    {{ bullet }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        questions: {
            type: Array,
            required: true
        },
        activeQuestionIndex: {
            type: Number,
            required: true
        }
    }
};
</script>
