<template>
    <div class="next_step">
        <button
            v-if="isVideoUploading"
            class="btn btn_blue_empty btn_submit"
            disabled
        >
            {{ $t('buttons.uploadingVideo') }}
        </button>
        <button
            v-else
            class="btn btn_blue_empty btn_submit"
            :disabled="isSubmitButtonDisabled"
            @click.prevent="submit"
        >
            {{ $t('buttons.next') }}
        </button>
    </div>
</template>

<script>
export default {
    props: {
        isVideoUploading: {
            required: true,
            type: Boolean
        },

        isSubmitButtonDisabled: {
            required: true,
            type: Boolean
        }
    },

    methods: {
        submit() {
            this.$emit('submitted');
        }
    }
};
</script>
