<template>
    <div class="page_head">
        <div
            class="image_decor"
            v-full-background-image-path:assets="'image_decor.png'"
        />
        <div class="container">
            <div id="page-head" class="title">
                {{ $t('videoCvPage.title') }}
            </div>
        </div>
    </div>
</template>
