<template>
    <div class="sign_form support_message">
        <div class="form_wrapper block_shadow">
            <div class="message_inner">
                <div class="img_wrapper">
                    <img v-full-image-path:assets="'not_supported.svg'" />
                </div>
                <div class="section_title">
                    {{ $t('info.yourBrowserDoesNotSupportCameraSharing') }}
                </div>
                <div class="content_wrapper">
                    <div class="title">
                        {{
                            $t(
                                'info.notBadYouHaveNotYetReachedTheEndOfTheWorld'
                            )
                        }}
                    </div>
                    <div class="content">
                        <p>
                            {{
                                $t(
                                    'info.youCanCopyTheLinkFromTheAddressBarAndContinueInAnotherDevice'
                                )
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
