<template>
    <div v-if="hasTrainingVideo" class="training_video">
        <a class="btn_training" @click="show">
            <div class="btn_training_inner">
                <div class="training_icon" />
                <div class="training_title">
                    {{ $t('videoCvPage.toWatchTutorialVideo') }}
                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {
    props: {
        hasTrainingVideo: {
            required: true,
            type: Boolean
        }
    },
    methods: {
        show() {
            this.$emit('show');
        }
    }
};
</script>
