<template>
    <div>
        <div v-if="isMacOsSafariBrowser">
            <div
                v-if="!safariBrowserVideoFile && !isRecording"
                class="video_control before_controls"
            >
                <div class="btn_control start" @click="startRecording">
                    <record-button />
                </div>
            </div>

            <div v-if="isRecording" class="video_control during_controls">
                <div class="btn_control stop" @click="stopRecording">
                    <stop-button />
                </div>
            </div>

            <div
                v-if="safariBrowserVideoFile && !isVideoPlaying"
                class="video_control ended_controls"
            >
                <div @click="playVideo" class="btn_control">
                    <play-button />
                </div>
                <div @click="reset" class="btn_control">
                    <re-recording-button />
                </div>
            </div>
        </div>

        <div v-if="isMobileSafariBrowser && !isMacOsSafariBrowser">
            <div
                v-if="!safariBrowserVideoFile"
                class="video_control before_controls"
            >
                <div class="btn_control start" @click="startRecording">
                    <record-button />
                </div>
            </div>

            <div
                v-if="safariBrowserVideoFile && !isVideoPlaying"
                class="video_control ended_controls"
            >
                <div @click="playVideo" class="btn_control">
                    <play-button />
                </div>
                <div @click="reset" class="btn_control">
                    <re-recording-button />
                </div>
            </div>
        </div>

        <div v-if="!isMobileSafariBrowser && !isMacOsSafariBrowser">
            <div
                v-if="!isRecording && recordState !== 'ended'"
                class="video_control before_controls"
            >
                <div class="btn_control start" @click="startRecording">
                    <record-button />
                </div>
            </div>

            <div v-if="isRecording" class="video_control during_controls">
                <div class="btn_control stop" @click="stopRecording">
                    <stop-button />
                </div>
            </div>

            <div
                v-if="
                    !isRecording && recordState === 'ended' && !isVideoPlaying
                "
                class="video_control ended_controls"
            >
                <div @click="playVideo" class="btn_control">
                    <play-button />
                </div>
                <div @click="reset" class="btn_control">
                    <re-recording-button />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RecordButton from './controls/RecordButton';
import PlayButton from './controls/PlayButton';
import ReRecordingButton from './controls/ReRecordingButton';
import StopButton from './controls/StopButton';

export default {
    components: {
        RecordButton,
        PlayButton,
        ReRecordingButton,
        StopButton
    },

    props: {
        safariBrowserVideoFile: null,
        isRecording: {
            required: true,
            type: Boolean
        },
        isVideoPlaying: {
            required: true,
            type: Boolean
        },
        isMacOsSafariBrowser: {
            required: true,
            type: Boolean
        },
        isMobileSafariBrowser: {
            type: Boolean
        },
        recordState: {
            required: true
        }
    },

    methods: {
        startRecording() {
            this.$emit('startRecording');
        },

        stopRecording() {
            this.$emit('stopRecording');
        },

        reset() {
            this.$emit('reset');
        },

        playVideo() {
            this.$emit('playVideo');
        }
    }
};
</script>
