<template>
    <div class="video_form_head">
        <div class="form_title">
            {{ questions[activeQuestionIndex].title }}
        </div>
        <div class="video_description">
            {{ questions[activeQuestionIndex].info }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        questions: {
            type: Array,
            required: true
        },
        activeQuestionIndex: {
            type: Number,
            required: true
        }
    }
};
</script>
