<template>
    <div class="form_section gold_member">
        <div class="section_head" :class="{ open }" @click="open = !open">
            <div class="section_head_title">
                <div class="head_image">
                    <img v-full-image-path:assets="'icon_Gold_Member.svg'" />
                </div>
                <div class="head_title">{{ $t('global.goldUser') }}</div>
            </div>
        </div>
        <transition name="slide-fade">
            <div v-show="open" class="section_content" style="display: block">
                <span
                    v-for="(review, index) in reviews"
                    :key="`review-${index}`"
                >
                    <review
                        v-model="reviews[index]"
                        :validation-errors="validationErrors.$each.$iter[index]"
                    />
                </span>

                <div class="add_row">
                    <div
                        class="link_add add_another_company"
                        @click="addReview"
                    >
                        {{ $t('register.goldUser.addAnotherCompany') }}
                    </div>
                </div>

                <div class="add_row">
                    <div
                        v-if="addedReviews"
                        class="link_remove"
                        @click.prevent="removeReview"
                    >
                        {{ $t('register.goldUser.deleteLastCompany') }}
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Review from '@/components/personal-zone/Review';

export default {
    props: {
        value: {
            type: Array
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Review
    },

    data() {
        return {
            reviews: [],
            addedReviews: 0,
            open: false
        };
    },

    watch: {
        value: {
            handler() {
                this.reviews = this.value;
            },
            immediate: true
        },
        form: {
            handler() {
                this.$emit('input', this.form);
            },
            deep: true
        }
    },

    methods: {
        addReview() {
            this.reviews.push({});
            this.addedReviews++;
        },

        removeReview() {
            this.reviews.pop();
            this.addedReviews--;
        }
    }
};
</script>
