<template>
    <div class="personal_zone_conntent block_shadow">
        <div class="conntent_wrapper">
            <div class="contact_information">
                <p>{{ content.upperText }}</p>
            </div>

            <div
                v-if="!openInquiries.length && !closedInquiries.length"
                class="passport_info"
            >
                <div class="image_wrapper">
                    <img v-full-image-path:assets="'passport_info_image.svg'" />
                </div>
                <div class="info_title">
                    {{ $t('info.yourPassportIsHungryForSignatures') }}
                </div>
                <nuxt-link class="btn btn_blue" to="/jobs">
                    {{ $t('links.comeOnLetsLook') }}
                </nuxt-link>
            </div>

            <div class="inquiries_wrappers jsStatus">
                <div
                    v-if="openInquiries.length"
                    class="inquiries_wrap openInquiries"
                >
                    <div class="inquiries_label">
                        {{ $t('labels.openInquiries') }}
                    </div>

                    <div class="inquiries_list">
                        <div
                            v-for="inquiries in openInquiries"
                            :key="inquiries.id"
                            class="inquiry_row jsStatusItem"
                        >
                            <div class="inquiry_column">
                                <div class="column_label">
                                    {{ $t('labels.companyName') }}
                                </div>
                                <div class="column_data">
                                    {{ inquiries.company.name }}
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="column_label">
                                    {{ $t('labels.countryAndCity') }}
                                </div>
                                <div class="column_data">
                                    {{ inquiries.company.city.name }},
                                    {{ inquiries.company.country.name }}
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="column_data">
                                    <div class="view">
                                        <nuxt-link
                                            :to="
                                                `/company/${inquiries.company.id}`
                                            "
                                        >
                                            {{
                                                $t('links.viewTheBussinessPage')
                                            }}
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="status_wrapper">
                                    <div class="column_label">
                                        {{ $t('labels.status') }}
                                    </div>
                                    <div class="column_data">
                                        <div
                                            class="status"
                                            :class="inquiries.status"
                                        >
                                            {{
                                                getStatusText(inquiries.status)
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="closedInquiries.length"
                    class="inquiries_wrap closedInquiries"
                >
                    <div class="inquiries_label">
                        {{ $t('labels.closedInquiries') }}
                    </div>

                    <div class="inquiries_list">
                        <div
                            v-for="inquiries in closedInquiries"
                            :key="inquiries.id"
                            class="inquiry_row jsStatusItem"
                        >
                            <div class="inquiry_column">
                                <div class="column_label">
                                    {{ $t('labels.companyName') }}
                                </div>
                                <div class="column_data">
                                    {{ inquiries.company.name }}
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="column_label">
                                    {{ $t('labels.countryAndCity') }}
                                </div>
                                <div class="column_data">
                                    {{ inquiries.company.city.name }},
                                    {{ inquiries.company.country.name }}
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="column_data">
                                    <div class="view">
                                        <nuxt-link
                                            :to="
                                                `/company/${inquiries.company.id}`
                                            "
                                        >
                                            {{
                                                $t('links.viewTheBussinessPage')
                                            }}
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>
                            <div class="inquiry_column">
                                <div class="status_wrapper">
                                    <div class="column_label">
                                        {{ $t('labels.status') }}
                                    </div>
                                    <div class="column_data">
                                        <div
                                            class="status"
                                            :class="inquiries.status"
                                        >
                                            {{
                                                getStatusText(inquiries.status)
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    async asyncData({ store }) {
        try {
            const applications = await store.dispatch(
                'applications/getApplications'
            );

            return { applications };
        } catch (error) {
            console.error(error);
        }

        return {};
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName'
        }),

        openInquiries() {
            return this.applications.filter(
                ({ status }) => !['approved', 'rejected'].includes(status)
            );
        },

        closedInquiries() {
            return this.applications.filter(({ status }) =>
                ['approved', 'rejected'].includes(status)
            );
        },

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('personal-zone-page');
        }
    },

    methods: {
        getStatusText(value) {
            const statuses = this.getDropdownOptions('application_status');
            const status = statuses.find(status => status.value === value);

            return status && status.text;
        }
    }
};
</script>
