<template>
    <div id="section-more-details" class="form_section">
        <div class="section_head" :class="{ open }" @click="open = !open">
            <div class="section_head_title">
                <div class="head_image">
                    <img v-full-image-path:assets="'icon_more_details.svg'" />
                </div>
                <div class="head_title">
                    {{ $t('global.moreDetails') }}
                </div>
            </div>
        </div>
        <transition name="slide-fade">
            <div v-show="open" class="section_content" style="display: block">
                <div class="more_details">
                    <div class="form_row">
                        <div class="column_wrapper w50">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.education"
                                        :items="educationOptions"
                                        :placeholder="
                                            $t('labels.education') + '*'
                                        "
                                        :has-errors="
                                            validationErrors.education.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.service"
                                        :items="serviceOptions"
                                        :placeholder="
                                            $t('labels.militaryService')
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="form_row"
                        v-for="(language, index) in form.languages"
                        :key="`language-${index}`"
                    >
                        <div class="column_wrapper w50">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.languages[index].name"
                                        :items="languagesOptions"
                                        :key="`language-id-${index}`"
                                        :placeholder="
                                            $t('labels.anotherLanguage') + '*'
                                        "
                                        :has-errors="
                                            validationErrors.languages.$each[
                                                index
                                            ].name.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="
                                            form.languages[index].proficiency
                                        "
                                        :items="languageProficiencyOptions"
                                        :key="`language-proficiency-${index}`"
                                        :placeholder="
                                            $t(
                                                'labels.levelOfLanguageProficiency'
                                            ) + '*'
                                        "
                                        :has-errors="
                                            validationErrors.languages.$each[
                                                index
                                            ].proficiency.$error
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="add_row">
                            <a
                                class="link_add add_another_company"
                                @click.prevent="addLanguage"
                                href="#"
                            >
                                {{ $t('links.addAnotherLanguage') }}
                            </a>
                        </div>
                        <div class="add_row">
                            <div
                                v-if="addedAnotherLanguages"
                                class="link_remove"
                                @click.prevent="removeLanguage"
                            >
                                {{ $t('links.removeLastAddedLanguage') }}
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper w50">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.availability"
                                        :items="availabilityOptions"
                                        :placeholder="
                                            $t('labels.flightAvailability') +
                                                '*'
                                        "
                                        :has-errors="
                                            validationErrors.availability.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="short_question">
                                    <span class="question_label"
                                        >{{
                                            $t('labels.workExperienceAbroad')
                                        }}
                                        *</span
                                    >
                                    <div class="radio_wrapper">
                                        <label class="radio">
                                            <input
                                                v-model="form.hasExperience"
                                                name="hasExperience"
                                                type="radio"
                                                :value="true"
                                            />
                                            <span>{{ $t('global.yes') }}</span>
                                        </label>
                                        <label class="radio">
                                            <input
                                                v-model="form.hasExperience"
                                                name="hasExperience"
                                                type="radio"
                                                :value="false"
                                            />
                                            <span>{{ $t('global.no') }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper w50">
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.experience"
                                        :items="experienceOptions"
                                        :disabled="!form.hasExperience"
                                        :placeholder="
                                            $t('labels.seniorityExperience') +
                                                '*'
                                        "
                                        :has-errors="
                                            validationErrors.experience.$error
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.experience_job_type"
                                        :items="jobTypes"
                                        text-field="name"
                                        value-field="id"
                                        :disabled="!form.hasExperience"
                                        :placeholder="
                                            $t('labels.fieldOfEmployment') + '*'
                                        "
                                        :has-errors="
                                            validationErrors.experience_job_type
                                                .$error
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Selectric from '@/components/elements/Selectric';
import Datepicker from '@/components/elements/Datepicker';
import selectOptions from '@/helpers/selectOptions';
import { required } from 'vuelidate/lib/validators';

const {
    experience: experienceOptions,
    availability: availabilityOptions
} = selectOptions;

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Selectric,
        Datepicker
    },

    data() {
        return {
            form: {
                education: null,
                experience: null,
                experience_job_type: null,
                service: null,
                availability: null,
                languages: null,
                hasExperience: false
            },
            experienceOptions,
            availabilityOptions,
            open: false,
            addedAnotherLanguages: 0
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName',
            jobTypes: 'jobtypes/all'
        }),

        languageProficiencyOptions() {
            return this.getDropdownOptions('language_proficiency');
        },

        languagesOptions() {
            return this.getDropdownOptions('languages');
        },

        educationOptions() {
            return this.getDropdownOptions('education');
        },

        serviceOptions() {
            return this.getDropdownOptions('service');
        }
    },

    watch: {
        value: {
            handler() {
                this.form = this.value;
            },
            immediate: true
        },
        form: {
            handler() {
                this.$emit('input', this.form);
            },
            deep: true
        },
        'form.hasExperience'() {
            if (!this.form.hasExperience) {
                this.form.experience = null;
                this.form.experience_job_type = null;
            }
        }
    },

    methods: {
        addLanguage() {
            this.form.languages.push({
                id: null,
                proficiency: null
            });
            this.addedAnotherLanguages++;
        },

        removeLanguage() {
            this.form.languages.pop();
            this.addedAnotherLanguages--;
        }
    }
};
</script>
