<template>
    <div id="section-passport-details" class="form_section">
        <div class="section_head" :class="{ open }" @click="open = !open">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="'icon_passport_details.svg'"
                    />
                </div>
                <div class="head_title">
                    {{ $t('global.passportDetails') }}
                </div>
            </div>
        </div>
        <transition name="slide-fade">
            <div v-show="open" class="section_content" style="display: block">
                <span
                    v-for="(passport, index) in passports"
                    :key="`passport-${index}`"
                >
                    <passport
                        v-if="!passport.country && !passport.isForeign"
                        v-model="passports[index]"
                        :validation-errors="validationErrors.$each.$iter[index]"
                    />
                    <foreign-passport
                        v-else-if="findMainPassport"
                        v-model="passports[index]"
                        :validation-errors="validationErrors.$each.$iter[index]"
                    />
                </span>
                <div class="add_row">
                    <div
                        class="link_add add_another_company"
                        @click="addPassport"
                    >
                        {{ $t('links.addAnotherPassport') }}
                    </div>
                </div>
                <div class="add_row">
                    <div
                        v-if="addedPassports"
                        class="link_remove"
                        @click.prevent="removePassport"
                    >
                        {{ $t('links.cancelAdditionPassport') }}
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Passport from '@/components/personal-zone/Passport';
import ForeignPassport from '@/components/personal-zone/ForeignPassport';

export default {
    props: {
        value: {
            type: Array
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        ForeignPassport,
        Passport
    },

    data() {
        return {
            passports: [],
            addedPassports: 0,
            open: false,
            mainPassportIndex: 0,
            hasForeignPassport: false
        };
    },

    computed: {
        findMainPassport() {
            const { has_foreign_passport } = this.passports.find(
                passport => !passport.country
            );

            this.hasForeignPassport = has_foreign_passport;

            const index = this.passports.findIndex(
                passport => !passport.country
            );

            this.mainPassportIndex = index;

            return has_foreign_passport;
        }
    },

    watch: {
        value: {
            handler() {
                this.passports = this.value;
            },
            immediate: true
        },

        hasForeignPassport: {
            handler() {
                if (!this.hasForeignPassport && this.addedPassports) {
                    this.removePassport();
                }
            }
        }
    },

    methods: {
        addPassport() {
            this.passports.push({
                isForeign: true
            });

            this.addedPassports++;
            this.passports[this.mainPassportIndex].has_foreign_passport = true;
        },

        removePassport() {
            this.addedPassports--;
            this.passports.pop();
        }
    }
};
</script>
