<template>
    <div class="personal_zone_conntent block_shadow">
        <div class="conntent_wrapper">
            <div class="contact_information">
                <p>{{ content.videoTabUpperText }}</p>
            </div>

            <div class="video_content_wrappers">
                <div class="video_wrap">
                    <div class="user_video_wrapper personal-zone-watch-video">
                        <a v-if="isVideoUploaded" class="user_video">
                            <transition name="slide-fade">
                                <div v-if="show">
                                    <div
                                        v-if="answer.video"
                                        class="video-playback-container"
                                    >
                                        <video-playback
                                            ref="video"
                                            :video="videoSource"
                                            @pause="onVideoPause"
                                            width="100%"
                                            height="100%"
                                            controls
                                        />

                                        <div
                                            v-show="isVideoPaused"
                                            :class="{ playBtn: !isStream }"
                                            @click="playVideo"
                                        />
                                    </div>
                                </div>
                            </transition>
                        </a>

                        <a v-else class="user_video">
                            <p>
                                {{
                                    $t(
                                        'info.weAreProcessingVideoPleaseCheckBackLater'
                                    )
                                }}
                            </p>
                            <img
                                v-full-image-path:assets="
                                    'file-upload-icon-15.jpg'
                                "
                            />
                        </a>

                        <a
                            v-if="showNextArrow && isVideoUploaded"
                            class="user_nav user_next"
                        >
                            <div class="icon_wrap">
                                <div class="icon_inner" @click="nextQuestion" />
                            </div>
                            <div class="text">
                                {{ $t('buttons.forTheNextQuestion') }}
                            </div>
                        </a>
                        <a
                            v-if="showPreviousArrow && isVideoUploaded"
                            class="user_nav user_prev"
                        >
                            <div class="icon_wrap">
                                <div class="icon_inner" @click="prevQuestion" />
                            </div>
                            <div class="text">
                                {{ $t('buttons.forThePreviousQuestion') }}
                            </div>
                        </a>
                    </div>
                </div>

                <div class="video_content">
                    <div class="btn_wrapper">
                        <button
                            class="btn btn_blue_empty"
                            @click="createNewVideo"
                        >
                            {{ $t('buttons.takeANewVideo') }}
                        </button>
                    </div>
                    <div class="information_wrapper">
                        <div class="info">
                            {{
                                $t(
                                    'info.clickingThisButtonWillRequireAnswering'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import config from '@/config';
import VideoPlayback from '@/components/elements/VideoPlayback';
import { detectDevice } from '@/helpers/detectDevice';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    components: {
        VideoPlayback
    },

    data() {
        return {
            answer: {},
            answerIndex: 0,
            isVideoPaused: true,
            show: true,
            interval: null,
            isStream: null,
            device: {
                browser: '',
                os: ''
            },
            isSafariBrowser: false,
            isVideoUploaded: true
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            firstAnswer: 'personal_video/getFirstAnswer',
            nextAnswer: 'personal_video/getNextAnswer',
            previousAnswer: 'personal_video/getPreviousAnswer',
            answersLength: 'personal_video/getAnswersLength'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('personal-zone-page');
        },

        videoSource() {
            if (this.answer.video.includes('.') && !this.isSafariBrowser) {
                return config.mediaBaseUrl + '/cv-videos/' + this.answer.video;
            } else if (
                this.answer.video.includes('.') &&
                this.isSafariBrowser
            ) {
                this.isVideoUploaded = false;

                return;
            }

            return this.answer.video;
        },

        showNextArrow() {
            return (
                this.answer.question &&
                this.answer.question.index < this.answersLength
            );
        },

        showPreviousArrow() {
            return this.answer.question && this.answer.question.index > 1;
        }
    },

    async mounted() {
        this.device = { ...detectDevice() };

        this.checkBrowser();

        this.show = false;

        await this.setAnswers();
        await this.setupVideo(this.answerIndex);

        this.show = true;

        try {
            this.interval = setInterval(() => {
                const streamElement = document.getElementsByTagName('stream');

                if (streamElement.length > 0) {
                    this.isStream = true;

                    const videoPosterElement = document.getElementsByClassName(
                        'video-js'
                    );

                    if (videoPosterElement[0]) {
                        videoPosterElement[0].classList.add(
                            'video-js-fix-height'
                        );
                    }

                    if (streamElement[0]) {
                        clearInterval(this.interval);
                    }
                }
            }, 50);
        } catch (error) {}
    },

    destroyed() {
        clearInterval(this.interval);
    },

    methods: {
        ...mapActions({
            setAnswers: 'personal_video/setAnswers',
            setCurrentQuestion: 'personal_video/setCurrentQuestion'
        }),

        createNewVideo() {
            this.$router.push('/videocv');
        },

        changeQuestion() {
            this.animateWhenChangeVideo();
            this.isVideoPaused = true;

            if (this.$refs.video) {
                const { videoElement } = this.$refs.video;

                videoElement.pause();
                videoElement.controls = false;
                videoElement.currentTime = 0;
            }
        },

        async nextQuestion() {
            this.answer = await this.nextAnswer(this.answer.id);

            this.changeQuestion();
        },

        async prevQuestion() {
            this.answer = await this.previousAnswer(this.answer.id);

            this.changeQuestion();
        },

        async setupVideo() {
            this.animateWhenChangeVideo();
            this.answer = this.firstAnswer;
        },

        playVideo() {
            if (this.$refs.video) {
                const { videoElement } = this.$refs.video;

                if (videoElement.paused) {
                    videoElement.play();
                    videoElement.controls = true;

                    this.isVideoPaused = false;
                }
            }
        },

        onVideoPause() {
            this.isVideoPaused = true;
        },

        animateWhenChangeVideo() {
            this.show = false;
            setTimeout(() => {
                this.show = true;
            }, 400);
        },

        checkBrowser() {
            if (this.device.browser.name === 'Safari') {
                this.isSafariBrowser = true;

                return;
            }
        }
    }
};
</script>

//
<style lang="scss">
.video-js-fix-height {
    min-height: 480px;
    border-radius: 10px;

    @media screen and (max-width: 780px) {
        min-height: 280px;
    }

    &::before {
        min-height: 480px;
        border-radius: 10px;
    }
    &::after {
        min-height: 480px;
    }

    .vjs-icon-placeholder {
        display: none;
    }
}
</style>
