<template>
    <div id="section-personal-information" class="form_section">
        <div class="section_head" :class="{ open }" @click="open = !open">
            <div class="section_head_title">
                <div class="head_image">
                    <img
                        v-full-image-path:assets="
                            'icon_personal_information.svg'
                        "
                    />
                </div>
                <div class="head_title">
                    {{ $t('global.personalInformation') }}
                </div>
            </div>
        </div>
        <transition name="slide-fade">
            <div v-show="open" class="section_content" style="display: block">
                <div class="icon_personal_information">
                    <div class="form_row">
                        <div class="column_wrapper w33">
                            <div class="column">
                                <input
                                    v-model="form.first_name"
                                    class="form_control"
                                    type="text"
                                    :placeholder="
                                        $t('register.personalData.firstName') +
                                            '*'
                                    "
                                    :class="{
                                        'is-invalid':
                                            validationErrors.first_name.$error
                                    }"
                                />
                            </div>
                            <div class="column">
                                <input
                                    v-model="form.last_name"
                                    class="form_control"
                                    type="text"
                                    :placeholder="
                                        $t('register.personalData.lastName') +
                                            '*'
                                    "
                                    :class="{
                                        'is-invalid':
                                            validationErrors.last_name.$error
                                    }"
                                />
                            </div>
                            <div class="column">
                                <input
                                    v-model="form.email"
                                    class="form_control"
                                    type="email"
                                    :placeholder="
                                        $t('register.personalData.email') + '*'
                                    "
                                    :class="{
                                        'is-invalid':
                                            validationErrors.email.$error
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper w33">
                            <div class="column">
                                <div class="date_picker_wrapper">
                                    <datepicker
                                        v-model="form.birthday"
                                        :placeholder="
                                            $t(
                                                'register.personalData.dateOfBirth'
                                            )
                                        "
                                        :class="{
                                            'is-invalid':
                                                validationErrors.birthday.$error
                                        }"
                                    />
                                </div>
                            </div>
                            <div class="column">
                                <div class="select_wrapper">
                                    <selectric
                                        v-model="form.marital_status"
                                        :items="maritalStatusOptions"
                                        :placeholder="
                                            $t(
                                                'register.personalData.maritalStatus'
                                            )
                                        "
                                    />
                                </div>
                            </div>
                            <div class="column w100">
                                <div class="gender_wrapper">
                                    <div class="gender_label">
                                        {{ $t('labels.sex') }}
                                    </div>
                                    <div class="gender_item">
                                        <label
                                            class="gender_radio"
                                            :class="{
                                                'is-invalid':
                                                    validationErrors.gender
                                                        .$error
                                            }"
                                        >
                                            <input
                                                type="radio"
                                                v-model="form.gender"
                                                value="male"
                                                name="gender"
                                            />
                                            <span class="radio_decor">
                                                <icon-gender-male />
                                            </span>
                                        </label>
                                    </div>
                                    <div class="gender_item">
                                        <label
                                            class="gender_radio"
                                            :class="{
                                                'is-invalid':
                                                    validationErrors.gender
                                                        .$error
                                            }"
                                        >
                                            <input
                                                type="radio"
                                                v-model="form.gender"
                                                value="female"
                                                name="gender"
                                            />
                                            <span class="radio_decor">
                                                <icon-gender-female />
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="column_wrapper w33">
                            <div class="column">
                                <masked-input
                                    v-model="form.phone"
                                    :dir="form.phone ? 'ltr' : 'rtl'"
                                    class="form_control phone_form_control"
                                    :class="{
                                        'is-invalid':
                                            validationErrors.phone.$error
                                    }"
                                    :mask="phoneMask"
                                    :guide="true"
                                    :placeholder="
                                        $t('register.personalData.mobile') + '*'
                                    "
                                    type="tel"
                                />
                                <div class="info_wrapper">
                                    <div class="info">
                                        {{
                                            $t(
                                                'info.thisNumberWillBeUsedAsAMeansOfEnteringTheSite'
                                            )
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <input
                                    v-model="form.hometown"
                                    class="form_control icon_location"
                                    type="text"
                                    :placeholder="
                                        $t('register.personalData.hometown')
                                    "
                                    :class="{
                                        'is-invalid':
                                            validationErrors.hometown.$error
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MaskedInput from 'vue-text-mask';

import Selectric from '@/components/elements/Selectric';
import Datepicker from '@/components/elements/Datepicker';
import IconGenderMale from '@/components/svg/icon-gender-male';
import IconGenderFemale from '@/components/svg/icon-gender-female';
import { phoneMask } from '@/helpers/helpers';

export default {
    props: {
        value: {
            type: Object
        },
        validationErrors: {
            type: Object
        }
    },

    components: {
        Selectric,
        Datepicker,
        MaskedInput,
        IconGenderMale,
        IconGenderFemale
    },

    data() {
        return {
            form: {
                first_name: null,
                last_name: null,
                email: null,
                marital_status: null,
                gender: null,
                phone: null,
                hometown: null,
                birthday: null
            },
            phoneMask,
            open: false
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName'
        }),

        maritalStatusOptions() {
            return this.getDropdownOptions('marital_status');
        }
    },

    watch: {
        value: {
            handler() {
                this.form = this.value;
            },
            immediate: true
        },
        form: {
            handler() {
                this.$emit('input', this.form);
            },
            deep: true
        }
    }
};
</script>
