<template>
    <footer class="b_footer">
        <div class="container">
            <div class="footer_top_wrapper">
                <div class="logo_wrapper">
                    <a class="link_logo" href="#">
                        <picture v-full-image-path="footerContent.logo" />
                    </a>
                    <div class="footer_content">
                        <p>
                            {{ footerContent.sublogoText }}
                        </p>
                    </div>
                    <div class="phone_wrapper">
                        <span>{{ $t('footer.contactUs') }}: </span>
                        <a :href="`tel:${footerContent.phoneNumber}`">
                            {{ footerContent.phoneNumber }}
                        </a>
                    </div>
                </div>
                <div class="footer_menus">
                    <div class="menu_wrapper_one">
                        <ul>
                            <li
                                v-for="(link, index) in footerContent.links
                                    .colFirst"
                                :key="`link-${index}-col-first`"
                            >
                                <a
                                    :href="
                                        footerContent.links.colFirst[index].link
                                    "
                                >
                                    {{
                                        footerContent.links.colFirst[index].text
                                    }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_wrapper_two">
                        <ul>
                            <li
                                v-for="(link, index) in footerContent.links
                                    .colSecond"
                                :key="`link-${index}-col-second`"
                            >
                                <a
                                    :href="
                                        footerContent.links.colSecond[index]
                                            .link
                                    "
                                >
                                    {{
                                        footerContent.links.colSecond[index]
                                            .text
                                    }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subscription">
                    <div class="text">
                        {{ footerContent.newsletter }}
                    </div>
                    <div class="subscription_form">
                        <form>
                            <div class="form_wrapper">
                                <input
                                    v-model="email"
                                    class="form_control"
                                    :class="{ error: $v.email.$error }"
                                    type="email"
                                    :placeholder="$t('footer.yourEmail')"
                                />
                                <input
                                    class="btn_submit"
                                    type="submit"
                                    :placeholder="$t('footer.sending')"
                                    @click.prevent="submitEmail"
                                />
                            </div>
                            <div class="agree">
                                <div class="checkbox_wrap">
                                    <label class="checkbox">
                                        <input
                                            v-model="terms"
                                            type="checkbox"
                                            name="agree"
                                        />
                                        <span
                                            :class="{
                                                text_error: $v.terms.$error
                                            }"
                                        >
                                            {{ footerContent.terms }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer_bottom_wrapper">
                <div class="footer_social">
                    <div class="social_wrapper">
                        <div
                            v-if="footerContent.socialmedia.logoFirst.filename"
                            class="social_item"
                        >
                            <a
                                class="social_link"
                                :href="footerContent.links.socialmedia.first"
                                ><picture
                                    v-full-image-path="
                                        footerContent.socialmedia.logoFirst
                                    "
                                />
                            </a>
                        </div>
                        <div
                            v-if="footerContent.socialmedia.logoSecond.filename"
                            class="social_item"
                        >
                            <a
                                class="social_link"
                                :href="footerContent.links.socialmedia.second"
                                ><picture
                                    v-full-image-path="
                                        footerContent.socialmedia.logoSecond
                                    "
                            /></a>
                        </div>
                        <div
                            v-if="footerContent.socialmedia.logoThird.filename"
                            class="social_item"
                        >
                            <a
                                class="social_link"
                                :href="footerContent.links.socialmedia.third"
                            >
                                <picture
                                    v-full-image-path="
                                        footerContent.socialmedia.logoThird
                                    "
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
    validations: {
        email: {
            required,
            email
        },
        terms: {
            checked: value => !!value
        }
    },
    data() {
        return {
            email: '',
            terms: null,
            isButtonDisabled: false
        };
    },
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        footerContent() {
            return this.getContent('footer-component');
        }
    },
    methods: {
        ...mapActions({
            submit: 'contact/postNewsletter'
        }),
        async submitEmail() {
            try {
                this.isButtonDisabled = true;
                this.$v.$touch();

                if (this.$v.$invalid) {
                    return;
                }

                await this.submit(this.email);

                this.$toast.success(
                    this.$t('toasts.success.theEmailWasRegistered')
                );

                this.email = '';
                this.terms = false;
                this.$v.$reset();
            } catch (err) {
                console.error(err);
                this.$toast.error(
                    this.$t('toasts.errors.errorSubmittingEmailTryLater')
                );
            }

            this.isButtonDisabled = false;
        }
    }
};
</script>
