<template>
    <div class="main">
        <div class="b_personal_zone">
            <div class="container">
                <div class="return_wrapper">
                    <nuxt-link class="btn_return" to="/applications">
                        {{ $t('buttons.return') }}
                    </nuxt-link>
                </div>
                <div class="personal_zone_wrapper user_profile">
                    <div
                        class="personal_zone_sidear block_shadow"
                        :class="{ gold: isGoldUser }"
                    >
                        <div class="sidear_head">
                            <button
                                :class="{ open: showMenu }"
                                @click="showMenu = !showMenu"
                                class="btn_sidear_menu"
                                type="button"
                            >
                                <span />
                            </button>
                            <div class="user_control">
                                <div class="user_image_wrapper">
                                    <div class="user_no_image">
                                        <div class="user_no_image_inner">
                                            <div
                                                v-if="isGoldUser"
                                                class="gold_icon"
                                            >
                                                <img
                                                    v-full-image-path:assets="
                                                        'info_image.svg'
                                                    "
                                                />
                                            </div>
                                            <div
                                                v-full-background-image-path:media="
                                                    user.image
                                                "
                                                :key="
                                                    user.image && user.image.id
                                                "
                                                class="user_has_image image_has"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="user_content">
                                    <div v-if="isGoldUser" class="user_gold">
                                        {{ $t('global.goldUser') }}
                                    </div>
                                    <div class="user_name">
                                        <nobr>
                                            <h5>
                                                {{ user.full_name }}
                                            </h5>
                                        </nobr>
                                    </div>
                                    <div class="status_wrapper">
                                        <span>
                                            {{ $t('global.apply') }}
                                        </span>
                                        <span>
                                            <selectric
                                                v-model="application.status"
                                                :items="statusOptions"
                                            />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidear_body information">
                            <div class="user_data">
                                <ul>
                                    <li>
                                        <span>
                                            {{ $t('labels.phoneNumber') }}
                                        </span>
                                        <strong>{{ user.phone }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.email') }}
                                        </span>
                                        <strong>{{ user.email }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.gender') }}
                                        </span>
                                        <strong>{{ gender }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.birthday') }}
                                        </span>
                                        <strong>{{ birthday }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.maritalStatus') }}
                                        </span>
                                        <strong>{{ maritalStatus }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.foreignPassports') }}
                                        </span>
                                        <strong>{{ foreignPassports }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.visaToUsa') }}
                                        </span>
                                        <strong>{{
                                            hasAmericanVisa ? 'כן' : 'לא'
                                        }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{
                                                $t(
                                                    'labels.workInTheFieldInThePast'
                                                )
                                            }}
                                        </span>
                                        <strong>{{
                                            hasExperience ? experience : 'לא'
                                        }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{
                                                $t('labels.flightAvailability')
                                            }}
                                        </span>
                                        <strong>{{ availability }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.hometown') }}
                                        </span>
                                        <strong>{{ user.hometown }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.militaryService') }}
                                        </span>
                                        <strong>{{ service }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.education') }}
                                        </span>
                                        <strong>{{ education }}</strong>
                                    </li>
                                    <li>
                                        <span>
                                            {{ $t('labels.languages') }}
                                        </span>
                                        <strong>{{ languages }}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="personal_zone_conntent block_shadow">
                        <div class="video_wrap">
                            <div class="user_video_wrapper">
                                <a
                                    v-if="isVideoUploaded"
                                    class="user_video"
                                    @click.prevent="onPlayerClick"
                                >
                                    <transition name="slide-fade">
                                        <div v-if="show">
                                            <div
                                                :class="{
                                                    user_video_image: !isVideoPlaying
                                                }"
                                            >
                                                <video-playback
                                                    ref="video"
                                                    :video="getVideo"
                                                    playsinline
                                                    @pause="onVideoPause"
                                                />
                                            </div>
                                        </div>
                                    </transition>
                                </a>

                                <a class="user_video" v-else>
                                    <p>
                                        {{
                                            $t(
                                                'info.weAreProcessingVideoPleaseCheckBackLater'
                                            )
                                        }}
                                    </p>
                                    <img
                                        v-full-image-path:assets="
                                            'file-upload-icon-15.jpg'
                                        "
                                    />
                                </a>

                                <a
                                    v-if="showNextArrow && isVideoUploaded"
                                    class="user_nav user_next"
                                    @click.prevent="nextQuestion"
                                >
                                    <div class="icon_wrap">
                                        <div class="icon_inner" />
                                    </div>
                                    <div class="text">
                                        {{ $t('buttons.forTheNextQuestion') }}
                                    </div>
                                </a>

                                <a
                                    v-if="showPreviousArrow && isVideoUploaded"
                                    class="user_nav user_prev"
                                    @click.prevent="prevQuestion"
                                >
                                    <div class="icon_wrap">
                                        <div class="icon_inner" />
                                    </div>
                                    <div class="text">
                                        {{
                                            $t('buttons.forThePreviousQuestion')
                                        }}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="experience_wrapper">
                            <div class="label_title">
                                {{ $t('labels.experienceInTheField') }}
                            </div>

                            <div v-if="isGoldUser">
                                <div
                                    v-for="review in user.reviews"
                                    :key="review"
                                    class="experience_list"
                                >
                                    <div class="experience_list_row">
                                        <div class="experience_item">
                                            <span>
                                                {{
                                                    $t(
                                                        'register.goldUser.nameOfCompanyWhereEmployed'
                                                    )
                                                }}
                                            </span>
                                            <strong>{{
                                                review.company
                                            }}</strong>
                                        </div>
                                        <div class="experience_item">
                                            <span>{{
                                                $t(
                                                    'register.goldUser.dateOfTransaction'
                                                )
                                            }}</span>
                                            <strong>{{
                                                review.start_date
                                                    | dateMonthYear
                                            }}</strong>
                                        </div>
                                        <div class="experience_item">
                                            <span>{{
                                                $t(
                                                    'register.goldUser.endOfTransaction'
                                                )
                                            }}</span>
                                            <strong>{{
                                                review.end_date | dateMonthYear
                                            }}</strong>
                                        </div>
                                    </div>
                                    <div class="experience_list_row">
                                        <div class="experience_item">
                                            <span>
                                                {{ $t('global.country') }}
                                            </span>

                                            <strong>{{
                                                review.country
                                            }}</strong>
                                        </div>
                                        <div class="experience_item">
                                            <span>
                                                {{ $t('global.city') }}
                                            </span>

                                            <strong>{{ review.city }}</strong>
                                        </div>
                                        <div class="experience_item">
                                            <span>
                                                {{
                                                    $t(
                                                        'labels.mobilePhoneIncludingPrefix'
                                                    )
                                                }}
                                            </span>
                                            <strong>{{ review.phone }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user_content_wrapper">
                            <div class="label_title">
                                {{ $t('labels.myComments') }}
                            </div>
                            <div class="content">
                                <editable v-model="application.note" tag="p" />
                            </div>
                        </div>
                        <div class="save_changes btn_wrapper">
                            <button
                                class="btn btn_blue"
                                @click="updateCompanyNote"
                            >
                                {{ $t('buttons.saveChanges') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import { mapActions, mapGetters } from 'vuex';

import config from '@/config';
import selectOptions from '@/helpers/selectOptions';
import Editable from '@/components/elements/Editable';
import Selectric from '@/components/elements/Selectric';
import VideoPlayback from '@/components/elements/VideoPlayback';

const { availability: availabilityOptions } = selectOptions;

const ONE_TO_SIX_MONTHS_EXPERIENCE = '1-6m';

export default {
    components: {
        Editable,
        Selectric,
        VideoPlayback
    },

    async asyncData({ params, store, error }) {
        const { id } = params;

        try {
            const application = await store.dispatch('applications/show', id);

            return {
                application
            };
        } catch (err) {
            console.error(err);

            if (err.response.status === 404) {
                return error({ statusCode: 404 });
            }
        }

        return {};
    },

    data() {
        return {
            showMenu: false,
            currentQuestion: 0,
            isVideoPlaying: false,
            show: true,
            interval: null,
            isVideoUploaded: false
        };
    },

    mounted() {
        try {
            this.interval = setInterval(() => {
                const videoPosterElement = document.getElementsByClassName(
                    'video-js'
                );

                if (videoPosterElement[0]) {
                    videoPosterElement[0].classList.add('video-js-fix-height');
                }
            }, 50);
        } catch (error) {}
    },

    computed: {
        ...mapGetters({
            getDropdownOptions: 'dropdowns/getByName',
            jobTypes: 'jobtypes/all'
        }),

        jobExperience() {
            const job = this.jobTypes.find(
                item => item.id === this.user.details.experience_job_type
            );

            if (!job) {
                return null;
            }

            return job.name;
        },

        availability() {
            const availability = availabilityOptions.find(
                item => item.value === this.user.details.availability
            );

            if (!availability) {
                return null;
            }

            return availability.text;
        },

        statusOptions() {
            return this.getDropdownOptions('application_status');
        },

        education() {
            const options = this.getDropdownOptions('education');
            const education = options.find(
                item => item.value === this.user.details.education
            );

            if (!education) {
                return null;
            }

            return education.text;
        },

        service() {
            const options = this.getDropdownOptions('service');
            const service = options.find(
                item => item.value === this.user.details.service
            );

            if (!service) {
                return null;
            }

            return service.text;
        },

        maritalStatus() {
            const options = this.getDropdownOptions('marital_status');
            const status = options.find(
                item => item.value === this.user.marital_status
            );

            if (!status) {
                return null;
            }

            return status.text;
        },

        gender() {
            return this.user.gender === 'male' ? 'זכר' : 'נקבה';
        },

        birthday() {
            return moment(this.user.birthday).format('DD/MM/YYYY');
        },

        languages() {
            const languages = this.getDropdownOptions('languages');
            const languageProficiency = this.getDropdownOptions(
                'language_proficiency'
            );

            return this.user.languages
                .map(({ name, proficiency }) => {
                    const { text: languageText } = languages.find(
                        item => item.value === name
                    );
                    const { text: proficiencyText } = languageProficiency.find(
                        item => item.value === proficiency
                    );

                    return `${languageText} ${proficiencyText}`;
                })
                .join(', ');
        },

        mostRecentCompany() {
            const company =
                this.user.reviews.sort((a, b) =>
                    moment(a.endDate).isBefore(b.endDate)
                )[0] || null;

            return company;
        },

        isGoldUser() {
            const { experience } = this.user.details;

            return !!experience && experience !== ONE_TO_SIX_MONTHS_EXPERIENCE;
        },

        hasExperience() {
            return !!this.user.details.experience;
        },

        experience() {
            const options = {
                '1-6m': '1-6 חודשים‌',
                '7-12m': '7-12 חודשים‌',
                '1-3y': '1-3 שנים‌',
                '3y': '‌שנים‌ 3 יותר‌ ‌מ-‌'
            };

            return options[this.user.details.experience];
        },

        hasAmericanVisa() {
            const passport = this.user.passports.find(
                passport => passport.has_american_visa
            );

            return !!passport;
        },

        foreignPassports() {
            const passports = this.application.user.passports.filter(
                passport => !!passport.country
            );

            if (passports.length) {
                return passports.map(i => i.country).join(', ');
            }

            return '-';
        },

        user() {
            return this.application.user;
        },

        questions() {
            const orderedQuestions = this.user.CVVideoAnswers.sort(function(
                a,
                b
            ) {
                const c = new Date(a['updated_at']);
                const d = new Date(b['updated_at']);
                return c - d;
            });

            return orderedQuestions;
        },

        getVideo() {
            const { video } = this.questions[this.currentQuestion];

            if (video.includes('.')) {
                this.isVideoUploaded = false;

                return this.getVideoUrl(video);
            }

            this.isVideoUploaded = true;

            return video;
        },

        showNextArrow() {
            return this.currentQuestion < this.questions.length - 1;
        },

        showPreviousArrow() {
            return this.currentQuestion !== 0;
        }
    },

    watch: {
        async 'application.status'() {
            await this.changeStatus();
        },

        getVideo() {
            this.show = false;

            setTimeout(() => {
                this.show = true;
            }, 300);
        },

        showMenu() {
            const $ = window.jQuery;
            $('.sidear_body').slideToggle(300);
        }
    },

    filters: {
        dateMonthYear(value) {
            if (!value) {
                return '';
            }

            return moment(value)
                .locale('he')
                .format('MMM/YYYY');
        }
    },

    methods: {
        ...mapActions({
            updateNote: 'applications/updateNote',
            updateApplicationStatus: 'applications/updateStatus'
        }),

        onPlayerClick() {
            return this.isVideoPlaying ? this.stopVideo() : this.playVideo();
        },

        async updateCompanyNote() {
            const { id, note } = this.application;

            try {
                await this.updateNote({
                    id,
                    note
                });

                this.$toast.success(
                    this.$t('toasts.success.noteHasBeenUpdated')
                );
            } catch (error) {
                console.error(error);

                this.$toast.error(this.$t('toasts.errors.somethingWentWrong'));
            }
        },

        async changeStatus() {
            const { id, status } = this.application;

            try {
                await this.updateApplicationStatus({
                    id,
                    status
                });

                this.$toast.success(
                    this.$t('toasts.success.statusHasBeenUpdated')
                );
            } catch (error) {
                console.error(error);

                this.$toast.error(
                    this.$t(
                        `${
                            error.response.data.key === 'status_used'
                                ? 'toasts.errors.statusHasBeenUsed'
                                : 'toasts.errors.somethingWentWrong'
                        }`
                    )
                );
            }
        },

        playVideo() {
            this.$refs.video.play();

            this.isVideoPlaying = true;
        },

        stopVideo() {
            this.$refs.video.pause();

            this.isVideoPlaying = false;
        },

        onVideoPause() {
            this.isVideoPlaying = false;
        },

        getVideoUrl(video) {
            return `${config.mediaBaseUrl}/cv-videos/${video}`;
        },

        nextQuestion() {
            this.stopVideo();

            this.isVideoPlaying = false;

            let currentQuestion = 0;

            if (this.currentQuestion + 1 < this.questions.length) {
                currentQuestion = this.currentQuestion + 1;
            }

            this.currentQuestion = currentQuestion;
        },

        prevQuestion() {
            this.stopVideo();

            this.isVideoPlaying = false;

            let currentQuestion = this.questions.length - 1;

            if (this.currentQuestion - 1 >= 0) {
                currentQuestion = this.currentQuestion - 1;
            }

            this.currentQuestion = currentQuestion;
        }
    }
};
</script>

<style lang="scss">
.video-js-fix-height {
    min-height: 480px;
    border-radius: 10px;

    @media screen and (max-width: 780px) {
        min-height: 280px;
    }

    &::before {
        min-height: 480px;
        border-radius: 10px;
    }
    &::after {
        min-height: 480px;
    }

    .vjs-icon-placeholder {
        display: none;
    }
}
</style>
