<template>
    <div class="main personal_zone">
        <div class="b_personal_zone">
            <div class="container">
                <div class="personal_zone_wrapper">
                    <sidebar />
                    <div class="personal_zone_conntent block_shadow">
                        <div class="conntent_wrapper">
                            <div class="how_to_us">
                                <a
                                    class="video_link"
                                    :href="content.videoLink"
                                    data-fancybox
                                    >{{
                                        $t('links.wantToKnowHowToUseThisPage')
                                    }}</a
                                >
                            </div>
                            <div class="contact_information">
                                <p>{{ content.text }}</p>
                            </div>

                            <div
                                v-if="companiesOptions.length"
                                style="margin-bottom: 10px;"
                            >
                                <selectric
                                    v-model="company"
                                    :items="companiesOptions"
                                />
                            </div>

                            <div v-else class="company-info">
                                <p>
                                    {{ $t('info.youDontHaveAnyCompany') }}
                                </p>
                            </div>

                            <div
                                v-if="applications.length"
                                class="inquiries_wrappers jsStatus"
                            >
                                <div class="inquiries_wrap">
                                    <div class="inquiries_list">
                                        <div
                                            class="inquiry_row jsStatusItem"
                                            v-for="application in applications"
                                            :key="application.id"
                                        >
                                            <div class="inquiry_column">
                                                <div class="column_label">
                                                    {{
                                                        $t(
                                                            'labels.nameOfCandidate'
                                                        )
                                                    }}
                                                </div>
                                                <div class="column_data">
                                                    {{
                                                        application.user
                                                            .full_name
                                                    }}
                                                </div>
                                            </div>
                                            <div class="inquiry_column">
                                                <div class="column_label">
                                                    {{
                                                        $t('labels.lastUpdate')
                                                    }}
                                                </div>
                                                <div class="column_data">
                                                    {{
                                                        application.created_at
                                                            | formatDate
                                                    }}
                                                </div>
                                            </div>
                                            <div class="inquiry_column">
                                                <div class="column_data">
                                                    <div class="view">
                                                        <nuxt-link
                                                            :to="
                                                                `/applications/${application.id}`
                                                            "
                                                            >{{
                                                                $t(
                                                                    'links.viewCandidateProfile'
                                                                )
                                                            }}</nuxt-link
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inquiry_column">
                                                <div class="status_wrapper">
                                                    <div
                                                        class="status_btn jsStatusBtn"
                                                    >
                                                        <div
                                                            class="column_label"
                                                        >
                                                            {{
                                                                $t(
                                                                    'labels.status'
                                                                )
                                                            }}
                                                        </div>
                                                        <div
                                                            class="column_data"
                                                        >
                                                            <div
                                                                class="status"
                                                                :class="
                                                                    application.status
                                                                "
                                                            >
                                                                {{
                                                                    statusTextTranslate(
                                                                        application.status
                                                                    )
                                                                }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="status_list_wrapper jsStatusList"
                                                    >
                                                        <div
                                                            class="status_list"
                                                        >
                                                            <ul>
                                                                <li
                                                                    v-for="(status,
                                                                    index) in statusOptions"
                                                                    :key="
                                                                        `status-${index}`
                                                                    "
                                                                    @click="
                                                                        changeStatus(
                                                                            application.id,
                                                                            status.value
                                                                        )
                                                                    "
                                                                    v-html="
                                                                        status.text
                                                                    "
                                                                />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="more-applications-button-text-center"
                                >
                                    <div
                                        v-if="showLoadMoreButton"
                                        class="btn btn_blue more_application_button"
                                        @click.prevent="loadMore"
                                    >
                                        {{ $t('buttons.showMore') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import { mapGetters, mapActions } from 'vuex';

import headMixin from '@/mixins/head.mixin.js';
import selectOptions from '@/helpers/selectOptions';
import Selectric from '@/components/elements/Selectric';
import Sidebar from '@/components/recruiter-zone/Sidebar';

export default {
    mixins: [headMixin],

    middleware: 'registered',

    components: {
        Sidebar,
        Selectric
    },

    async asyncData({ store, query }) {
        try {
            let company = null;
            const companies = await store.dispatch('user/getCompanies');

            if (!companies.length) {
                return {
                    applications: [],
                    totalApplicationsCount: 0,
                    company,
                    companies: [],
                    companiesOptions: []
                };
            }

            const companiesOptions = companies.map(company => ({
                text: company.name,
                value: company
            }));

            if (companies.length) {
                if (query.company) {
                    company = companies.find(item => item.id === query.company);
                }

                if (!company) {
                    company = companies[0];
                }
            }

            let applications = [];
            let totalApplicationsCount = 0;

            const params = {
                companyId: company.id,
                page: 1
            };

            const { count, rows } = await store.dispatch(
                'applications/getApplicationsForRecruiter',
                params
            );

            totalApplicationsCount = count;
            applications = rows;

            return {
                applications,
                totalApplicationsCount,
                company,
                companies,
                companiesOptions
            };
        } catch (error) {
            console.error(error);
        }

        return {};
    },

    data() {
        return {
            page: 1,
            filters: {
                company: null,
                status: null
            }
        };
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            getDropdownOptions: 'dropdowns/getByName'
        }),

        statusOptions() {
            return this.getDropdownOptions('application_status');
        },

        showLoadMoreButton() {
            return this.applications.length < this.totalApplicationsCount;
        },

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('applications-page');
        },

        approved() {
            return this.$t('applicationStatus.approved');
        }
    },

    watch: {
        page() {
            this.fetchApplications();
        },

        async 'filters.company'() {
            await this.resetApplications();
        },

        async 'filters.status'() {
            await this.resetApplications();
        },

        company: {
            handler() {
                if (!this.company) {
                    return;
                }

                this.resetApplications();
            },
            deep: true,
            immediate: true
        }
    },

    filters: {
        formatDate: value => {
            if (!value) {
                return '';
            }

            return moment(value).format('DD/MM/YYYY');
        }
    },

    async mounted() {
        await this.initAccordeon();
    },

    destroyed() {
        const $ = window.jQuery;
        $(document).unbind('click');
    },

    methods: {
        ...mapActions({
            getApplications: 'applications/getApplicationsForRecruiter',
            updateApplicationStatus: 'applications/updateStatus'
        }),

        async resetApplications() {
            this.applications = [];
            this.totalApplicationsCount = 0;
            this.page = 1;

            await this.fetchApplications();
            await this.initAccordeon();
        },

        async fetchApplications() {
            const params = {
                companyId: this.company.id,
                id: this.filters.companyId,
                page: this.page,
                status: this.filters.status
            };

            const { count, rows: applications } = await this.getApplications(
                params
            );

            this.totalApplicationsCount = count;
            this.applications = [...this.applications, ...applications];
        },

        loadMore() {
            this.page += 1;
        },

        async initAccordeon() {
            const $ = window.jQuery;

            await this.$nextTick();

            $('.jsStatus').each(function() {
                const accord = $(this);
                const btn = accord.find('.jsStatusBtn');
                const content = accord.find('.jsStatusList');
                const item = accord.find('.jsStatusItem');

                btn.on('click', function(e) {
                    e.preventDefault();

                    const $this = $(this);
                    const $this_item = $this.closest('.jsStatusItem');
                    const $this_content = $this
                        .closest('.jsStatusItem')
                        .find('.jsStatusList');

                    if ($this.hasClass('-active')) {
                        $this.removeClass('-active');
                        $this_content.slideUp();
                        $this_item.removeClass('item_active');
                    } else {
                        item.removeClass('item_active');
                        btn.removeClass('-active');
                        content.slideUp();

                        $this.addClass('-active');
                        $this_content.slideDown();
                        $this_item.addClass('item_active');
                    }
                });
            });

            $(document).on('click', function(e) {
                const $btn = $('.jsStatusBtn');

                if (!$btn.is(e.target) && $btn.has(e.target).length === 0) {
                    $('.jsStatusItem').removeClass('item_active');
                    $('.jsStatusBtn').removeClass('-active');
                    $('.jsStatusList').slideUp();
                }
            });
        },

        async changeStatus(id, status) {
            try {
                const application = await this.updateApplicationStatus({
                    id,
                    status
                });

                const index = this.applications.findIndex(i => i.id === id);

                if (~index) {
                    this.applications.splice(index, 1, {
                        ...this.applications[index],
                        status
                    });
                }

                this.$toast.success(
                    this.$t('toasts.success.statusHasBeenUpdated')
                );
            } catch (error) {
                console.error(error);

                this.$toast.error(
                    this.$t(
                        `${
                            error.response.data.key === 'status_used'
                                ? 'toasts.errors.statusHasBeenUsed'
                                : 'toasts.errors.somethingWentWrong'
                        }`
                    )
                );
            }
        },

        statusTextTranslate(value) {
            if (!value) {
                return '';
            }

            return this.$t(`applicationStatus.${value}`);
        }
    }
};
</script>
