<template>
    <div>
        <div key="btn_icon-3" class="btn_icon">
            <img v-full-image-path:assets="'watching_record.svg'" />
        </div>
        <div class="title">
            {{ $t('buttons.videoControlButtons.watchRecord') }}
        </div>
    </div>
</template>
