<template>
    <div>
        <div key="btn_icon-4" class="btn_icon">
            <img v-full-image-path:assets="'re_recording.svg'" />
        </div>
        <div class="title">
            {{ $t('buttons.videoControlButtons.reRecording') }}
        </div>
    </div>
</template>
