.b_company_profile {
    .company_nav {
        @media (max-width: 600px) {
            margin-top: -32px;
            .icon_inner {
                width: 50px;
                height: 50px;
            }
            .text {
                display: none;
            }
            .icon_wrap {
                overflow: inherit;
            }
        }
    }
    .company_prev {
        @media (max-width: 600px) {
            .icon_inner {
                margin: 0 -40px 0 0;
                background-position: 14px center;
            }
        }
    }
    .company_next {
        @media (max-width: 600px) {
            .icon_inner {
                margin: 0 40px 0 0;
                background-position: calc(100% - 16px) center;
            }
        }
    }
}
