footer.b_footer {
    [class^="menu_wrapper"] {
        width: 100%;
        max-width: 165px;

        @media (max-width: $screen-md-max) {
            max-width: 130px;
        }

        @media (max-width: 650px) {
            max-width: 50%;
            padding: 0 5px;
        }

        + [class^="menu_wrapper"] {
            margin: 0 30px 0 0;

            @media (max-width: $screen-md-max) {
                margin: 0 15px 0 0;
            }

            @media (max-width: 650px) {
                margin: 0;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                + li {
                    margin: 10px 0 0;
                }
            }

            a {
                color: #414040;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    input {
        &.error {
            border: 1px solid red !important;
        }
    }

    [class^="copy_wrapper"],
    [class^="footer_social"] {
        width: auto;
    }

    [class^="text_error"] {
        color: red !important;
    }
}
