.personal-zone-watch-video {
    position: relative;

    .active {
        position: absolute;
    }

    .playBtn {
        transition: all 0.2s linear;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 55% center;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
            0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.2036 11.9695C33.9321 13.8292 33.9321 19.1708 30.2036 21.0305L7.27716 32.4656C3.929 34.1355 0 31.6895 0 27.935V5.06498C0 1.31055 3.92899 -1.13554 7.27715 0.534428L30.2036 11.9695Z' fill='%233D5AFE'/%3E%3C/svg%3E");

        @media (min-width: $screen-xs-max) {
            &:hover {
                transform: scale(0.8);
            }
        }

        @media (max-width: $screen-xs-max) {
            transform: translate(0%, -50px);
        }
    }
    .video_control {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
    }

    .active {
        position: absolute;
    }

    a.disabled {
        pointer-events: none;
        cursor: not-allowed;

        .icon_inner {
            background-color: gray;
        }
    }

    .btn_control {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        text-align: center;
        margin: 0 25px;

        &.start {
            position: absolute;
        }

        @media (max-width: 650px) {
            margin: 0 15px;
        }

        &:hover {
            .btn_icon {
                transform: scale(1.1);
            }
        }

        .btn_icon {
            transition: all 0.2s linear;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
            background-color: #fff;
            display: block;
            margin: 0 auto 10px;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;

            @media (max-width: 650px) {
                width: 50px;
                height: 50px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto auto auto 50%;
                transform: translate(-47%, 0);
            }
        }

        .title {
            font-size: 16px;
            color: #ffffff;
        }
    }
}

.button-submit-personal-zone-record {
    position: relative;
    height: 3vh;

    button {
        left: 45%;
        margin-left: -45px;
        top: 50%;
        margin-top: 15px;
        position: absolute;
        z-index: 2;
        text-align: center;
        transform: translateY(-50%);
    }
}
