<template>
    <div class="modal-backdrop" @click.self="close">
        <div class="b_modal" style="width: 80vw">
            <header class="modal_title">
                <slot name="header">
                    {{ $t('global.guideVideo') }}
                    <button class="mfp-close" @click="close">x</button>
                </slot>
            </header>
            <section class="modal_content">
                <div class="video_form_head">
                    <div class="video_form_body">
                        <div class="video_wrapper">
                            <div class="video_form">
                                <video-playback
                                    ref="video"
                                    :video="url"
                                    autoplay
                                    playsInline
                                    :controls="showControls"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-footer">
                <slot name="footer">
                    <button class="btn btn_blue" @click="close">
                        {{ $t('buttons.closed') }}
                    </button>
                </slot>
            </footer>
        </div>
    </div>
</template>

<script>
import VideoPlayback from '@/components/elements/VideoPlayback';

export default {
    components: {
        VideoPlayback
    },

    props: {
        url: {
            type: String,
            required: true
        },
        close: {
            type: Function
        }
    },

    data() {
        return {
            showControls: true
        };
    }
};
</script>
