<template>
    <div class="container">
        <div class="row">
            <h2>
                {{ privacyPolicy.title }}
            </h2>
        </div>
        <div class="row">
            <div class="content_wrapper" v-html="privacyPolicy.content" />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        privacyPolicy() {
            const content = this.getContent('privacy-policy-page');

            return content;
        },

        meta() {
            return this.privacyPolicy.meta;
        }
    }
};
</script>

<style scoped>
h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.content_wrapper {
    margin-bottom: 30px;
}
</style>
