<template>
    <div class="b_contact_us">
        <div
            class="contact_option_decor"
            v-full-background-image-path:assets="'bg_sign_option.png'"
        />
        <div class="container">
            <div class="contact_us_form_wrapper block_shadow">
                <div class="form_title">
                    {{ $t('pages.contact.contactUs') }}
                </div>
                <div class="sub_title">{{ content.subtitle }}</div>
                <div class="form_wrapper">
                    <form>
                        <div class="form_row">
                            <input
                                v-model="form.name"
                                class="form_control"
                                :class="{
                                    'is-invalid': $v.form.name.$error
                                }"
                                type="text"
                                :placeholder="$t('pages.contact.fullName')"
                            />
                            <div v-if="$v.form.name.$error">
                                <div
                                    v-for="(error, idx) in errorsCollector.name"
                                    :key="`error-name-${idx}`"
                                    class="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="form_row">
                            <input
                                v-model="form.email"
                                class="form_control"
                                :class="{
                                    'is-invalid': $v.form.email.$error
                                }"
                                type="email"
                                :placeholder="$t('pages.contact.emailAddress')"
                            />
                            <div v-if="$v.form.email.$error">
                                <div
                                    v-for="(error,
                                    idx) in errorsCollector.email"
                                    :key="`error-email-${idx}`"
                                    class="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="form_row">
                            <input
                                v-model="form.title"
                                class="form_control"
                                :class="{
                                    'is-invalid': $v.form.title.$error
                                }"
                                type="text"
                                :placeholder="
                                    $t('pages.contact.requestSubject')
                                "
                            />
                            <div v-if="$v.form.title.$error">
                                <div
                                    v-for="(error,
                                    idx) in errorsCollector.title"
                                    :key="`error-title-${idx}`"
                                    class="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="form_row">
                            <textarea
                                v-model="form.message"
                                class="form_control"
                                :class="{
                                    'is-invalid': $v.form.message.$error
                                }"
                                name=""
                                rows="5"
                                :placeholder="
                                    $t('pages.contact.referralContent')
                                "
                            ></textarea>
                            <div v-if="$v.form.message.$error">
                                <div
                                    v-for="(error,
                                    idx) in errorsCollector.message"
                                    :key="`error-message-${idx}`"
                                    class="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="btn_wrapper">
                            <input
                                class="btn btn_blue"
                                type="submit"
                                value="שלח"
                                @click.prevent="submitForm"
                            />
                            <div v-if="$v.$anyError" class="error">
                                {{ $t('errors.theFormHasErrors') }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import {
    required,
    maxLength,
    minLength,
    email
} from 'vuelidate/lib/validators';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    data() {
        return {
            form: {}
        };
    },

    validations: {
        form: {
            name: {
                required,
                maxLength: maxLength(85)
            },
            email: {
                required,
                maxLength: maxLength(255),
                email
            },
            title: {
                required,
                maxLength: maxLength(50)
            },
            message: {
                required,
                maxLength: maxLength(1000)
            }
        }
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('contact-us-page');
        },

        errorsCollector() {
            const inputErrors = {};

            for (const inputName in this.$v.form.$params) {
                inputErrors[inputName] = this.errorsSetter(
                    inputName,
                    Object.keys(this.$v.form[inputName].$params)
                );
            }

            return inputErrors;
        }
    },

    methods: {
        ...mapActions({
            postContactForm: 'contact/postContactForm'
        }),

        errorsSetter(inputName, params) {
            const errors = [];

            for (const param in params) {
                if (!this.$v.form[inputName][params[param]]) {
                    switch (params[param]) {
                        case 'required':
                            errors.push('שדה נדרש!');
                            break;
                        case 'maxLength':
                            errors.push(
                                `הטקסט צריך להכיל פחות מ ${this.$v[inputName].$params.maxLength.max} אותיות`
                            );
                            break;
                        case 'minLength':
                            errors.push(
                                `על הטקסט להכיל לפחות ${this.$v[inputName].$params.minLength.min}`
                            );
                            break;
                        case 'email':
                            errors.push(`השדה חייב להיות אימייל!`);
                            break;
                    }
                }
            }

            return errors;
        },

        async submitForm() {
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            try {
                await this.postContactForm(this.form);

                this.$toast.success(
                    this.$t(
                        'toasts.success.yourRequestHasBeenRedirectedToTheSystem'
                    )
                );
                this.form = {};
                this.$v.$reset();
            } catch (err) {
                console.error(err);
                this.$toast.error(
                    this.$t('toasts.errors.errorSubmittingTheFormTryLater')
                );
            }
        }
    }
};
</script>
