<template>
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                {{ termsOfUse.title }}
            </h2>
        </div>
        <div class="row">
            <div class="content_wrapper" v-html="termsOfUse.content" />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.termsOfUse.meta;
        },

        termsOfUse() {
            const content = this.getContent('terms-of-use-page');

            return content;
        }
    }
};
</script>

<style scoped>
h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.content_wrapper {
    margin-bottom: 30px;
}
</style>
