<template>
    <div class="main">
        <div class="b_sign_page">
            <div class="page_head">
                <div
                    class="image_decor"
                    v-full-background-image-path:assets="'image_decor.png'"
                />
                <div class="container">
                    <div class="title">{{ content.title }}</div>
                </div>
            </div>
            <div class="container">
                <div class="sign_form">
                    <div class="form_wrapper block_shadow">
                        <div class="registration_done">
                            <div class="img_wrapper">
                                <img
                                    v-full-image-path:assets="
                                        'registration_done.svg'
                                    "
                                />
                            </div>
                            <div class="section_title">
                                {{ content.heading }}
                            </div>
                            <div class="content">
                                <p>{{ content.description }}</p>
                            </div>
                            <div class="btn_wrapper">
                                <nuxt-link class="btn btn_blue" :to="`/jobs`">
                                    {{ $t('links.itsTimeToRetire') }}
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('video-cv-done-page');
        }
    }
};
</script>
