<template>
    <div class="b_about">
        <div class="container">
            <div class="title_content">{{ content.headline }}</div>
            <div class="content_wrapper">
                <div class="content_column">
                    <p>{{ content.columnRight }}</p>
                </div>
                <div class="content_column">
                    <p>{{ content.columnLeft }}</p>
                </div>
            </div>
        </div>
        <div class="about_decor">
            <div class="container_wrapper">
                <div class="container">
                    <div class="about_decor_inner">
                        <div class="decor_block decor_block_01">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.right1
                                "
                            />
                        </div>
                        <div class="decor_block decor_block_02">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.left1
                                "
                            />
                        </div>
                        <div class="decor_block decor_block_03">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.center1
                                "
                            />
                        </div>
                        <div class="decor_block decor_block_04">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.center2
                                "
                            />
                        </div>
                        <div class="decor_block decor_block_05">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.right2
                                "
                            />
                        </div>
                        <div class="decor_block decor_block_06">
                            <div
                                class="decor_block_inner"
                                v-full-background-image-path:media="
                                    content.promotionalImages.center3
                                "
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="about_banner"
            v-full-background-image-path:media="content.banner.image"
        >
            <div class="about_banner_inner">
                <div class="container">
                    <div class="content">
                        <p>{{ content.banner.text }}</p>
                        <p>
                            <strong>{{ content.banner.textBold }}</strong>
                        </p>
                    </div>
                    <nuxt-link
                        v-if="!loggedIn"
                        class="btn btn_blue"
                        :to="`/login`"
                    >
                        {{ $t('links.letsFly') }}
                    </nuxt-link>
                    <nuxt-link
                        v-else-if="isRegularUser"
                        class="btn btn_blue"
                        :to="`/jobs`"
                    >
                        {{ $t('links.letsFly') }}
                    </nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            isRegularUser: 'isRegularUser'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('about-us-page');
        },

        loggedIn() {
            if (!!this.$store.state.auth.user) {
                return true;
            }

            return false;
        }
    }
};
</script>
