<template>
    <div class="main">
        <div class="b_jobs_archive">
            <div
                class="archive_banner"
                v-full-background-image-path:assets="'archive_banner.png'"
            >
                <div class="container">
                    <div class="banner_inner">
                        <div class="title">
                            {{ $t('pages.jobs.archiveOfEmployersAbroad') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="archive_filter">
                    <div class="service_select">
                        <div class="select_wrapper">
                            <selectric
                                v-model="jobType"
                                :items="jobTypes"
                                text-field="name"
                                value-field="id"
                                :placeholder="$t('pages.jobs.typesOfJobs')"
                                class="showSelectric"
                            />

                            <div class="showMountedSelectric">
                                <div class="selectric-wrapper selectric-below">
                                    <div class="selectric-hide-select" />
                                    <div class="selectric">
                                        <span class="label">{{
                                            $t('pages.jobs.typesOfJobs')
                                        }}</span
                                        ><b class="button">▾</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location_select_wrapper">
                        <div class="location_select">
                            <div class="select_wrapper">
                                <selectric
                                    v-model="country"
                                    :items="filters.countries"
                                    multiple
                                    :placeholder="$t('global.country')"
                                    text-field="name"
                                    value-field="id"
                                    class="showSelectric"
                                />

                                <div class="showMountedSelectric">
                                    <div
                                        class="selectric-wrapper selectric-below"
                                    >
                                        <div class="selectric-hide-select" />
                                        <div class="selectric">
                                            <span class="label">
                                                {{
                                                    $t('global.country')
                                                }} </span
                                            ><b class="button">▾</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select_wrapper">
                                <selectric
                                    v-model="city"
                                    :items="filters.cities"
                                    multiple
                                    :placeholder="$t('global.city')"
                                    text-field="name"
                                    value-field="id"
                                    class="showSelectric"
                                />

                                <div class="showMountedSelectric">
                                    <div
                                        class="selectric-wrapper selectric-below"
                                    >
                                        <div class="selectric-hide-select" />
                                        <div class="selectric">
                                            <span class="label">
                                                {{ $t('global.city') }}
                                            </span>
                                            <b class="button">▾</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="archive_wrapper">
                    <nuxt-link
                        v-for="(job, index) in jobs"
                        :key="index"
                        class="archive_item"
                        :to="`/company/${job.id}`"
                    >
                        <div
                            class="item_image"
                            :style="{
                                backgroundImage: `url(https://videodelivery.net/${job.promote_video}/thumbnails/thumbnail.jpg?time=3s`
                            }"
                        ></div>
                        <div class="item_rating">
                            {{ $t('global.rating') }}
                            ({{ job.number_of_reviews }})
                            {{ job.rating | formatToOneNumberAfterDot }}
                        </div>
                        <div class="item_location">
                            <div class="location">
                                {{ job.country.name }}, {{ job.city.name }}
                            </div>
                        </div>
                    </nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import Selectric from '@/components/elements/Selectric';

export default {
    middleware: 'auth',

    components: {
        Selectric
    },

    async asyncData({ store, error, query }) {
        try {
            const jobTypes = store.state.jobtypes.types;

            let type = null;

            if (query.type) {
                type = jobTypes.find(type => type.slug === query.type);
            }

            const [jobs, filters] = await Promise.all([
                store.dispatch('company/getFilteredCompanies', {
                    jobType: type && type.id ? type.id : null,
                    jobsPage: true
                }),
                store.dispatch('company/getFilters')
            ]);

            const jobType = type && type.id ? type.id : null;

            return { jobTypes, jobType, jobs, filters };
        } catch (err) {
            console.error(err);

            return error(err);
        }

        return {};
    },

    data() {
        return {
            country: null,
            city: null,
            show: true
        };
    },

    filters: {
        formatToOneNumberAfterDot(value) {
            if (!value) return '';
            return parseFloat(value).toFixed(1);
        }
    },

    computed: {
        ...mapState('auth', ['loggedIn'])
    },

    watch: {
        country() {
            this.getFilteredJobs();
        },

        city() {
            this.getFilteredJobs();
        },

        jobType() {
            const type = this.jobTypes.find(x => x.id === this.jobType);

            this.$router.replace({
                query: {
                    ...this.$route.query,
                    type: type ? type.slug : null
                }
            });

            this.getFilteredJobs();
        }
    },

    methods: {
        ...mapActions({
            getJobs: 'company/getFilteredCompanies'
        }),

        async getFilteredJobs() {
            try {
                const jobs = await this.getJobs({
                    country: this.country,
                    city: this.city,
                    jobType: this.jobType,
                    jobsPage: true
                });

                this.jobs = jobs;
            } catch (err) {
                console.error(err);
            }
        }
    },

    beforeDestroy() {
        const $ = window.jQuery;
        $('.showSelectric').css('display', 'none');
        $('.showMountedSelectric').css('display', 'block');
    }
};
</script>

<style lang="scss">
.showMountedSelectric {
    display: none;
}
</style>
