<template>
    <div class="add-credit-card-section">
        <div class="text-center">
            <div class="title">
                {{ $t('pages.payment.addingAMeansOfPayment') }}
            </div>

            <add-form :url="url" />

            <nuxt-link class="btn btn_blue" to="/applications">
                {{ $t('buttons.return') }}
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import AddForm from '@/components/account/payment-information/AddForm';

export default {
    components: {
        AddForm
    },

    async asyncData({ store }) {
        try {
            const url = await store.dispatch(
                'credit_cards/fetchAddCardPaymentUrl'
            );

            return { url };
        } catch (error) {
            console.error(error);
        }
    }
};
</script>
