<template>
    <div>
        <div id="payment-status-fail" class="payment-status">
            Payment failed
        </div>
    </div>
</template>

<script>
export default {
    layout: 'blank'
};
</script>
