<template>
    <div class="main">
        <div class="b_sign_page">
            <div class="page_head">
                <div
                    class="image_decor"
                    v-full-background-image-path:assets="'image_decor.png'"
                />
                <div class="container">
                    <div class="title">
                        {{ $t('pages.payment.paymentDetailsBussinessAccount') }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="sign_form">
                    <div class="form_wrapper block_shadow">
                        <div class="payment_details">
                            <div class="payment_title">
                                {{ content.headline }}
                            </div>
                            <div class="payment_content">
                                <p>{{ content.text }}</p>
                            </div>
                            <div class="price_wrapper">
                                <div class="price_row">
                                    <span
                                        >{{
                                            $t(
                                                'pages.payment.monthlyAmountToBePaid'
                                            )
                                        }}
                                        :</span
                                    >
                                    <span>{{ content.monthlyPrice }}$</span>
                                </div>
                                <div class="price_row">
                                    <span
                                        >{{
                                            $t(
                                                'pages.payment.paymentReceiptNear'
                                            )
                                        }}
                                        :</span
                                    >
                                    <span>{{ content.pricePerLead }}$</span>
                                </div>
                            </div>
                            <div class="iframe_wrapper">
                                <iframe
                                    id="payment-iframe"
                                    :src="paymentUrl"
                                    frameborder="0"
                                    height="500px"
                                    width="500px"
                                />
                            </div>
                            <div v-if="hasPaymentFailed" class="payment-fail">
                                <nuxt-link
                                    class="btn btn_blue payment-fail-button"
                                    to="/applications"
                                >
                                    Return to payment
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import headMixin from '@/mixins/head.mixin.js';

export default {
    mixins: [headMixin],

    middleware: 'auth',

    async fetch() {
        this.paymentUrl = await this.fetchSubscriptionPaymentUrl();
    },

    data() {
        return {
            interval: null,
            paymentUrl: null,
            hasPaymentBeenMade: false,
            hasAcceptedTerms: false,
            hasPaymentFailed: false
        };
    },

    methods: {
        ...mapActions({
            fetchSubscriptionPaymentUrl:
                'credit_cards/fetchSubscriptionPaymentUrl'
        }),

        checkPaymentResult() {
            const iframe = document.getElementById('payment-iframe');

            try {
                const iframeContent =
                    iframe.contentDocument || iframe.contentWindow.document;

                const el = iframeContent.getElementById(
                    'payment-status-success'
                );

                if (el) {
                    this.hasPaymentBeenMade = true;

                    clearInterval(this.interval);

                    setTimeout(async () => {
                        await this.$auth.fetchUser();

                        this.$router.push('/signup/business/finished');
                    }, 1000);
                }

                const failPaymentEl = iframeContent.getElementById(
                    'payment-status-fail'
                );

                if (failPaymentEl) {
                    this.hasPaymentFailed = true;

                    setTimeout(async () => {
                        await this.$auth.fetchUser();

                        this.$router.push('/payment');
                    }, 1000);
                }
            } catch (error) {}
        }
    },

    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey',
            loggedUser: 'loggedUser'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('payment-page');
        }
    },

    created() {
        if (this.loggedUser.registration_completed) {
            this.$router.push('/applications');
        }
    },

    async mounted() {
        this.interval = setInterval(this.checkPaymentResult, 750);
    }
};
</script>

<style lang="scss" scoped>
.iframe_wrapper {
    overflow: hidden;
    padding: 15px 0 0;
    margin: 0 auto;

    iframe {
        width: 100%;
    }
}

.payment-fail {
    position: relative;
    .payment-fail-button {
        position: absolute;

        bottom: 20vh;
        left: 50%;

        transform: translate(-50%, -1%);
    }
}
</style>
