<template>
    <div>
        <header-main />
        <nuxt />
        <footer-main />
    </div>
</template>
<script>
import HeaderMain from '@/components/layout/header/HeaderMain';
import FooterMain from '@/components/layout/footer/FooterMain';

export default {
    components: {
        HeaderMain,
        FooterMain
    }
};
</script>
