<template>
    <div class="error-page text-center">
        <div class="error">
            <h1 v-if="error.statusCode === 404">
                סליחה, לא ניתן למצוא את הדף שחיפשת
            </h1>
            <h1 v-else>
                An error occurred
            </h1>
            <div class="buttons">
                <nuxt-link to="/" class="btn btn_blue">
                    דף הבית
                </nuxt-link>
                <button class="btn btn_blue" @click="$router.go(-1)">
                    תחזור
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        error: {
            type: Object,
            required: true
        }
    }
};
</script>
