<template>
    <div>
        <header-main />
        <nuxt />
        <footer-main />
    </div>
</template>
<script>
import HeaderMain from '@/components/layout/header/HeaderMain';
import FooterMain from '@/components/layout/footer/FooterMain';
import { mapGetters, mapState } from 'vuex';

export default {
    components: {
        HeaderMain,
        FooterMain
    },

    computed: {
        ...mapGetters(['loggedUser']),
        ...mapState('auth', ['user'])
    },

    watch: {
        loggedUser: {
            handler() {
                if (this.loggedUser) {
                    const path =
                        this.user.type === 'user' ? '/home' : '/applications';

                    this.$router.push(path);
                }
            },
            immediate: true
        }
    }
};
</script>
