<template>
    <div>
        <header-main/>
        <div class="main personal_zone">
            <div class="b_personal_zone">
                <div class="container">
                    <div class="personal_zone_wrapper">
                        <component :is="sidebar"/>
                        <nuxt/>
                    </div>
                </div>
            </div>
        </div>

        <footer-main/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

import HeaderMain from '@/components/layout/header/HeaderMain';
import FooterMain from '@/components/layout/footer/FooterMain';
import UserSidebar from '@/components/personal-zone/Sidebar';
import RecruiterSidebar from '@/components/recruiter-zone/Sidebar';

export default {
    middleware: 'registered',

    components: {
        HeaderMain,
        FooterMain
    },

    computed: {
        ...mapGetters(['loggedUser']),

        sidebar() {
            if (!this.loggedUser) {
                return null;
            }

            return this.loggedUser.type === 'user'
                ? UserSidebar
                : RecruiterSidebar;
        }
    }
};
</script>
