<template>
    <div class="main">
        <div class="b_sign_page">
            <div class="page_head">
                <div
                    class="image_decor"
                    v-full-background-image-path:assets="'image_decor.png'"
                />
                <div class="container">
                    <div class="title">{{ content.title }}</div>
                </div>
            </div>
            <div class="container">
                <div class="sign_form">
                    <div class="form_wrapper block_shadow">
                        <div class="registration_done">
                            <div class="img_wrapper">
                                <picture v-full-image-path="content.icon" />
                            </div>
                            <div class="section_title">
                                {{ content.heading }}
                            </div>
                            <div class="content">
                                <p>{{ content.description }}</p>
                            </div>
                            <div class="btn_wrapper">
                                <nuxt-link
                                    class="btn btn_blue"
                                    :to="`/applications`"
                                >
                                    {{ $t('links.completionOfRegistration') }}
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import headMixin from '@/mixins/head.mixin.js';

export default {
    computed: {
        ...mapGetters({
            getContent: 'content/getContentByKey'
        }),

        meta() {
            return this.content.meta;
        },

        content() {
            return this.getContent('business-registration-finished-page');
        }
    }
};
</script>
