<template>
    <component :is="component" />
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import UserDetails from '@/components/personal-zone/UserDetails';
import RecruiterDetails from '@/components/personal-zone/RecruiterDetails';

export default {
    layout: 'personal-zone',

    async asyncData({ store }) {
        try {
            await store.dispatch('user/getIsGoldUser');
        } catch (error) {
            console.error(error);
        }
    },

    computed: {
        ...mapGetters(['loggedUser']),

        component() {
            if (!this.loggedUser) {
                return null;
            }

            return this.loggedUser.type === 'user'
                ? UserDetails
                : RecruiterDetails;
        }
    }
};
</script>
