.jsTabs {
  .jsTabsTab {
    cursor: pointer;
    user-select: none;
    padding: 0 5px;
  }

  .jsTabsItem {
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;

    &.-active {
      overflow: visible;
      position: static;
      z-index: 1;
      height: auto;
    }

    &.-fade {
      opacity: 1;
      visibility: visible;
      transition: .3s;
    }
  }
}

.indicator_wrap {
  width: 100%;
  margin: 5px 0 0;
  position: relative;
  background: #C3C9FF;
  border-radius: 2.5px;
  height: 5px;

  .indicator {
    z-index: 2;
    background-color: #3D5AFE;
    border-radius: 2.5px;
    height: 5px;
    transition: all .2s ease-in-out;
    width: 0;
    position: absolute;
    left: 0;
  }
}
