.b_about {
  padding: 30px 0 15px;

  .title_content {
    font-size: 34px;
    font-weight: 500;
    margin: 0 0 35px;
    max-width: 810px;

    @media (max-width: $screen-sm-max) {
      font-size: 28px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
  }

  .content_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 60px;

    .content_column {
      width: 50%;
      padding: 0 15px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      p {
        line-height: 1.6;
      }

      + .content_column{
        @media (max-width: $screen-xs-max) {
          margin: 15px 0 0;
        }
      }
    }
  }

  .about_banner {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 0 40px;
    min-height: 300px;
    color: #fff;
    position: relative;

    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }

    .content {
      font-size: 24px;
      margin: 0 0 10px;

      p {
        margin: 0;
      }
    }
  }

  .about_banner_inner {
    position: relative;
    z-index: 1;
  }


  .about_decor {
    position: relative;
    background-color: #F6F7FF;

    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      background-repeat: repeat-x;
      background-position: center;
      background-image: url('../images/bg_about_decor.svg');
      left: 0;
      right: 0;
      bottom: 100%;
      height: 200px;
      margin-bottom: -1px;
    }
  }

  .container_wrapper {
    position: relative;
    z-index: 1;
  }

  .about_decor_inner {
    min-height: 790px;
    position: relative;

    @media (max-width: $screen-md-max) {
      min-height: 700px;
    }

    @media (max-width: $screen-sm-max) {
      min-height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .decor_block {
      position: absolute;
      border-radius: 30px;

      @media (max-width: $screen-sm-max) {
        position: static;
        margin: 0 0 30px;
        border-radius: 25px;
      }

      @media (max-width: $screen-xs-max) {
        border-radius: 15px;
        margin: 0 0 14px;
      }

      &.decor_block_01 {
        width: 455px;
        top: 0;
        right: 0;

        @media (max-width: $screen-md-max) {
          width: 325px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }
      }

      &.decor_block_02 {
        width: 358px;
        left: 0;
        top: 0;

        @media (max-width: $screen-md-max) {
          width: 320px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }

        .decor_block_inner {
          padding: 0 0 185%;

          @media (max-width: $screen-sm-max) {
            padding: 0 0 100%;
          }
        }
      }

      &.decor_block_03 {
        width: 130px;
        top: 50px;
        right: 490px;

        @media (max-width: $screen-md-max) {
          right: 360px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }
      }

      &.decor_block_04 {
        width: 260px;
        right: 490px;
        top: 220px;

        @media (max-width: $screen-md-max) {
          right: 360px;
          width: 200px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }
      }

      &.decor_block_05 {
        width: 165px;
        right: 195px;
        top: 520px;

        @media (max-width: $screen-md-max) {
          right: 75px;
          width: 135px;
          top: 480px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }
      }

      &.decor_block_06 {
        width: 355px;
        top: 520px;
        right: 390px;

        @media (max-width: $screen-md-max) {
          right: 275px;
          width: 305px;
          top: 480px;
        }

        @media (max-width: $screen-sm-max) {
          width: calc(50% - 15px);
        }

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 7px);
        }
      }
    }

    .decor_block_inner {
      padding: 0 0 100%;
      border-radius: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #A3A3A3;

      @media (max-width: $screen-sm-max) {
        border-radius: 25px;
      }

      @media (max-width: $screen-xs-max) {
        border-radius: 15px;
      }
    }
  }
}
