.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 15px 10px;
  transition: all .2s linear;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 8px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 165px;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &.huge {
    font-size: 24px;
    padding: 12px 10px 14px;
  }

  &:disabled {
    border-color: #BBBDBF;
    background-color: #BBBDBF;
    color: #FFFFFF;
    box-shadow: none;
    -webkit-text-fill-color: #FFFFFF;
    opacity: 1;

    &:hover {
      border-color: #BBBDBF;
      background-color: #BBBDBF;
      -webkit-text-fill-color: #FFFFFF;
      opacity: 1;
    }
  }
}

.btn_blue {
  color: #fff;
  border: none;
  background: linear-gradient(16.45deg, #7093FF 0%, #1A3AF8 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    color: #fff;
    box-shadow: none;
  }
}

.btn_blue_empty {
  color: #3D5AFE;
  font-weight: 400;
  border: none;
  background-color: #fff;
  border: 1px solid#3D5AFE;
  font-size: 16px;
  box-shadow: none;


  &:focus {
    color: #3D5AFE;
  }

  &:active {
    color: #3D5AFE;
  }

  &:hover {
    color: #fff;
    background-color: #3D5AFE;
    box-shadow: none;
  }

  &:disabled {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: transparent;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.25);
      -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.btn_gray_empty {
  color: #414040;
  border-color: #414040;

  &:focus {
    color: #414040;
  }

  &:active {
    color: #414040;
  }

  &:hover {
    color: #fff;
    background-color: #414040;
    box-shadow: none;
  }
}

.btn_gray {
  color: #fff;
  border-color: #414040;
  background-color: #414040;

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    color: #fff;
    background-color: #3D5AFE;
    border-color: #3D5AFE;
    box-shadow: none;
  }
}

.btn_submitted {
  padding: 10px 10px;
  background-color: #6DD400;
  font-weight: 400;
  color: #fff;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 8C0.5 3.58 4.082 0 8.5 0C12.918 0 16.5 3.58 16.5 8C16.5 12.42 12.918 16 8.5 16C4.082 16 0.5 12.42 0.5 8ZM8.5 15C4.634 15 1.5 11.865 1.5 8C1.5 4.135 4.634 1 8.5 1C12.366 1 15.5 4.135 15.5 8C15.5 11.865 12.366 15 8.5 15ZM11.5135 4.535C11.274 4.395 10.9685 4.48 10.8305 4.715L7.633 10.255L5.844 8.605C5.655 8.405 5.3385 8.395 5.137 8.585C4.9355 8.77 4.925 9.09 5.114 9.29L7.4 11.4C7.5885 11.6 7.905 11.61 8.1065 11.42C8.1675 11.365 11.6965 5.215 11.6965 5.215C11.8345 4.98 11.7525 4.67 11.5135 4.535Z' fill='white'/%3E%3C/svg%3E");
    width: 17px;
    height: 16px;
    margin: -1px 0 0 5px;
  }

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    color: #fff;
    background-color: #3D5AFE;
    box-shadow: none;
  }
}
