.b_company_profile {
  background: #F3F3F3;
  font-weight: 400;
  position: relative;

  .company_main_profile {
    background: #FFFFFF;
    padding: 0 0 30px;
    position: relative;
    z-index: 15;

    &.unlocked {
      background: rgba(0, 0, 0, 0.001);
    }
  }

  .back_wrapper {
    // text-align: center;
    padding: 25px 0;
    max-width: 945px;
    margin: 0 auto;
    @media (max-width: 1199px){
      max-width: calc(100% - 110px);
    }
    @media (max-width: 600px){
      max-width: 100%;
    }
  }

  .link_back {
    font-size: 16px;
    color: #414040;
    position: relative;
    padding: 0 30px 0 0;
    display: inline-block;
    vertical-align: top;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      margin-top: -12px;
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.59 11.09L5.17 6.5L0.59 1.91L2 0.5L8 6.5L2 12.5L0.59 11.09Z' fill='black'/%3E%3C/svg%3E");
    }
  }

  .profile_wrapper {
    position: relative;
  }

  .not_available {
    position: absolute;
    font-size: 20px;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    color: #FFFFFF;
    text-align: center;
    padding: 80px 15px;

    .image_locked {
      margin: 0 0 20px;

      img {
        margin: 0 auto;
      }
    }
  }

  .not_available_content {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .company_video_wrapper {
    max-width: 945px;
    margin: 0 auto;
    position: relative;

    @media (max-width: $screen-md-max) {
      max-width: calc(100% - 110px);
    }

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  .company_video {
    display: block;
    border-radius: 20px;
    overflow: hidden;
  }

  .company_video_image {
    padding: 0 0 56.4%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &:hover {
      &:after {
        transform: scale(.8);
      }
    }

    &::before {
      position: absolute;
      z-index: 0;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }

    &:after {
      transition: all .2s linear;
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 55% center;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.2036 11.9695C33.9321 13.8292 33.9321 19.1708 30.2036 21.0305L7.27716 32.4656C3.929 34.1355 0 31.6895 0 27.935V5.06498C0 1.31055 3.92899 -1.13554 7.27715 0.534428L30.2036 11.9695Z' fill='%233D5AFE'/%3E%3C/svg%3E");
    }
  }

  .apply_wrapper {
    text-align: center;
    padding: 25px 0 0;
  }

  .submitted_wrapper {
    text-align: center;
    padding: 25px 0 0;
    display: none;
  }

  .cancellation_wrapper {
    text-align: center;
    padding: 25px 0 0;

    .btn {
      padding: 10px 10px;
      font-weight: 400;
    }
  }

  .cancellation_info {
    padding: 0 0 25px;
    font-weight: 400;

    .info_content {
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;

      span {
        color: #414040;
      }

    }
  }

  .company_nav {
    position: absolute;
    top: 50%;
    margin-top: -60px;

    &:hover {
      .icon_inner {
        background-color: #3D5AFE;
      }
    }

    .icon_wrap {
      width: 55px;
      padding: 5px;
      overflow: hidden;
    }

    .icon_inner {
      position: relative;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      width: 111px;
      height: 111px;
      border-radius: 50%;
      background-repeat: no-repeat;
      transition: all .2s ease-in-out;
      background-color: #fff;
    }

    .text {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.0388889px;
    }
  }

  .company_next {
    left: 100%;

    &:hover {
      .icon_inner {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.748047 19.79L9.14471 11.375L0.748047 2.96L3.33305 0.375L14.333 11.375L3.33305 22.375L0.748047 19.79Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    .text {
      right: 100%;
      padding: 0 20px 0 0;
    }

    .icon_inner {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.748047 19.79L9.14471 11.375L0.748047 2.96L3.33305 0.375L14.333 11.375L3.33305 22.375L0.748047 19.79Z' fill='black'/%3E%3C/svg%3E");
      background-position: calc(100% - 20px) center;
    }
  }

  .company_prev {
    right: 100%;

    &:hover {
      .icon_inner {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.252 19.79L5.85529 11.375L14.252 2.96L11.667 0.375L0.666953 11.375L11.667 22.375L14.252 19.79Z' fill='white'/%3E%3C/svg%3E");
      }
    }

    .text {
      left: 100%;
      padding: 0 0 0 20px;
      text-align: left;
    }

    .icon_inner {
      margin: 0 -65px 0 0;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.252 19.79L5.85529 11.375L14.252 2.96L11.667 0.375L0.666953 11.375L11.667 22.375L14.252 19.79Z' fill='black'/%3E%3C/svg%3E");
      background-position: 20px center;
    }
  }





  .container_wrapper {
    max-width: 945px;
    margin: 0 auto;

    .content {
      max-width: 700px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .content_title {
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
  }

  .content_row {
    padding: 25px 0 25px;

    +.content_row {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .banner_wrapper {
    position: relative;

    .company_logo {
      margin: 0 0 30px;

      img {
        margin: 0 auto;
      }
    }

    .banner_image {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .banner_content {
      position: relative;
      z-index: 2;
      // min-height: 550px;
      padding: 150px 0;
      text-align: center;
      color: #fff;
    }

    .banner_title {
      font-size: 24px;
      margin: 0 0 35px;
    }

    .social_link {
      display: inline-block;
    }
  }

  .social_wrapper{
    .social_link{
      margin: 0 20px 10px;
    }
  }

  .single_content {
    padding: 25px 0 30px;
  }

  .users_recommendations {
    background: rgba(0, 0, 0, 0.03);
    padding: 40px 0;
  }

  .recommendation_row {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0 20px;
  }

  .user_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .recommendation_date {
    color: #414040;
  }

  .user_rating {
    color: #414040;
  }

  .user_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #3D5AFE;
  }

  .user_info {
    width: calc(100% - 67px);
    padding: 0 16px 0 0;
  }

  .user_name {
    font-weight: 500;
    font-size: 16px;
    color: #414040;
  }

  .user_review {
    padding: 15px 0 0;
  }

  .recommendations_nav {
    text-align: center;
  }

  .btn_nav {
    font-size: 16px;
    color: #414040;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      margin-top: -12px;
    }
  }

  .btn_nav_prev {
    padding: 0 30px 0 0;

    &::before {
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.59 11.09L5.17 6.5L0.59 1.91L2 0.5L8 6.5L2 12.5L0.59 11.09Z' fill='black'/%3E%3C/svg%3E");
    }
  }

  .btn_nav_next {
    padding: 0 0 0 30px;

    &::before {
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 11.09L2.83 6.5L7.41 1.91L6 0.5L0 6.5L6 12.5L7.41 11.09Z' fill='black'/%3E%3C/svg%3E");
    }
  }

  .image_galery {
    margin: 0 -15px 0;
    display: flex;
    flex-wrap: wrap;

    .galery_image {
      display: inline-block;
      vertical-align: top;
      border-radius: 10px;
      overflow: hidden;
      width: calc(20% - 30px);
      margin: 30px 15px 0;

      .image_wrap {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0 0 100%;
      }
    }
  }

}
