$text-color: #414040;

* {
  outline: 0 !important;
}

.form_control,
.btn {
  -webkit-appearance: none;
  border-radius: 0;
}

html{
  &.overflow{
    overflow: hidden;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  letter-spacing: 0.0311111px;
  font-weight: 300;
  color: $text-color;
  min-width: 320px;
  background-color: #fff;
  line-height: 1.4;

  &.mobile_menu_open, .overflow{
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 56px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

p {
  line-height: 1.4;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

@media (max-width: 991px) {
  input, textarea, select, select:focus {
    font-size: 16px;
  }
}