.b_contact_us{
  padding: 40px 0 50px;
  position: relative;

  .contact_option_decor{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 275px;
    background-position: center;
    background-color: #F6F7FF;

    &:after{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-repeat: repeat-x;
      background-position: center;
      background-image: url('../images/sign_option_decor.svg');
      height: 94px;
    }
  }

  .contact_us_form_wrapper{
    max-width: 530px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 25px 30px 30px;
    text-align: center;

    @media (max-width: 650px) {
      padding: 15px 15px 15px;
    }
  }

  textarea.form_control{
    display: block;
  }

  .form_row{
    + .form_row{
      margin: 20px 0 0;
    }
  }

  .form_title{
    font-size: 32px;
    margin: 0 0 10px;

    @media (max-width: 650px) {
      font-size: 24px;
    }
  }

  .sub_title{
    font-size: 16px;
    color: #3D5AFE;
    font-weight: 400;
    margin: 0 0 25px;
  }

  .form_wrapper{
    max-width: 360px;
    margin: 0 auto;
  }

  .btn_wrapper{
    padding: 30px 0 0;

    @media (max-width: 650px) {
      padding: 15px 0 0;
    }
  }
}