@media (min-width: $screen-md-min) {
  .animated {
    opacity: 0;
    visibility: hidden;

    &.fadeInUpBig {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main.personal_zone {
  background: rgba(182, 182, 182, 0.1);
}

.section_title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.0622222px;
  margin: 0 auto 10px;

  @media (max-width: $screen-xs-max) {
    font-size: 28px;
  }
}

.form_control {
  border: 1px solid #979797;
  border-radius: 8px;
  font-weight: 400;
  padding: 12px 10px;
  width: 100%;
  background-repeat: no-repeat;
  @include placeholderGray();

  &.jsDatePicker,&.jsDatePickerMonth {
    padding-right: 36px !important;
    background-position: calc(100% - 13px) center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8257 5.71429H1.17429C0.525746 5.71429 0 6.24003 0 6.88857V13.4286C0 14.8487 1.15127 16 2.57143 16H13.4286C14.8487 16 16 14.8487 16 13.4286V6.88857C16 6.24003 15.4743 5.71429 14.8257 5.71429ZM4.28558 12.3857C4.28558 12.8039 3.9466 13.1429 3.52844 13.1429H3.33129C3.12999 13.1436 2.93668 13.0642 2.79407 12.9221C2.65146 12.78 2.57129 12.587 2.57129 12.3857V12.1886C2.57053 11.9873 2.64997 11.794 2.79204 11.6514C2.93412 11.5087 3.12713 11.4286 3.32844 11.4286H3.52558C3.72688 11.4278 3.9202 11.5073 4.06281 11.6493C4.20542 11.7914 4.28558 11.9844 4.28558 12.1857V12.3857ZM3.52844 9.71428C3.9466 9.71428 4.28558 9.3753 4.28558 8.95714V8.75714C4.28558 8.55584 4.20542 8.36282 4.06281 8.22075C3.9202 8.07867 3.72688 7.99924 3.52558 8H3.32844C3.12713 8 2.93412 8.08016 2.79204 8.22277C2.64997 8.36538 2.57053 8.5587 2.57129 8.76V8.95714C2.57129 9.15844 2.65146 9.35146 2.79407 9.49353C2.93668 9.63561 3.12999 9.71504 3.33129 9.71428H3.52844ZM8.85736 12.3857C8.85736 12.8039 8.51837 13.1429 8.10021 13.1429H7.90307C7.70177 13.1436 7.50845 13.0642 7.36584 12.9221C7.22323 12.78 7.14307 12.587 7.14307 12.3857V12.1886C7.14231 11.9873 7.22175 11.794 7.36382 11.6514C7.5059 11.5087 7.69891 11.4286 7.90021 11.4286H8.09736C8.29866 11.4278 8.49198 11.5073 8.63459 11.6493C8.7772 11.7914 8.85736 11.9844 8.85736 12.1857V12.3857ZM8.10021 9.71428C8.51837 9.71428 8.85736 9.3753 8.85736 8.95714V8.75714C8.85736 8.55584 8.7772 8.36282 8.63459 8.22075C8.49198 8.07867 8.29866 7.99924 8.09736 8H7.90021C7.69891 8 7.5059 8.08016 7.36382 8.22277C7.22175 8.36538 7.14231 8.5587 7.14307 8.76V8.95714C7.14307 9.15844 7.22323 9.35146 7.36584 9.49353C7.50845 9.63561 7.70177 9.71504 7.90307 9.71428H8.10021ZM13.4286 12.3857C13.4286 12.8039 13.0897 13.1429 12.6715 13.1429H12.4744C12.2731 13.1436 12.0797 13.0642 11.9371 12.9221C11.7945 12.78 11.7144 12.587 11.7144 12.3857V12.1886C11.7136 11.9873 11.793 11.794 11.9351 11.6514C12.0772 11.5087 12.2702 11.4286 12.4715 11.4286H12.6686C12.8699 11.4278 13.0633 11.5073 13.2059 11.6493C13.3485 11.7914 13.4286 11.9844 13.4286 12.1857V12.3857ZM12.6715 9.71428C13.0897 9.71428 13.4286 9.3753 13.4286 8.95714V8.75714C13.4286 8.55584 13.3485 8.36282 13.2059 8.22075C13.0633 8.07867 12.8699 7.99924 12.6686 8H12.4715C12.2702 8 12.0772 8.08016 11.9351 8.22277C11.793 8.36538 11.7136 8.5587 11.7144 8.76V8.95714C11.7144 9.15844 11.7945 9.35146 11.9371 9.49353C12.0797 9.63561 12.2731 9.71504 12.4744 9.71428H12.6715Z' fill='black' fill-opacity='0.25'/%3E%3Cpath d='M14.96 1.14286H13.7143C13.7143 0.511675 13.2026 0 12.5714 0C11.9402 0 11.4286 0.511675 11.4286 1.14286V1.71429C11.4286 2.02988 11.1727 2.28571 10.8571 2.28571C10.5416 2.28571 10.2857 2.02988 10.2857 1.71429V1.59714C10.2857 1.34625 10.0823 1.14286 9.83143 1.14286H4.57143C4.57143 0.511675 4.05975 0 3.42857 0C2.79739 0 2.28571 0.511675 2.28571 1.14286V1.71429C2.28571 2.02988 2.02988 2.28571 1.71429 2.28571C1.39869 2.28571 1.14286 2.02988 1.14286 1.71429V1.14286H1.04C0.465624 1.14286 0 1.60848 0 2.18286V4C0 4.31559 0.255837 4.57143 0.571429 4.57143H15.4286C15.7442 4.57143 16 4.31559 16 4V2.18286C16 1.60848 15.5344 1.14286 14.96 1.14286Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E");
  }

  &.icon_location {
    padding-right: 36px !important;
    background-position: calc(100% - 13px) center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7742 5.84857C11.7775 9.7581 9.9172 13.4351 6.76566 15.7486C6.31026 16.0839 5.68965 16.0839 5.23424 15.7486C2.08378 13.4345 0.224639 9.75759 0.228522 5.84857V5.61429C0.368522 -1.87143 11.6342 -1.87143 11.7742 5.61429V5.84857ZM8.85709 5.71429C8.85709 4.13633 7.57791 2.85714 5.99995 2.85714C4.42199 2.85714 3.14281 4.13633 3.14281 5.71429C3.14281 7.29224 4.42199 8.57143 5.99995 8.57143C7.57791 8.57143 8.85709 7.29224 8.85709 5.71429Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E");
  }

  &.success {
    border-color: #3D5AFE;
  }
}

.form_control.error{
  border-color: #E02020!important;
}

textarea.form_control {
  resize: none;
}

.error_message {
  color: #E02020;
  font-size: 11px;
  letter-spacing: 0.0213889px;
  padding: 3px 0 0;
}

input.icon_search {
  padding-left: 35px !important;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0463 11.3208H12.8645L18 16.4666L16.4666 18L11.3208 12.8645V12.0515L11.0377 11.7684C9.86964 12.7719 8.35163 13.3791 6.68954 13.3791C2.99485 13.3791 0 10.3842 0 6.68954C0 2.99485 2.99485 0 6.68954 0C10.3842 0 13.3791 2.99485 13.3791 6.68954C13.3791 8.35163 12.7719 9.86964 11.7633 11.0377L12.0463 11.3208ZM2.05832 6.68954C2.05832 9.247 4.13208 11.3208 6.68954 11.3208C9.247 11.3208 11.3208 9.247 11.3208 6.68954C11.3208 4.13208 9.247 2.05832 6.68954 2.05832C4.13208 2.05832 2.05832 4.13208 2.05832 6.68954Z' fill='%23777777'/%3E%3C/svg%3E");
}

.link_add {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  padding: 5px 30px 5px 0;
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    content: '';
    width: 25px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 12C0.5 5.37258 5.87258 0 12.5 0C15.6826 0 18.7348 1.26428 20.9853 3.51472C23.2357 5.76515 24.5 8.8174 24.5 12C24.5 18.6274 19.1274 24 12.5 24C5.87258 24 0.5 18.6274 0.5 12ZM14.2143 13.7143H17.6429C18.5896 13.7143 19.3571 12.9468 19.3571 12C19.3571 11.0532 18.5896 10.2857 17.6429 10.2857H14.2143V6.85714C14.2143 5.91037 13.4468 5.14286 12.5 5.14286C11.5532 5.14286 10.7857 5.91037 10.7857 6.85714V10.2857H7.35714C6.41037 10.2857 5.64286 11.0532 5.64286 12C5.64286 12.9468 6.41037 13.7143 7.35714 13.7143H10.7857V17.1429C10.7857 18.0896 11.5532 18.8571 12.5 18.8571C13.4468 18.8571 14.2143 18.0896 14.2143 17.1429V13.7143Z' fill='%233D5AFE'/%3E%3C/svg%3E");
  }
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  position: relative;

  [type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +span {
      &::before {
        background-color: #3D5AFE;
        border-color: #3D5AFE;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62606 0.376082C9.12748 -0.12536 8.31942 -0.12536 7.82084 0.376082L3.30731 4.90444L2.17916 3.77235C1.68058 3.27399 0.872212 3.27399 0.373939 3.77235C-0.124646 4.27379 -0.124646 5.08595 0.373939 5.58431L2.40485 7.62392C2.90344 8.12536 3.71149 8.12536 4.21008 7.62392L9.62606 2.18804C10.1246 1.6866 10.1246 0.874447 9.62606 0.376082' fill='white'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    letter-spacing: 0.0233333px;
    padding: 0 22px 0 0;
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid #979797;
      border-radius: 3px;
      transition: all .2s linear;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }

  a {
    color: #3D5AFE;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


.radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  user-select: none;

  [type="radio"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  [type="radio"]:checked {
    +span {
      &::before {
        border-color: #3D5AFE;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 5C9.5 7.48528 7.48528 9.5 5 9.5C2.51472 9.5 0.5 7.48528 0.5 5C0.5 2.51472 2.51472 0.5 5 0.5C7.48528 0.5 9.5 2.51472 9.5 5Z' fill='%233D5AFE' stroke='%234462FE'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.0233333px;
    line-height: 1.1;
    padding: 0 22px 0 0;
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #979797;
      transition: all .2s linear;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
}


.btn.btn_fixed_mobile {
  display: none;
  position: fixed;
  max-width: 335px;
  z-index: 10;
  bottom: 15px;
  left: 15px;
  right: 15px;
  margin: 0 auto;
  transition: all .2s linear;
  margin-bottom: -150px;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  &.active {
    margin-bottom: 0;
  }
}


.block_shadow {
  border-radius: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12);
  background: #fff;
}


.select_wrapper.success {
  .selectric {
    border-color: #3D5AFE;
  }
}

.selectric-disabled {
  .selectric {
    background: rgba(0, 0, 0, 0.03);
  }
}

.selectric {
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 4px;
  background-color: #fff;

  .label {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.285714px;
    font-weight: 400;
    padding: 11px 0;
    height: auto;
    margin: 0 10px 0 38px;
    text-align: right;
  }

  .button {
    height: 100%;
    font-size: 0;
    right: auto;
    left: 0;
    background-color: transparent;

    &:after {
      padding: 0;
      content: '';
      transition: all .2s linear;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27678 0.295718L5.40893 3.15692C5.18302 3.3821 4.81698 3.3821 4.59107 3.15692L1.72322 0.295718C1.43463 0.0071059 1.00006 -0.0793526 0.622594 0.0767484C0.245125 0.232849 -0.000700562 0.600683 1.49983e-06 1.00835V1.88666C-0.000228409 2.34976 0.184154 2.79395 0.512501 3.12129L3.98929 6.58288C4.5471 7.13904 5.45111 7.13904 6.00893 6.58288L9.4875 3.11951C9.81585 2.79217 10.0002 2.34798 10 1.88488V1.00835C10.0007 0.600683 9.75488 0.232849 9.37741 0.0767484C8.99994 -0.0793526 8.56537 0.0071059 8.27678 0.295718Z' fill='black' fill-opacity='0.5'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      width: 10px;
      height: 7px;
    }
  }
}

.selectric-items {
  border: none;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
  border-radius: 6px;

  li {
    word-break: break-all;
  }
}




.date_picker_wrapper {
  position: relative;

  .ui-datepicker {
    top: 100% !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
}

.ui-datepicker {
  font-family: 'Rubik', sans-serif;
}

.ui-datepicker table {
  margin: 10px 0 3px;
}

.ui-widget-header {
  background-color: transparent;
  border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  border: none;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s linear;
  cursor: pointer;
  border: 1px solid #A6D6FC;
  top: 3px;

  &:hover {
    background-color: #3D5AFE;
    border-color: #3D5AFE;
  }

  .ui-icon {
    display: none;
  }
}

.ui-datepicker th {
  padding: 0;
}

.ui-datepicker .ui-datepicker-next {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 11.09L2.83 6.5L7.41 1.91L6 0.5L0 6.5L6 12.5L7.41 11.09Z' fill='black'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 11.09L2.83 6.5L7.41 1.91L6 0.5L0 6.5L6 12.5L7.41 11.09Z' fill='%23fff'/%3E%3C/svg%3E");
    left: 2px;
    top: 3px;
  }
}

.ui-datepicker .ui-datepicker-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.59 11.09L5.17 6.5L0.59 1.91L2 0.5L8 6.5L2 12.5L0.59 11.09Z' fill='black'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.59 11.09L5.17 6.5L0.59 1.91L2 0.5L8 6.5L2 12.5L0.59 11.09Z' fill='%23fff'/%3E%3C/svg%3E");
    right: 2px;
    top: 3px;
  }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-color: transparent;
  background: #EFEFEF;
  text-align: center;
  transition: all .2s linear;
  padding: 5px 2px 3px;
  font-size: 16px;

  &:hover {
    background: #EBF3F8;
    color: #3D5AFE;
  }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #3D5AFE;
  color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  background: #EBF3F8;
  color: #3D5AFE;
}



.rating_wrapper {
  max-width: 238px;
}

.br-widget {
  display: flex;
  align-items: center;

  &.br-readonly {
    a {
      cursor: default;
    }
  }

  a {
    display: block;
    width: 20px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2325 15.3117L10 15.1897L9.76753 15.3117L4.48384 18.0865L5.49279 12.2103L5.53731 11.951L5.34881 11.7675L1.07533 7.60651L6.98165 6.74923L7.2417 6.71148L7.3581 6.47589L10 1.12877L12.6419 6.47589L12.7583 6.71148L13.0183 6.74923L18.9247 7.60651L14.6512 11.7675L14.4627 11.951L14.5072 12.2103L15.5162 18.0865L10.2325 15.3117Z' stroke='%23D9B650'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin: 1px 2px;

    &.br-selected,
    &.br-active,
    &.br-current {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2325 15.3117L10 15.1897L9.76753 15.3117L4.48384 18.0865L5.49279 12.2103L5.53731 11.951L5.34881 11.7675L1.07533 7.60651L6.98165 6.74923L7.2417 6.71148L7.3581 6.47589L10 1.12877L12.6419 6.47589L12.7583 6.71148L13.0183 6.74923L18.9247 7.60651L14.6512 11.7675L14.4627 11.951L14.5072 12.2103L15.5162 18.0865L10.2325 15.3117Z' fill='%23D9B650' stroke='%23D9B650'/%3E%3C/svg%3E");
    }
  }

  .br-current-rating {
    display: none;
  }
}

.rating_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0.0233333px;
  color: rgba(0, 0, 0, 0.85);
  padding: 5px 4px 0;
}





.animateCssClouds {
  animation: cloudsAnimate 20s infinite;
}

@-webkit-keyframes cloudsAnimate {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10%, -5%);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-10%, 5%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes cloudsAnimate {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10%, -5%);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-10%, 5%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-o-keyframes cloudsAnimate {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10%, -5%);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-10%, 5%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes cloudsAnimate {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10%, -5%);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-10%, 5%);
  }

  100% {
    transform: translate(0, 0);
  }
}


.fancybox-container {
  z-index: 992!important;
}

input[type="tel"]{
  direction: ltr;
  text-align: right;
}