.b_hot_jobs {
  padding: 70px 0 35px;
  background-repeat: repeat-x;
  background-position: center 0;
  background-image: url('../images/jobs_decor.svg');
  min-height: 415px;
  overflow: hidden;
  position: relative;

  .plane_decorations {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    img {
      position: absolute;
    }

    .icon_plane_left {
      top: 70px;
      left: 15%;

      @media (max-width: $screen-sm-max) {
        left: 5%;
      }
    }

    .icon_plane_right {
      top: 30px;
      right: 15%;

      @media (max-width: $screen-sm-max) {
        right: 5%;
      }
    }
  }

  >.container {
    position: relative;
    z-index: 1;
  }

  .tabs_wrapper {
    position: relative;
    z-index: 1;
  }

  .section_title {
    margin: 0 0 25px;
  }

  .tab_links_wrapper {
    text-align: center;
    margin: 0 0 20px;
  }

  .links_wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .tab_link {
    display: inline-block;
    vertical-align: top;
    position: relative;

    +.tab_link {
      margin: 0 44px 0 0;
    }
  }

  .slick-list {
    padding: 20px 0 10px;
  }

  .slider_wrapper {
    margin: 0 -15px;

    &:not(.slick-initialized) {
      .slide_item {
        &:not(:first-of-type) {
          display: none;
        }

        .item_wrapper {
          max-width: 264px;
        }
      }
    }

    .slide_item {
      padding: 0 15px;
    }

    .item_title {
      position: absolute;
      bottom: 20px;
      left: 10px;
      right: 10px;
      text-align: center;
      z-index: 2;
      font-size: 24px;
      letter-spacing: 0.0466667px;
      font-weight: 400;

      &::before {
        position: relative;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 21L9.63533 20.4773C15.1816 15.9143 18 12.334 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 12.334 2.81836 15.9143 8.36467 20.4773L9 21ZM9 2C12.866 2 16 5.13401 16 9C16 11.449 13.6931 14.4295 9 18.4027C4.30686 14.4295 2 11.449 2 9C2 5.13401 5.13401 2 9 2Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 9C5 11.2091 6.79086 13 9 13C11.2091 13 13 11.2091 13 9C13 6.79086 11.2091 5 9 5C6.79086 5 5 6.79086 5 9ZM11 9C11 10.1046 10.1046 11 9 11C7.89543 11 7 10.1046 7 9C7 7.89543 7.89543 7 9 7C10.1046 7 11 7.89543 11 9Z' fill='black'/%3E%3C/svg%3E");
        width: 18px;
        height: 21px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
      }
    }
  }

  .item_wrapper {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    text-decoration: none;
    height: 200px;
    color: #414040;

    &::before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &::after {
      position: absolute;
      content: '';
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.2182 9.50096C28.9273 11.3547 28.9273 16.6453 25.2181 18.499L7.28297 27.4625C3.93691 29.1347 0 26.7027 0 22.9634V5.03657C0 1.2973 3.93692 -1.13472 7.28297 0.537529L25.2182 9.50096Z' fill='%233D5AFE'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 55% center;
    }
  }



  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 112px;
    height: 112px;
    border: none;
    background-color: #fff;
    transition: all .2s linear;
    border-radius: 50%;
    font-size: 0;
    margin-top: -56px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
    background-repeat: no-repeat;

    &:hover {
      background-color: #3D5AFE;
    }
  }

  .slick-prev {
    right: -41px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19.415L8.03509 11L0 2.585L2.47368 0L13 11L2.47368 22L0 19.415Z' fill='black'/%3E%3C/svg%3E");
    background-position: 30px center;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19.415L8.03509 11L0 2.585L2.47368 0L13 11L2.47368 22L0 19.415Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  .slick-next {
    left: -41px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 19.415L4.96491 11L13 2.585L10.5263 0L8.74734e-08 11L10.5263 22L13 19.415Z' fill='black'/%3E%3C/svg%3E");
    background-position: calc(100% - 30px) center;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 19.415L4.96491 11L13 2.585L10.5263 0L8.74734e-08 11L10.5263 22L13 19.415Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  .no_slide{
    text-align: center;

    img{
      margin: -20px auto 10px;
    }
  }

  .no_slide_title{
    font-weight: 500;
    font-size: 19px;
    color: #3D5AFE;
  }
}
