.b_jobs_archive {
  padding: 0 0 100px;

  .archive_banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F6F7FF;
    text-align: center;
    padding: 50px 0;

    .title {
      font-size: 32px;
      font-weight: 500;
    }
  }

  .archive_filter {
    padding: 20px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;

    @media (max-width: $screen-xs-max) {
      margin: 0;
      padding: 20px 0 20px;
    }

    .service_select {
      width: calc(25% - 30px);
      margin: 0 15px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 0 auto 15px;
      }

      .select_wrapper {
        width: 165px;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }

      .selectric {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 8px;
      }
    }
  }

  .location_select_wrapper {
    margin: 0 15px;
    width: calc(75% - 30px);
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0;
    }

    .select_wrapper {
      width: 180px;
      position: relative;

      @media (max-width: $screen-sm-max) {
        width: 170px;
      }

      @media (max-width: $screen-xs-max) {
        width: 50%;
      }

      @media (max-width: 500px) {
        width: 100%;
        margin: 0 0 15px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 8px;
      }

      +.select_wrapper{
        margin-right: 1px;

        @media (max-width: $screen-xs-max) {
          width: calc(50% - 1px);
        }

        @media (max-width: 500px) {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          z-index: 2;
          left: 100%;
          top: 8px;
          bottom: 8px;
          width: 1px;
          background: rgba(0, 0, 0, 0.1);
  
          @media (max-width: 500px) {
            display: none;
          }
        }
      }
    }

    .selectric {
      border: none;
    }
  }

  .location_select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 0 auto 0 0;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    @media (max-width: 500px) {
      border: none;
    }

    .selectric{
      border-radius: 8px;
    }
  }

  // .btn_clear {
  //   width: 190px;
  //   text-align: center;
  //   font-weight: 400;
  //   color: #414040;
  //   display: block;
  //   padding: 13px 10px;

  //   @media (max-width: $screen-xs-max) {
  //     width: 33.33%;
  //   }

  //   @media (max-width: 500px) {
  //     width: 100%;
  //     border: 1px solid rgba(0, 0, 0, 0.25);
  //     border-radius: 8px;
  //   }

  //   &::before {
  //     display: inline-block;
  //     vertical-align: middle;
  //     background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4943 0L0.505715 0.0257143C0.226417 0.0257143 6.0109e-07 0.25213 6.0109e-07 0.531429V2.53143C-0.00043323 3.12102 0.233984 3.6865 0.651429 4.10286L5.19143 8.62C5.89228 9.31744 6.28612 10.2655 6.28572 11.2543V15.54C6.28419 15.6615 6.33137 15.7785 6.41673 15.8649C6.5021 15.9514 6.61852 16 6.74 16H9.25714C9.37812 16.0008 9.49441 15.9532 9.58022 15.868C9.66603 15.7827 9.71429 15.6667 9.71429 15.5457V11.26C9.71389 10.2755 10.1044 9.33104 10.8 8.63429L15.3543 4.06286C15.7682 3.64696 16.0004 3.08393 16 2.49714V0.497143C15.9953 0.221198 15.7703 -3.96444e-05 15.4943 0Z' fill='black'/%3E%3C/svg%3E");
  //     content: '';
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     width: 16px;
  //     height: 16px;
  //     margin-left: 16px;
  //   }
  // }

  .archive_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: 500px) {
      margin: 0;
    }
  }

  .archive_item {
    border-radius: 16px;
    transition: all .2s linear;
    display: block;
    margin: 0 15px 30px;
    width: calc(25% - 30px);
    text-decoration: none;
    color: #414040;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    min-height: 200px;
    position: relative;
    overflow: hidden;

    @media (max-width: $screen-md-max) {
      width: calc(25% - 15px);
      margin: 0 7.5px 15px;
    }

    @media (max-width: $screen-sm-max) {
      width: calc(33.33% - 15px);
    }

    @media (max-width: $screen-xs-max) {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin: 0 auto 15px;
    }

    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);

      &::before {
        transform: scale(.8);
      }
    }

    &::before {
      transition: all .2s linear;
      position: absolute;
      z-index: 1;
      content: '';
      width: 62px;
      height: 62px;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 55% center;
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.305 9.14147C27.8983 10.9373 27.8983 16.0627 24.305 17.8585L7.05554 26.4793C3.81398 28.0993 0 25.7432 0 22.1207V4.87927C0 1.25678 3.81397 -1.09928 7.05553 0.520741L24.305 9.14147Z' fill='%233D5AFE'/%3E%3C/svg%3E");
    }

    .item_image {
      position: absolute;
      border-radius: 16px;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.2;
    }

    .item_rating {
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 15px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      font-weight: 400;
    }

    .item_location {
      text-align: center;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 24px;
      font-weight: 400;

      @media (max-width: $screen-md-max) {
        font-size: 20px;
      }
    }

    .location {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 0 15px 10px;

      &::before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.99941 13C6.79027 13 4.99941 11.2091 4.99941 8.99999C4.99941 6.79085 6.79027 4.99999 8.99941 4.99999C11.2085 4.99999 12.9994 6.79085 12.9994 8.99999C12.9994 11.2091 11.2085 13 8.99941 13ZM8.99941 11C10.104 11 10.9994 10.1046 10.9994 8.99999C10.9994 7.89542 10.104 6.99999 8.99941 6.99999C7.89484 6.99999 6.99941 7.89542 6.99941 8.99999C6.99941 10.1046 7.89484 11 8.99941 11Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.63533 20.4773L9 21L8.36467 20.4773C2.81836 15.9143 0 12.334 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 12.334 15.1816 15.9143 9.63533 20.4773ZM16 9C16 5.13401 12.866 2 9 2C5.13401 2 2 5.13401 2 9C2 11.449 4.30686 14.4295 9 18.4027C13.6931 14.4295 16 11.449 16 9Z' fill='black'/%3E%3C/svg%3E");
        width: 18px;
        height: 21px;
        margin-left: 10px;
      }
    }
  }
}
