.b_main_banner {
  position: relative;

  .banner_image {
    background-color: #D6E5FF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;

    @media (max-width: 670px) {
      background-position: 40% center;
      min-height: 270px;
      position: relative;
    }
  }

  &::after {
    // @media (max-width: 670px) {
    //   position: absolute;
    //   content: '';
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: rgba(214, 229, 255, 0.8);
    // }
  }

  .banner_wrapper {
    padding: 40px 0 45px;
    min-height: 370px;

    @media (max-width: 670px) {
      min-height: auto;
      padding: 20px 0;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .banner_title {
    font-size: 48px;
    margin: 0 0 10px;
    max-width: 270px;

    @media (max-width: $screen-sm-max) {
      font-size: 35px;
    }

    @media (max-width: 670px) {
      font-size: 25px;
      max-width: 100%;
      font-weight: 700;
    }
  }

  .banner_content {
    position: relative;
    z-index: 2;
  }

  .banner_text {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 400;

    @media (max-width: 670px) {
      font-size: 20px;
    }
  }

  .btn_wrapper {
    margin: 0 0 30px;
  }

  .btn_video {
    color: #1A3AF8;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 50px 0 0;

    @media (max-width: 670px) {
      font-weight: 400;
    }

    &:hover {
      &::before {
        transform: translate(-5px, 0) scale(1.1);
      }
    }

    &::before {
      transition: all .2s linear;
      right: 0;
      top: 50%;
      margin-top: -16px;
      position: absolute;
      content: '';
      width: 33px;
      height: 33px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      background-repeat: no-repeat;
      background-position: calc(50% - 1px) center;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.64644 4.33746C-0.548817 5.43449 -0.548812 8.56551 1.64645 9.66254L9.68956 13.6819C11.6699 14.6715 14 13.2323 14 11.0193V2.98065C14 0.767748 11.6699 -0.671532 9.68956 0.31811L1.64644 4.33746Z' fill='%231A3AF8'/%3E%3C/svg%3E");
    }
  }
}
