.b_personal_zone {
    padding: 45px 0;
    font-weight: 400;
    background: rgba(182, 182, 182, 0.1);

    @media (max-width: $screen-sm-max) {
        padding: 30px 0;
    }

    &.customer {
        .status_btn {
            cursor: unset;

            &:before {
                display: none;
            }
        }
    }

    .btn_sidear_menu {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 0;
        background-color: #3d5afe;
        display: none;

        @media (max-width: $screen-sm-max) {
            display: block;
        }

        &.open {
            span {
                width: 0;
            }

            &::before,
            &::after {
                top: 15px;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        span {
            transition: all 0.3s ease;
            position: absolute;
            content: '';
            height: 2px;
            width: 20px;
            background-color: #fff;
            left: 0;
            right: 0;
            margin: -1px auto 0;
            top: 15px;
        }

        &::before {
            transition: all 0.3s ease;
            position: absolute;
            content: '';
            height: 2px;
            width: 20px;
            background-color: #fff;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 21px;
        }

        &::after {
            transition: all 0.3s ease;
            position: absolute;
            content: '';
            height: 2px;
            width: 20px;
            background-color: #fff;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 7px;
        }
    }

    .form_section {
        + .form_section {
            border-top: 1px solid #d8d8d8;
        }

        &:last-of-type {
            border-bottom: 1px solid #d8d8d8;
        }
    }

    .status_wrapper {
        position: relative;
    }

    .btn_wrapper {
        text-align: center;
    }

    .label_title {
        margin: 0 0 5px;
    }

    .rating_wrapper {
        padding: 10px 0 0;
    }

    .add_row {
        padding: 10px 0;
    }

    .personal_zone_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .personal_zone_sidear {
        width: 265px;
        min-height: 508px;
        position: relative;

        @media (max-width: $screen-sm-max) {
            width: 100%;
            min-height: auto;
            margin: 0 0 15px;
        }

        &.gold {
            background-color: #d9b650;
            color: #fff;

            .status_wrapper .selectric .label {
                color: #ffffff;
            }

            .status_wrapper .selectric .button {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27678 0.295718L5.40893 3.15692C5.18302 3.3821 4.81698 3.3821 4.59107 3.15692L1.72322 0.295718C1.43463 0.0071059 1.00006 -0.0793526 0.622594 0.0767484C0.245125 0.232849 -0.000700562 0.600683 1.49983e-06 1.00835V1.88666C-0.000228409 2.34976 0.184154 2.79395 0.512501 3.12129L3.98929 6.58288C4.5471 7.13904 5.45111 7.13904 6.00893 6.58288L9.4875 3.11951C9.81585 2.79217 10.0002 2.34798 10 1.88488V1.00835C10.0007 0.600683 9.75488 0.232849 9.37741 0.0767484C8.99994 -0.0793526 8.56537 0.0071059 8.27678 0.295718Z' fill='white' fill-opacity='1'/%3E%3C/svg%3E");
                }
            }

            .sidear_head {
                border-bottom: 1px solid #fff;
                @media (max-width: $screen-sm-max) {
                    border: none;
                }
            }

            .user_has_image {
                &.image_has {
                    box-shadow: inset 0 0 0 4px #fff;
                }
            }

            .user_data {
                ul {
                    color: #fff;

                    strong {
                        color: #fff;
                    }
                }
            }

            .gold_icon {
                position: absolute;
                z-index: 2;
                top: 3px;
                right: 0;
                max-width: 26px;
                background-color: #fff;
                border-radius: 50%;
                padding: 3px;
            }

            .sidear_body {
                background-color: #d9b650;
                border-radius: 16px;
            }
        }
    }

    .personal_zone_conntent {
        width: calc(100% - 295px);
        min-height: 508px;

        @media (max-width: $screen-sm-max) {
            width: 100%;
            min-height: auto;
        }

        .contact_information {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            margin: 0 0 20px;
        }

        .conntent_wrapper {
            padding: 20px 30px;

            @media (max-width: $screen-xs-max) {
                padding: 15px 15px;
            }
        }
    }

    .sidear_head {
        padding: 15px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @media (max-width: $screen-sm-max) {
            border: none;
        }
    }

    .sidear_body {
        @media (min-width: $screen-md-min) {
            display: block !important;
        }

        @media (max-width: $screen-sm-max) {
            position: absolute;
            border-radius: 16px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                0px 3px 1px rgba(0, 0, 0, 0.12);
            background: #fff;
            width: 100%;
            max-width: 200px;
            overflow: hidden;
            left: 0;
            top: 50px;
            display: none;
            z-index: 3;
        }

        &.information {
            @media (max-width: $screen-sm-max) {
                max-width: 100%;
            }
        }
    }

    .sidear_menu {
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            font-size: 14px;

            a {
                display: block;
                color: #414040;
                padding: 7px 15px;
                text-decoration: none;
                transition: all 0.2s linear;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }

                &.active {
                    color: #3d5afe;
                }
            }
        }
    }

    .user_control {
        display: flex;
        flex-wrap: wrap;
    }

    .user_no_image {
        cursor: pointer;
        display: block;
        position: relative;
        box-sizing: border-box;

        &:hover {
            .user_has_image {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        [type='file'] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
        }
    }

    .user_no_image_inner {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.0004 21C41.0004 25.9706 36.971 30 32.0004 30C27.0299 30 23.0004 25.9706 23.0004 21C23.0004 16.0294 27.0299 12 32.0004 12C36.971 12 41.0004 16.0294 41.0004 21Z' fill='%233D5AFE'/%3E%3Cpath d='M32.0004 32.5714C37.6833 32.5714 42.8454 33.8571 46.6897 35.9014C48.7552 37.0355 50.0279 39.2152 50.0004 41.5714C50.0004 45.1218 47.1223 48 43.5719 48H20.429C16.8786 48 14.0004 45.1218 14.0004 41.5714C13.973 39.2152 15.2457 37.0355 17.3111 35.9014C21.1554 33.8571 26.3176 32.5714 32.0004 32.5714Z' fill='%233D5AFE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64ZM60 32C60 47.464 47.464 60 32 60C16.536 60 4 47.464 4 32C4 16.536 16.536 4 32 4C47.464 4 60 16.536 60 32Z' fill='%233D5AFE'/%3E%3C/svg%3E");
    }

    .user_has_image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.image_has {
            box-shadow: inset 0 0 0 4px #3d5afe;
        }

        &::before {
            content: '';
            display: block;
            opacity: 0;
            visibility: hidden;
            z-index: 3;
            width: 100%;
            height: 100%;
            top: 10px;
            left: 10px;
            transition: all 0.2s linear;
            overflow: hidden;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(109, 114, 120, 0.9);
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 14.5V10.5H5.5V9.5H9.5V5.5H10.5V9.5H14.5V10.5H10.5V14.5H9.5Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z' fill='white'/%3E%3C/svg%3E");
        }
    }

    .text_welcome {
        font-size: 14px;
        margin: 0 0 2px;
    }

    .user_name {
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 2px;
    }

    .user_content {
        width: calc(100% - 64px);
        padding: 0 15px 0 0;

        @media (max-width: $screen-sm-max) {
            padding: 0 15px 0 40px;
        }
    }

    .btn_exit {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.25);
        text-decoration: underline;
        letter-spacing: 0.0272222px;

        &:hover {
            text-decoration: none;
        }
    }

    .passport_info {
        max-width: 280px;
        margin: 50px auto 0;
        text-align: center;
        color: #414040;

        .image_wrapper {
            margin: 0 auto 15px;
        }

        img {
            margin: 0 auto;
        }

        .info_title {
            font-size: 24px;
            letter-spacing: 0.0466667px;
            margin: 0 0 20px;
        }
    }

    .inquiries_label {
        font-weight: 500;
        font-size: 24px;
        margin: 0 0 20px;
    }

    .inquiries_wrappers {
        padding: 0 0 5px;
    }

    .inquiries_wrap {
        + .inquiries_wrap {
            margin: 30px 0 0;
        }
    }

    .inquiry_column {
        padding: 7px 10px;
        width: 25%;

        @media (max-width: $screen-xs-max) {
            width: 50%;
            font-size: 14px;
        }

        &:nth-child(1) {
            width: 20%;

            @media (max-width: $screen-xs-max) {
                width: 50%;
            }
        }

        &:nth-child(2) {
            width: 25%;

            @media (max-width: $screen-xs-max) {
                width: 50%;
            }
        }

        &:nth-child(3) {
            width: 30%;

            @media (max-width: $screen-xs-max) {
                width: 50%;
            }
        }
    }

    .inquiries_list {
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2),
            0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);

        .view {
            font-size: 16px;
            color: #3d5afe;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
            }

            a {
                color: #3d5afe;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .column_label {
            line-height: 1.1;
            font-size: 14px;
            letter-spacing: 0.0272222px;
            color: rgba(0, 0, 0, 0.25);
        }
    }

    .inquiry_row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.2s linear;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:first-of-type {
            border-radius: 4px 4px 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 4px 4px;
        }

        + .inquiry_row {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .personal_zone_sidear {
        .status_wrapper {
            position: relative;
            display: flex;
            align-items: center;

            .selectric-wrapper {
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px 0 0;
                color: rgba(0, 0, 0, 0.5);
            }

            .selectric {
                border-radius: 0;
                border: none;
                background-color: transparent;

                .label {
                    line-height: 1.4;
                    padding: 0;
                    margin: 0 0 0 15px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .button {
                    width: 15px;
                }
            }

            .selectric-items {
                min-width: 100px;
                left: auto;
                right: 0;

                li {
                    padding: 3px 3px;
                }
            }
        }
    }

    .status_btn {
        position: relative;

        &.-active {
            &::before {
                transform: rotate(180deg);
            }
        }

        &::before {
            transition: all 0.2s linear;
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.343 0.307811L5.4522 3.19861C5.22449 3.42612 4.85551 3.42612 4.6278 3.19861L1.737 0.307811C1.44611 0.0162126 1.00806 -0.0711402 0.627575 0.0865755C0.247086 0.244291 -0.000706167 0.61593 1.51183e-06 1.02781V1.91521C-0.000230236 2.3831 0.185627 2.83188 0.516602 3.16261L4.0212 6.66001C4.58348 7.22192 5.49472 7.22192 6.057 6.66001L9.5634 3.16081C9.89438 2.83008 10.0802 2.3813 10.08 1.91341V1.02781C10.0807 0.61593 9.83292 0.244291 9.45243 0.0865755C9.07194 -0.0711402 8.63389 0.0162126 8.343 0.307811Z' fill='black' fill-opacity='0.5'/%3E%3C/svg%3E");
            width: 11px;
            height: 8px;
            left: 15px;
            top: 50%;
            margin-top: -4px;
        }
    }

    .status {
        &.submitted {
            color: #0091ff;
        }

        &.sorting {
            color: #f7b500;
        }

        &.waiting {
            color: #6d7278;
        }

        &.monitored {
            color: #b620e0;
        }
    }

    .status_btn {
        cursor: pointer;
    }

    .status_list_wrapper {
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        width: 100%;
        display: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
            0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
        border-radius: 6px;
        overflow: hidden;
        background: #ffffff;

        .status_list {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 16px;

                a {
                    color: #414040;
                    display: block;
                    line-height: 1.2;
                    padding: 5px 15px;
                    transition: all 0.2s linear;

                    &:hover {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    .video_wrapper {
        border-radius: 20px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 380px;
        display: block;
        text-decoration: none;
        position: relative;

        @media (max-width: 650px) {
            height: 280px;
        }

        @media (max-width: 530px) {
            height: 220px;
        }

        @media (max-width: 470px) {
            height: 180px;
        }

        &:hover {
            &::before {
                transform: scale(0.9);
            }
        }

        &::before {
            position: absolute;
            z-index: 2;
            content: '';
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
            top: 50%;
            left: 50%;
            margin: -35px 0 0 -35px;
            background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.2209 12.0051C33.9264 13.8571 33.9264 19.1429 30.2209 20.9949L7.27584 32.463C3.93306 34.1337 0 31.7039 0 27.968V5.03198C0 1.29612 3.93306 -1.13369 7.27583 0.53704L30.2209 12.0051Z' fill='%233D5AFE'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 55% center;
            transition: all 0.2s linear;
        }

        &::after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    .video_content {
        padding: 20px 0 0;

        .btn_wrapper {
            text-align: center;

            .btn {
                padding: 10px 10px;
            }
        }
    }

    .information_wrapper {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 10px 0 0;

        .info {
            display: inline-block;
            vertical-align: top;
            position: relative;
            padding: 0 20px 0 0;

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 0C3.63401 0 0.5 3.13401 0.5 7C0.5 10.866 3.63401 14 7.5 14C11.366 14 14.5 10.866 14.5 7C14.5 5.14348 13.7625 3.36301 12.4497 2.05025C11.137 0.737498 9.35652 0 7.5 0ZM7.5 3C8.19036 3 8.75 3.55964 8.75 4.25C8.75 4.94036 8.19036 5.5 7.5 5.5C6.80964 5.5 6.25 4.94036 6.25 4.25C6.25 3.55964 6.80964 3 7.5 3ZM9.125 11C9.33211 11 9.5 10.8321 9.5 10.625V10.375C9.5 10.1679 9.33211 10 9.125 10C8.91789 10 8.75 9.83211 8.75 9.625V6.375C8.75 6.16789 8.58211 6 8.375 6H5.875C5.66789 6 5.5 6.16789 5.5 6.375V6.625C5.5 6.83211 5.66789 7 5.875 7C6.08211 7 6.25 7.16789 6.25 7.375V9.625C6.25 9.83211 6.08211 10 5.875 10C5.66789 10 5.5 10.1679 5.5 10.375V10.625C5.5 10.8321 5.66789 11 5.875 11H9.125Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E");
                background-color: transparent;
                background-repeat: no-repeat;
                width: 15px;
                height: 14px;
            }
        }
    }

    .section_head {
        padding: 23px 20px;
        position: relative;

        @media (max-width: 650px) {
            padding: 10px 20px;
        }

        &::after {
            position: absolute;
            transition: all 0.2s linear;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z' fill='white' stroke='%233D5AFE'/%3E%3Cpath d='M15.5432 9.90815L12.6524 12.799C12.4247 13.0265 12.0557 13.0265 11.828 12.799L8.9372 9.90815C8.64631 9.61655 8.20826 9.5292 7.82777 9.68692C7.44728 9.84463 7.19949 10.2163 7.2002 10.6282V11.5156C7.19997 11.9834 7.38582 12.4322 7.7168 12.763L11.2214 16.2604C11.7837 16.8223 12.6949 16.8223 13.2572 16.2604L16.7636 12.7612C17.0946 12.4304 17.2804 11.9816 17.2802 11.5138V10.6282C17.2809 10.2163 17.0331 9.84463 16.6526 9.68692C16.2721 9.5292 15.8341 9.61655 15.5432 9.90815Z' fill='%233D5AFE'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            left: 20px;
            top: 50%;
            margin-top: -12px;
        }

        &.open {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    .section_head_title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .head_image {
        width: 20px;
        height: 20px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .head_title {
        width: calc(100% - 20px);
        padding: 0 10px 0 0;
    }

    .section_content {
        padding: 25px 25px;
        border-top: 1px solid #d8d8d8;
        display: none;

        @media (max-width: 650px) {
            padding: 15px 15px;
        }
    }

    .column_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @media (max-width: $screen-xs-max) {
            margin: 0 -7px;
        }

        .column {
            padding: 0 15px;

            @media (max-width: $screen-xs-max) {
                padding: 0 7px;
            }

            + .column {
                @media (max-width: 600px) {
                    margin: 15px 0 0;
                }
            }
        }

        &.w50 {
            .column {
                width: 50%;

                @media (max-width: 600px) {
                    width: 100%;
                }
            }
        }

        &.w33 {
            .column {
                width: 33.33%;

                @media (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }

    .form_row {
        width: 100%;

        + .form_row {
            margin: 15px 0 0;
        }
    }

    .form_control {
        transition: all 0.2s linear;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 8px 10px;

        &.success {
            border-color: #3d5afe;
        }

        &:hover,
        &:focus {
            border-color: #3d5afe;
        }

        &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.25);
        }

        &:-moz-placeholder {
            color: rgba(0, 0, 0, 0.25);
        }

        &::-moz-placeholder {
            color: rgba(0, 0, 0, 0.25);
        }

        &:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.25);
        }
    }

    .selectric {
        border: 1px solid rgba(0, 0, 0, 0.25);

        .label {
            padding: 7px 0;
        }
    }

    .gender_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .gender_label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        margin: 0 0 0 15px;
    }

    .gender_item {
        margin: 0 0 0 15px;
    }

    .gender_radio {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;

        [type='radio'],
        [type='checkbox'] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
        }

        [type='radio']:checked + .radio_decor,
        [type='checkbox']:checked + .radio_decor {
            background-color: #3d5afe;

            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    .radio_decor {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        background-color: #efecec;
        position: relative;
        transition: all 0.2s linear;

        img,
        svg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .info_wrapper {
        padding: 5px 0;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.5);

        .info {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: 0 20px 0 0;

            &::before {
                position: absolute;
                content: '';
                top: 1px;
                right: 0;
                width: 14px;
                height: 14px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0ZM7 3C7.69036 3 8.25 3.55964 8.25 4.25C8.25 4.94036 7.69036 5.5 7 5.5C6.30964 5.5 5.75 4.94036 5.75 4.25C5.75 3.55964 6.30964 3 7 3ZM8.625 11C8.83211 11 9 10.8321 9 10.625V10.375C9 10.1679 8.83211 10 8.625 10C8.41789 10 8.25 9.83211 8.25 9.625V6.375C8.25 6.16789 8.08211 6 7.875 6H5.375C5.16789 6 5 6.16789 5 6.375V6.625C5 6.83211 5.16789 7 5.375 7C5.58211 7 5.75 7.16789 5.75 7.375V9.625C5.75 9.83211 5.58211 10 5.375 10C5.16789 10 5 10.1679 5 10.375V10.625C5 10.8321 5.16789 11 5.375 11H8.625Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
            }
        }
    }

    .gold_member {
        textarea.form_control {
            font-size: 14px;
        }
    }

    .resume_button {
        // display: none;
        text-align: center;
        padding: 35px 0;
    }

    .more_list {
        text-align: left;
        padding: 15px 0 0;
        cursor: pointer;

        a {
            font-size: 16px;
            color: #3d5afe;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .how_to_us {
        padding: 0 0 10px;

        .video_link {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-size: 16px;
            color: #3d5afe;
            padding: 0 30px 0 0;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                position: absolute;
                content: '';
                width: 23px;
                height: 23px;
                border-radius: 50%;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                    0px 3px 1px rgba(0, 0, 0, 0.12),
                    0px 2px 2px rgba(0, 0, 0, 0.14);
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.2234 3.52152C-0.407799 4.3367 -0.407802 6.6633 1.2234 7.47848L7.79709 10.7636C9.26862 11.499 11 10.4295 11 8.78514V2.21486C11 0.570497 9.26862 -0.499001 7.79709 0.236381L1.2234 3.52152Z' fill='%231A3AF8'/%3E%3C/svg%3E");
                right: 0;
                top: 50%;
                margin-top: -12px;
            }
        }
    }

    .radio_wrapper {
        .radio {
            margin: 10px 0 0 10px;
        }
    }

    .leads_setting {
        padding: 15px 0 0;

        .form_row_wrapper {
            max-width: 520px;
        }

        .form_row {
            + .form_row {
                margin: 25px 0 0;
            }
        }

        .label_title {
            font-weight: 500;
            font-size: 16px;
            margin: 0 0 15px;
        }

        .btn_wrapper {
            padding: 25px 0 20px;
        }

        .checkbox {
            margin: 0 0 8px 15px;

            span {
                font-size: 16px;

                &:before {
                    top: 2px;
                }
            }
        }
    }

    .company_details {
        .label_title {
            font-weight: 500;
            margin: 0 0 5px;
            font-size: 16px;
        }

        textarea.form_control {
            font-size: 14px;
        }
    }

    .company_details_head {
        border-bottom: 1px solid #d8d8d8;
        padding: 25px;

        .details_head {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .select_wrapper {
            width: 238px;
        }
    }

    .attached_files_wrap {
        position: relative;

        .form_control {
            padding-left: 60px;
        }

        .btn_inspection {
            display: block;
            position: absolute;
            text-align: center;
            font-size: 16px;
            color: #3d5afe;
            border-radius: 2px;
            background: rgba(61, 90, 254, 0.2);
            left: 5px;
            top: 5px;
            bottom: 5px;
            width: 50px;
            padding: 4px 5px;
            transition: all 0.2s linear;

            &:hover {
                background-color: #3d5afe;
                color: #fff;
            }
        }
    }

    .social_input_wrapper {
        position: relative;

        .form_control {
            padding-right: 40px;
        }

        .social_icon {
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            width: 30px;

            img {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-height: 100%;
            }
        }
    }

    .company_details_body {
        padding: 25px 25px;
    }

    .company_details_foot {
        padding: 5px 25px 30px;
        text-align: center;

        .btn_delete {
            margin: 0 15px;
        }

        .btn {
            margin: 0 15px;
        }
    }

    .btn_delete {
        font-size: 16px;
        color: #414040;
        padding: 0 0 0 30px;
        position: relative;

        @media (max-width: 650px) {
            display: block;
            max-width: 130px;
            margin: 15px auto 0 !important;
        }

        &::before {
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.37258 5.37258 0 12 0C15.1826 0 18.2348 1.26428 20.4853 3.51472C22.7357 5.76515 24 8.8174 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12ZM16.8471 16.8514C17.517 16.1816 17.517 15.0956 16.8471 14.4257L14.4257 12L16.8514 9.57429C17.2847 9.14097 17.454 8.50941 17.2954 7.91749C17.1368 7.32558 16.6744 6.86324 16.0825 6.70464C15.4906 6.54603 14.859 6.71526 14.4257 7.14857L12 9.57429L9.57429 7.14857C8.90444 6.47873 7.81841 6.47873 7.14857 7.14857C6.47873 7.81841 6.47873 8.90444 7.14857 9.57429L9.57429 12L7.14857 14.4257C6.47873 15.0956 6.47873 16.1816 7.14857 16.8514C7.81841 17.5213 8.90444 17.5213 9.57429 16.8514L12 14.4257L14.4214 16.8514C15.0913 17.5213 16.1773 17.5213 16.8471 16.8514Z' fill='black'/%3E%3C/svg%3E");
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            margin-top: -12px;
        }
    }

    .return_wrapper {
        position: relative;
    }

    .btn_return {
        position: absolute;
        color: #414040;
        font-size: 16px;
        padding: 0 20px 0 0;
        right: 0;
        top: -30px;

        &::before {
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.59L4.32659 6L0 1.41L1.33198 0L7 6L1.33198 12L0 10.59Z' fill='%23414040'/%3E%3C/svg%3E");
            width: 7px;
            height: 12px;
            right: 0;
            top: 50%;
            margin-top: -6px;
        }
    }

    .user_profile {
        .personal_zone_sidear {
            width: 360px;

            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
        }

        .personal_zone_conntent {
            width: calc(100% - 390px);

            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
        }

        .user_control {
            align-items: center;
        }

        .user_no_image {
            cursor: default;
        }

        .user_no_image_inner {
            width: 96px;
            height: 96px;
        }

        .user_has_image {
            &::before {
                display: none;
            }
        }

        .user_content {
            width: calc(100% - 96px);
        }

        .user_name {
            font-weight: 500;
            font-size: 24px;
        }
    }

    .user_data {
        padding: 25px 15px;

        ul {
            font-size: 16px;
            padding: 0;
            margin: 0;
            list-style: none;
            color: rgba(0, 0, 0, 0.5);

            li {
                + li {
                    margin: 10px 0 0;
                }
            }

            strong {
                font-weight: 400;
                color: #414040;
            }
        }
    }

    .video_wrap {
        padding: 40px 25px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @media (max-width: $screen-md-max) {
            padding: 40px 15px 30px;
        }

        @media (max-width: $screen-xs-max) {
            padding: 15px 15px 15px;
        }
    }

    .user_video_wrapper {
        width: calc(100% - 130px);
        margin: 0 auto;
        position: relative;

        @media (max-width: $screen-md-max) {
            width: calc(100% - 110px);
        }

        @media (max-width: $screen-xs-max) {
            text-align: center;
            width: 100%;
        }
    }

    .user_video {
        display: block;
        border-radius: 20px;
        overflow: hidden;

        @media (max-width: $screen-xs-max) {
            margin: 0 0 15px;
        }
    }

    .user_video_image {
        padding: 0 0 48%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        @media (max-width: $screen-xs-max) {
            padding: 0 0 56%;
        }

        &:hover {
            &:after {
                transform: scale(0.8);
            }
        }

        &::before {
            position: absolute;
            z-index: 0;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }

        &:after {
            transition: all 0.2s linear;
            position: absolute;
            z-index: 1;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 55% center;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
            background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.2036 11.9695C33.9321 13.8292 33.9321 19.1708 30.2036 21.0305L7.27716 32.4656C3.929 34.1355 0 31.6895 0 27.935V5.06498C0 1.31055 3.92899 -1.13554 7.27715 0.534428L30.2036 11.9695Z' fill='%233D5AFE'/%3E%3C/svg%3E");

            @media (max-width: $screen-xs-max) {
                width: 52px;
                height: 52px;
                background-size: 25px;
            }
        }
    }

    .user_nav {
        position: absolute;
        top: 50%;
        margin-top: -60px;

        @media (max-width: $screen-xs-max) {
            margin: 0 auto;
            top: auto;
            position: relative;
            display: inline-block;
            width: 100px;
        }

        &:hover {
            .icon_inner {
                background-color: #3d5afe;
            }
        }

        .icon_wrap {
            width: 55px;
            padding: 5px;
            overflow: hidden;

            @media (max-width: $screen-xs-max) {
                width: auto;
                height: auto;
                overflow: visible;
            }
        }

        .icon_inner {
            position: relative;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
                0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
            width: 111px;
            height: 111px;
            border-radius: 50%;
            background-repeat: no-repeat;
            transition: all 0.2s ease-in-out;
            background-color: #fff;

            @media (max-width: $screen-xs-max) {
                width: 50px;
                height: 50px;
                background-position: center !important;
                margin: 0 auto !important;
            }
        }

        .text {
            position: absolute;
            bottom: 100%;
            transform: translate(0, -50%);
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            text-align: center;

            @media (max-width: $screen-xs-max) {
                transform: none;
                position: relative;
            }
        }
    }

    .user_next {
        left: 100%;

        @media (max-width: $screen-xs-max) {
            left: auto;
        }

        &:hover {
            .icon_inner {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.748047 19.79L9.14471 11.375L0.748047 2.96L3.33305 0.375L14.333 11.375L3.33305 22.375L0.748047 19.79Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .text {
            right: 0;
        }

        .icon_inner {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.748047 19.79L9.14471 11.375L0.748047 2.96L3.33305 0.375L14.333 11.375L3.33305 22.375L0.748047 19.79Z' fill='black'/%3E%3C/svg%3E");
            background-position: calc(100% - 20px) center;
        }
    }

    .user_prev {
        right: 100%;

        @media (max-width: $screen-xs-max) {
            right: auto;
        }

        &:hover {
            .icon_inner {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.252 19.79L5.85529 11.375L14.252 2.96L11.667 0.375L0.666953 11.375L11.667 22.375L14.252 19.79Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .text {
            left: 0;
        }

        .icon_inner {
            margin: 0 -65px 0 0;
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='23' viewBox='0 0 15 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.252 19.79L5.85529 11.375L14.252 2.96L11.667 0.375L0.666953 11.375L11.667 22.375L14.252 19.79Z' fill='black'/%3E%3C/svg%3E");
            background-position: 20px center;

            @media (max-width: $screen-xs-max) {
                margin: 0;
            }
        }
    }

    .experience_wrapper {
        padding: 20px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @media (max-width: $screen-xs-max) {
            padding: 15px;
        }

        .label_title {
            font-weight: 500;
            font-size: 16px;
            margin: 0 0 10px;
        }
    }

    .experience_list {
        background-color: rgba(61, 90, 254, 0.05);
        border-radius: 20px;
        padding: 4px 0;

        .experience_list_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 16px;
            padding: 15px;
            position: relative;

            @media (max-width: $screen-md-max) {
                display: block;
            }

            + .experience_list_row {
                &::before {
                    position: absolute;
                    content: '';
                    bottom: 100%;
                    left: 15px;
                    right: 15px;
                    height: 1px;
                    background-color: #d8d8d8;
                }
            }

            .experience_item {
                + .experience_item {
                    @media (max-width: $screen-md-max) {
                        margin: 5px 0 0;
                    }
                }
            }

            strong {
                color: #414040;
                font-weight: 400;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }

            span {
                color: rgba(0, 0, 0, 0.5);
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .user_content_wrapper {
        padding: 20px 25px;

        @media (max-width: $screen-xs-max) {
            padding: 15px;
        }

        .label_title {
            font-weight: 500;
            font-size: 16px;
            margin: 0 0 10px;
        }

        .content {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .save_changes {
        padding: 15px 25px 25px;
    }
}
