.b_profile_popup {
  position: absolute;
  z-index: 10;
  background: #FFFFFF;
  border-radius: 24px;
  width: calc(100% - 30px);
  max-width: 480px;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  text-align: center;
  padding: 65px 15px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);

  .popup_inner {
    max-width: 380px;
    margin: 0 auto;
  }

  .image {
    border: 8px solid #3D5AFE;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    top: -45px;
  }

  .link_wrapper {
    padding: 15px 0 0;
  }

  .popup_title {
    font-weight: 500;
    font-size: 25px;
    margin: 0 0 5px;
  }

  .application_wrapper {
    padding: 0 0 20px;
    color: rgba(0, 0, 0, 0.5);

    .number_left{
      color: #414040;
    }
  }

  .info_icon{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0ZM7 3C7.69036 3 8.25 3.55964 8.25 4.25C8.25 4.94036 7.69036 5.5 7 5.5C6.30964 5.5 5.75 4.94036 5.75 4.25C5.75 3.55964 6.30964 3 7 3ZM8.625 11C8.83211 11 9 10.8321 9 10.625V10.375C9 10.1679 8.83211 10 8.625 10C8.41789 10 8.25 9.83211 8.25 9.625V6.375C8.25 6.16789 8.08211 6 7.875 6H5.375C5.16789 6 5 6.16789 5 6.375V6.625C5 6.83211 5.16789 7 5.375 7C5.58211 7 5.75 7.16789 5.75 7.375V9.625C5.75 9.83211 5.58211 10 5.375 10C5.16789 10 5 10.1679 5 10.375V10.625C5 10.8321 5.16789 11 5.375 11H8.625Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  .application_info{
    display: inline-block;
    vertical-align: middle;
  }

  .btn_leave_details {
    padding: 8px 5px 10px;
    width: 100%;
    background: #3D5AFE;
    font-weight: 400;

    .btn_title {
      font-size: 16px;
      margin: 0 0 3px;
    }

    span {
      display: block;
      font-size: 12px;
    }
  }

  .link {
    line-height: 19px;
    color: rgba(0, 0, 0, 0.25);
    letter-spacing: 0.0311111px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
