.b_reviews{
  background-color: #F6F7FF;
  padding: 45px 0 35px;

  .section_title{
    margin: 0 0 35px;
  }

  .reviews_slider{
    &:not(.slick-initialized){
      .review_slide{
        &:not(:first-of-type){
          display: none;
        }
        .review_item{
          max-width: 264px;
        }
      }
    }
  }

  .review_slide{
    padding: 0 15px;

    @media (max-width: $screen-xs-max) {
      padding: 0 8px;
    }
  }

  .slick-list{
    padding: 30px 10% 10px;

    @media (max-width: 1400px) {
      padding: 30px 13% 10px;
    }

    @media (max-width: 1250px) {
      padding: 30px 11% 10px;
    }

    @media (max-width: 1200px) {
      padding: 30px 9% 10px;
    }
  }

  .review_item{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
    background: #fff;
    border-radius: 16px;
    // max-width: 264px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 85px 15px 30px;
  }

  .persone_image{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: linear-gradient(16.45deg, #7093FF 0%, #1A3AF8 100%);
    position: relative;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;

    .image_wrapper{
      position: absolute;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .persone_name{
    font-size: 24px;
    letter-spacing: 0.0466667px;
    color: #3D5AFE;
    margin: 0 0 5px;
  }

  .persone_place{
    font-weight: 700;
    color: #3D5AFE;
    margin: 0 0 10px;
  }
}