.b_sign_option {
  padding: 160px 0 50px;
  position: relative;

  .sign_option_decor{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 275px;
    background-position: center;
    background-color: #F6F7FF;

    &:after{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-repeat: repeat-x;
      background-position: center;
      background-image: url('../images/sign_option_decor.svg');
      height: 94px;
    }
  }

  .sign_form_wrapper {
    max-width: 490px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .form_tabs_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 0 20px;

    .form_tab {
      color: rgba(0, 0, 0, 0.25);
      margin: 0 26px;
      font-size: 18px;
      font-weight: 400;
      position: relative;
      transition: all .2s linear;

      &::before {
        position: absolute;
        content: '';
        height: 4px;
        border-radius: 2px;
        transition: all .2s linear;
        top: 100%;
        left: 0;
        right: 0;
        margin: 5px auto 0;
      }

      &.-active {

        color: #3D5AFE;

        &::before {
          background-color: #3D5AFE;
        }
      }
    }
  }

  .employers_wrapper {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0px 0px 16px 16px;
    text-align: center;
    padding: 15px 15px;

    a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: underline;
      letter-spacing: 0.0311111px;
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn{
    min-width: 175px;
    padding: 10px 10px;
  }

  .form_btn{
    text-align: center;
  }

  .form_tab_content{
    padding: 20px 0 0;
  }

  .registration_form{
    padding: 0 30px 25px;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px 25px;
    }

    .content{
      margin: 0 0 30px;
    }
  }

  .login_form{
    padding: 0 30px 40px;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px 40px;
    }

    .content{
      width: 100%;
      max-width: 305px;
      margin: 0 auto 15px;
    }

    .checkbox span{
      font-size: 11px;
      font-weight: 400;
    }

    .form_row{
      max-width: 334px;
      margin: 0 auto;

      + .form_row{
        margin: 15px auto 0;
      }
    }

    .form_btn{
      padding: 30px 0 0;
    }
  }

  .form_control{
    border-color: rgba(0, 0, 0, 0.25);
  }
}
