.b_sign_page {
  padding: 0 0 100px;
  font-weight: 400;

  @media (max-width: $screen-sm-max) {
    padding: 0 0 30px;
  }

  .page_head {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding: 55px 0 25px;

    .image_decor {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 416px;
      background-repeat: repeat-x;
      background-position: center 100%;
    }
  }

  .sign_form {
    max-width: 555px;
    margin: 0 auto;
  }

  .form_wrapper {
    min-height: 390px;
  }

  .form_section {
    display: none;
  }

  .form_section {
    +.form_section {
      border-top: 1px solid #D8D8D8;
    }

    &:last-of-type {
      border-bottom: 1px solid #D8D8D8;
    }

    &.gold_member {
      background: rgba(243, 228, 200, 0.6);
    }
  }

  .section_head {
    padding: 23px 20px;
    position: relative;

    &::after {
      transition: all .2s linear;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z' fill='white' stroke='%233D5AFE'/%3E%3Cpath d='M15.5432 9.90815L12.6524 12.799C12.4247 13.0265 12.0557 13.0265 11.828 12.799L8.9372 9.90815C8.64631 9.61655 8.20826 9.5292 7.82777 9.68692C7.44728 9.84463 7.19949 10.2163 7.2002 10.6282V11.5156C7.19997 11.9834 7.38582 12.4322 7.7168 12.763L11.2214 16.2604C11.7837 16.8223 12.6949 16.8223 13.2572 16.2604L16.7636 12.7612C17.0946 12.4304 17.2804 11.9816 17.2802 11.5138V10.6282C17.2809 10.2163 17.0331 9.84463 16.6526 9.68692C16.2721 9.5292 15.8341 9.61655 15.5432 9.90815Z' fill='%233D5AFE'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      left: 20px;
      top: 50%;
      margin-top: -12px;
    }

    &.open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .section_head_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .head_image {
    width: 20px;
    height: 20px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .foreign_passport_wrapper {
    padding: 15px 0 0;
  }

  .head_title {
    width: calc(100% - 20px);
    padding: 0 10px 0 0;
  }

  .section_content {
    padding: 25px 25px;
    border-top: 1px solid #D8D8D8;
    display: none;

    @media (max-width: 650px) {
      padding: 15px 15px;
    }
  }

  .column_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .column {
      width: calc(50% - 15px);

      @media (max-width: 650px) {
        width: 100%;
      }

      +.column {
        @media (max-width: 650px) {
          margin: 15px 0 0;
        }
      }
    }
  }

  .form_row {
    width: 100%;

    +.form_row {
      margin: 15px 0 0;
    }
  }

  .form_control {
    transition: all .2s linear;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 8px 10px;

    &:hover,
    &:focus {
      border-color: #3D5AFE;
    }

    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.25);
    }

    &:-moz-placeholder {
      color: rgba(0, 0, 0, 0.25);
    }

    &::-moz-placeholder {
      color: rgba(0, 0, 0, 0.25);
    }

    &:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .selectric {
    border: 1px solid rgba(0, 0, 0, 0.25);

    .label {
      padding: 8px 0;
      // color: rgba(0, 0, 0, 0.25);
    }
  }

  .end_personal_information {
    padding: 35px 0 0;
    text-align: center;

    .checkbox_wrap {
      margin: 0 0 20px;
    }
  }

  .btn {
    padding: 10px 10px;
    min-width: 175px;
  }

  .btn_wrapper {
    text-align: center;

    .btn {
      padding: 10px 10px;

      &.btn_pad{
        padding: 15px 10px;
      }
    }
  }

  .info_wrapper {
    padding: 5px 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);

    .info {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 0 20px 0 0;

      &::before {
        position: absolute;
        content: '';
        top: 1px;
        right: 0;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0ZM7 3C7.69036 3 8.25 3.55964 8.25 4.25C8.25 4.94036 7.69036 5.5 7 5.5C6.30964 5.5 5.75 4.94036 5.75 4.25C5.75 3.55964 6.30964 3 7 3ZM8.625 11C8.83211 11 9 10.8321 9 10.625V10.375C9 10.1679 8.83211 10 8.625 10C8.41789 10 8.25 9.83211 8.25 9.625V6.375C8.25 6.16789 8.08211 6 7.875 6H5.375C5.16789 6 5 6.16789 5 6.375V6.625C5 6.83211 5.16789 7 5.375 7C5.58211 7 5.75 7.16789 5.75 7.375V9.625C5.75 9.83211 5.58211 10 5.375 10C5.16789 10 5 10.1679 5 10.375V10.625C5 10.8321 5.16789 11 5.375 11H8.625Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .select_wrapper {
    .selectric-items li {
      font-size: 16px;
    }
  }

  .gender_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .gender_label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin: 0 0 0 15px;
  }

  .gender_item {
    margin: 0 0 0 15px;
  }

  .gender_radio {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    [type="radio"],
    [type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }

    [type="radio"]:checked+.radio_decor,
    [type="checkbox"]:checked+.radio_decor {
      background-color: #3D5AFE;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .add_row {
    padding: 10px 0;
  }

  .radio_decor {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    background-color: #EFECEC;
    position: relative;
    transition: all .2s linear;

    img,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .authentication_confirmation {
    text-align: center;
    max-width: 335px;
    margin: 0 auto;

    .label {
      font-size: 16px;
      margin: 0 0 25px;
    }

    .input_wrapper {
      margin: 0 0 15px;
    }

    .code_again {
      margin: 0 0 25px;

      a {
        color: #3D5AFE;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .short_question {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .radio_wrapper {
    display: inline-block;
    vertical-align: middle;

    .radio {
      +.radio {
        margin: 0 10px 0 0;
      }
    }
  }

  .question_label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }

  .resume_button {
    display: none;
    text-align: center;
    padding: 35px 0;
  }

  .resume_button_gold {
    text-align: center;
    padding: 35px 0;
  }



  .label_title {
    margin: 0 0 5px;
  }

  .gold_member {
    position: relative;

    .label_title {
      margin: 0 0 5px;
    }

    .section_head {
      padding: 11px 20px;
    }

    .section_content {
      position: relative;
    }

    .close_content {
      position: absolute;
      top: 10px;
      left: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='black'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 23px;
      height: 23px;
      border: none;
      padding: 0;
      background-color: transparent;
    }

    .add_another_company {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 12C0.5 5.37258 5.87258 0 12.5 0C15.6826 0 18.7348 1.26428 20.9853 3.51472C23.2357 5.76515 24.5 8.8174 24.5 12C24.5 18.6274 19.1274 24 12.5 24C5.87258 24 0.5 18.6274 0.5 12ZM14.2143 13.7143H17.6429C18.5896 13.7143 19.3571 12.9468 19.3571 12C19.3571 11.0532 18.5896 10.2857 17.6429 10.2857H14.2143V6.85714C14.2143 5.91037 13.4468 5.14286 12.5 5.14286C11.5532 5.14286 10.7857 5.91037 10.7857 6.85714V10.2857H7.35714C6.41037 10.2857 5.64286 11.0532 5.64286 12C5.64286 12.9468 6.41037 13.7143 7.35714 13.7143H10.7857V17.1429C10.7857 18.0896 11.5532 18.8571 12.5 18.8571C13.4468 18.8571 14.2143 18.0896 14.2143 17.1429V13.7143Z' fill='%23D9B650'/%3E%3C/svg%3E");
      }
    }
  }

  .content_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .info_image {
      width: 107px;
    }

    .info_description {
      width: calc(100% - 107px);
      padding: 0 10px 0 0;
    }

    .info_title {
      font-weight: 500;
      font-size: 20px;
      margin: 0 0 5px;
    }
  }

  .gold_member_form {
    width: 100%;
    padding: 20px 0 0;

    .form_control {
      border-color: #D9B650;
    }
  }





  .video_form_head {
    padding: 25px 25px;
    border-bottom: 1px solid #D8D8D8;

    @media (max-width: 650px) {
      padding: 15px 15px;
    }

    .form_title {
      font-weight: 500;
      font-size: 18px;
      margin: 0 0 10px;
    }

    .video_description {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .video_form_body {
    padding: 25px 25px;

    @media (max-width: 650px) {
      padding: 15px 15px;
    }
  }

  .video_wrapper {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    .video_form {
      background-color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      height: 245px;

      &.done {
        &::before {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          background: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .record_info {
      text-align: center;
      letter-spacing: 0.07px;
      font-size: 36px;
      color: #FFFFFF;
    }
  }

  .video_control {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -50%);
  }

  .btn_control {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    margin: 0 25px;

    @media (max-width: 650px) {
      margin: 0 15px;
    }

    &:hover {
      .btn_icon {
        transform: scale(1.1);
      }
    }

    .btn_icon {
      transition: all .2s linear;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      background-color: #fff;
      display: block;
      margin: 0 auto 10px;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      @media (max-width: 650px) {
        width: 50px;
        height: 50px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto auto 50%;
        transform: translate(-47%, 0);
      }
    }

    .title {
      font-size: 16px;
      color: #FFFFFF;
    }
  }

  .training_video {
    text-align: center;
    padding: 15px 0;
  }

  .btn_training {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #3D5AFE;

    &:hover {
      .training_icon {
        transform: scale(1.1);
      }
    }

    .btn_training_inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


    .training_title {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 32px);
      padding: 0 15px 0 0;
    }
  }

  .training_icon {
    display: inline-block;
    vertical-align: middle;
    transition: all .2s linear;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    display: block;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 47% center;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.64644 4.33746C-0.548817 5.43449 -0.548812 8.56551 1.64645 9.66254L9.68956 13.6819C11.6699 14.6715 14 13.2323 14 11.0193V2.98066C14 0.767748 11.6699 -0.671532 9.68956 0.31811L1.64644 4.33746Z' fill='%233D5AFE'/%3E%3C/svg%3E");
  }

  .next_step {
    text-align: center;
    padding: 0 0 25px;
  }

  .guidelines_wrapper {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 15px;
    color: #414040;
  }

  .guidelines_title {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 5px;
  }

  .guidelines_list {
    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        position: relative;
        padding: 0 15px 0 0;

        +li {
          margin: 5px 0 0;
        }

        &::before {
          position: absolute;
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #3D5AFE;
          right: 0;
          top: 7px;
        }
      }
    }
  }

  .registration_done {
    padding: 25px 25px 60px;

    @media (max-width: 650px) {
      padding: 15px 15px;
    }

    .section_title {
      text-align: center;
      margin: 0 0 10px;
      font-weight: 500;
    }

    .img_wrapper {
      margin: 0 0 20px;

      img {
        margin: 0 auto;
      }
    }

    .content {
      margin: 0 0 35px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .attached_files_wrap {
    position: relative;

    .form_control {
      padding-left: 60px;
    }

    .btn_inspection {
      display: block;
      position: absolute;
      text-align: center;
      font-size: 16px;
      color: #3D5AFE;
      border-radius: 2px;
      background: rgba(61, 90, 254, 0.2);
      left: 5px;
      top: 5px;
      bottom: 5px;
      width: 50px;
      padding: 4px 5px;
      transition: all .2s linear;

      &:hover {
        background-color: #3D5AFE;
        color: #fff;
      }
    }
  }

  .social_input_wrapper {
    position: relative;

    .form_control {
      padding-right: 40px;
    }

    .social_icon {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      width: 30px;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
      }
    }
  }

  .payment_details {
    text-align: center;
    padding: 25px 25px;

    .iframe_wrapper {
      margin: 0 0 15px;
    }

    .btn_wrapper {
      padding: 20px 0 0;
    }
  }

  .payment_title {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px;
  }

  .payment_content {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 30px;
  }

  .price_wrapper {
    background: rgba(61, 90, 254, 0.05);
    border-radius: 8px;
    font-size: 16px;
    color: #3D5AFE;
    margin: 0 0 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .price_row {
      margin: 0 10px;
      position: relative;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      &:not(:last-of-type) {
        @media (max-width: $screen-xs-max) {
          margin: 0 0 5px;
        }
        &::before {
          position: absolute;
          content: '|';
          right: 100%;
          margin: 0 7px 0 0;

          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
      }
    }
  }

  .recommenders {
    .label_title {
      margin: 0;
    }

    .info_wrapper {
      padding: 0 0 3px;
    }
  }

  .recommenders_wrapper {
    text-align: center;
  }
}
