.b_where_start {
  padding: 50px 0 70px;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  .sub_title {
    margin: 0 0 15px;
    text-align: center;
    color: #3D5AFE;
    font-weight: 400;
  }

  .steps_wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .step_item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 170px;
    text-align: center;
    margin: 0 18px 30px;
    animation-fill-mode: backwards;

    @media (max-width: $screen-sm-max) {
      width: calc(50% - 36px);
      max-width: none;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin: 0 auto 30px;
    }

    &:not(:last-of-type) {
      .step_image_inner {
        &::after {
          position: absolute;
          z-index: 2;
          content: '';
          width: 62px;
          height: 62px;
          border-radius: 50%;
          border: 5px solid #fff;
          background-color: #F6F7FF;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 13.2375L3.43725 7.5L9 1.7625L7.28745 0L0 7.5L7.28745 15L9 13.2375Z' fill='%233D5AFE'/%3E%3C/svg%3E");
          top: 50%;
          margin-top: -31px;
          right: 100%;
          margin-right: -7px;

          @media (max-width: $screen-sm-max) {
            // display: none;
            transform: rotate(-90deg);
            top: 100%;
            margin: -30px auto 0;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &:last-of-type {
      .step_image_inner {
        &::after {
          @media (max-width: $screen-sm-max) {
            position: absolute;
            z-index: 2;
            content: '';
            width: 62px;
            height: 62px;
            border-radius: 50%;
            border: 5px solid #fff;
            background-color: #F6F7FF;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 13.2375L3.43725 7.5L9 1.7625L7.28745 0L0 7.5L7.28745 15L9 13.2375Z' fill='%233D5AFE'/%3E%3C/svg%3E");
            transform: rotate(-90deg);
            top: 100%;
            margin: -30px auto 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  .step_image_wrapper {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 10px;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto 30px;
    }

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: #F6F7FF;
    }
  }

  .step_image_inner {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    position: relative;
    z-index: 1;

    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .step_title {
    font-weight: 500;
    color: #3D5AFE;
    margin: 0 0 10px;
  }

  .step_content {
    font-size: 14px;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }
  }



  .btn_wrapper {
    text-align: center;
    padding: 5px 0 0;
  }
}
