.b_who_we {
  overflow: hidden;
  padding: 95px 0 60px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  .content_decor{
    position: absolute;
    top: 30px;
    left: 100%;
    margin-left: -150px;
  }

  .container_inner {
    display: flex;
    flex-wrap: wrap;
  }

  .content_right {
    width: 50%;
    position: relative;

    @media (max-width: $screen-md-max) {
      padding: 0 0 0 50px;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      padding: 0 0 80px;
    }
  }

  .content_left {
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .section_title {
    text-align: right;
    color: #3D5AFE;
  }

  .content_wrapper {
    max-width: 470px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;
    }
  }

  .video_wrapper {
    max-width: 555px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto;
    }

    &.animated_plane {
      .plane_decor {
        transform: none;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .plane_decor {
    position: absolute;
    z-index: 1;
    top: -27px;
    right: -60px;
    transition: all .9s ease-in-out;
    transition-delay: .5s;
    transform: translate(200px, 150px) scale(.3) rotate(25deg);
    opacity: 0;
    visibility: hidden;
  }

  .clouds_decor {
    position: absolute;
    max-width: none;
    top: -68px;
    left: -30px;
    z-index: -1;
  }


  .video_link {
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #313131;

    &:hover {
      .video_image {
        &::before {
          transform: scale(1.1);
        }
      }
    }
  }

  .video_image {
    padding: 0 0 62%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all .2s linear;
      width: 94px;
      height: 94px;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14);
      background: #fff;
      background-repeat: no-repeat;
      background-position: calc(50% + 2px) center;
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.5439 13.7934C43.4854 16.7627 43.4854 25.2373 37.5439 28.2066L11.6663 41.139C6.30642 43.8176 0 39.922 0 33.9324V8.06765C0 2.07803 6.30641 -1.81762 11.6663 0.861023L37.5439 13.7934Z' fill='%233D5AFE'/%3E%3C/svg%3E");
    }
  }
}
