.b_footer {
  .footer_top_wrapper {
    padding: 25px 0 20px;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 650px) {
      display: block;
    }
  }

  .footer_bottom_wrapper {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-sm-max) {
      display: block;
      text-align: center;
    }
  }

  .logo_wrapper {
    max-width: 310px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;
      text-align: center;
      margin: 0 0 30px;
    }
  }

  .link_logo {
    display: inline-block;
    vertical-align: top;
  }

  .footer_content {
    padding: 20px 0 10px;
  }

  .phone_wrapper {
    font-weight: 500;
    color: #3D5AFE;

    a {
      color: #3D5AFE;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer_menus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 360px;

    @media (max-width: $screen-md-max) {
      max-width: 300px;
    }

    @media (max-width: 650px) {
      margin: 0 auto;
      max-width: 360px;
    }
  }

  .menu_wrapper {
    width: 100%;
    max-width: 165px;

    @media (max-width: $screen-md-max) {
      max-width: 130px;
    }

    @media (max-width: 650px) {
      max-width: 50%;
      padding: 0 5px;
    }

    +.menu_wrapper {
      margin: 0 30px 0 0;

      @media (max-width: $screen-md-max) {
        margin: 0 15px 0 0;
      }

      @media (max-width: 650px) {
        margin: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        +li {
          margin: 10px 0 0;
        }
      }

      a {
        color: #414040;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .footer_social{
    width: calc(50% - 98px);

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .copy_wrapper{
    width: calc(50% - 98px);
    text-align: left;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      text-align: center;
    }
  }

  .subscription {
    width: 100%;
    max-width: 360px;

    @media (max-width: $screen-md-max) {
      max-width: 300px;
    }

    @media (max-width: 650px) {
      max-width: 360px;
      margin: 30px auto 0;
    }

    .text {
      font-weight: 400;
      margin: 0 0 20px;
    }
  }

  .social_wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-sm-max) {
      justify-content: center;
      margin: 0 0 15px;
    }
  }

  .social_item {
    +.social_item {
      margin: 0 20px 0 0;
    }
  }

  .developed {
    @media (max-width: $screen-sm-max) {
      margin: 0 0 15px;
      text-align: center;
    }

    .developed_link {
      display: inline-block;
      vertical-align: middle;
      color: #7E7E7E;
      text-decoration: none;
    }

    img {
      max-width: 99px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .form_wrapper {
    position: relative;
    margin: 0 0 20px;

    .form_control {
      padding-left: 50px;
    }

    .btn_submit {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 78px;
      border-radius: 8px;
      background-color: #3D5AFE;
      transition: all .2s linear;
      border: none;
      color: #fff;

      &:hover {
        background-color: rgb(78, 104, 255);
      }
    }
  }
}
