.sticky-wrapper.is-sticky {
  .b_header {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
}

.b_header {
  background-color: #fff;
  transition: all .2s linear;

  .header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .menu_wrapper {
    width: calc(50% - 75px);

    @media (max-width: $screen-sm-max) {
      width: auto;
      display: none;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      overflow: auto;
    }
  }

  .header_logo {
    width: 150px;
  }

  .menu_wrapper_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      display: block;
      text-align: center;
      padding: 60px 0 30px;
    }
  }

  .menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-weight: 400;

      li {
        display: inline-block;
        vertical-align: middle;

        @media (max-width: $screen-sm-max) {
          display: block;
        }

        +li {
          margin: 0 25px 0 0;

          @media (max-width: $screen-sm-max) {
            margin: 15px 0 0;
          }
        }
      }

      a {
        color: #414040;
        transition: all .2s linear;

        &:hover,
        &.active {
          color: #3D5AFE;
        }
      }
    }
  }

  .phone_wrapper {
    margin: 0 30px 0 0;

    @media (max-width: $screen-sm-max) {
      margin: 15px 0 0;
    }
  }

  .phone_link {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    color: #414040;
  }

  .left_part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(50% - 75px);
    justify-content: flex-end;

    @media (max-width: $screen-sm-max) {
      width: auto;
    }

    .btn {
      min-width: 120px;

      @media (max-width: 590px) {
        display: none;
      }
    }
  }

  .user_control {
    margin: 0 0 0 30px;

    @media (max-width: 590px) {
      margin: 0;
    }

    .user_link {
      font-weight: 400;
      color: #4462FE;
      display: inline-block;
      vertical-align: middle;
      max-width: 95px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 590px) {
        font-size: 0;
      }

      &::before {
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0929 10.678C14.2949 9.44401 14.9254 7.4332 14.9254 5C14.9254 2.2 12.7363 0 9.95025 0C7.16418 0 4.97512 2.2 4.97512 5C4.97512 7.4505 5.61455 9.47259 6.83337 10.7042C6.5013 11.7029 6.46766 11.719 5.71063 12.0811C5.69588 12.0881 5.67164 12.1 5.67164 12.1C2.68657 13 0 14.3 0 18C0 21.7 7.66169 22 9.95025 22C19.204 22 19.9005 18.9 20 17.9C20 14.2 17.3134 13 14.3284 12C14.073 11.9144 13.4535 11.6825 13.0929 10.678ZM8.62218 11.7809C8.15395 12.8954 7.32594 13.6205 6.26866 14C3.28358 15 1.99005 15.8 1.99005 18C1.99005 19.1 6.16915 20 9.95025 20C13.7313 20 17.9104 19.1 17.9104 18C17.9104 15.8 16.6169 15 13.6318 13.9C12.5984 13.5291 11.8388 12.8279 11.3529 11.7557C10.9162 11.9071 10.4486 12 9.95025 12C9.48014 12 9.03745 11.9173 8.62218 11.7809ZM9.95025 2C8.25871 2 6.96517 3.3 6.96517 5C6.96517 7.2 7.56219 8.9 8.65672 9.6C9.45274 10.1 10.4478 10.1 11.2438 9.6C12.3383 8.9 12.9353 7.2 12.9353 5C12.9353 3.3 11.6418 2 9.95025 2Z' fill='black'/%3E%3C/svg%3E");
        width: 20px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;

        @media (max-width: 590px) {
          margin: 0;
          width: 28px;
          height: 25px;
        }
      }
    }
  }

  .not_login_control {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        +li {
          margin: 0 20px 0 0;

          &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 15px;
            background-color: #414040;
            left: 100%;
            top: 50%;
            margin: 0 0 0 10px;
            transform: translate(0, -50%);
          }
        }
      }
    }

    a {
      color: #414040;
      font-size: 16px;
      font-weight: 400;
      transition: all .2s linear;

      &:hover {
        color: #3D5AFE;
      }
    }
  }
}











.menu_toggler {
  position: relative;
  border: none;
  width: 28px;
  height: 28px;
  z-index: 1001;
  padding: 0;
  background-color: transparent;
  display: none;

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  span {
    display: block;
    width: 28px;
    height: 2px;
    padding: 0;
    background: #58585A;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
    left: 0;
    right: 0;
  }

  .toggler_top {
    top: 5px;
  }

  .toggler_middle {
    top: 13px;
  }

  .toggler_bottom {
    top: 21px;
  }

  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  &.menu-is-active span.toggler_top {
    top: 13px;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_middle {
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_bottom {
    top: 13px;
    transform: rotate(225deg);
  }
}
