.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    .error {
        .buttons {
            margin: 20px;
            display: flex;
            justify-content: space-around;
        }
    }
}
