@import '../design/mixins';

@import 'common/_header.scss';
@import 'common/_footer.scss';
@import 'common/_personal-zone.scss';
@import 'common/_company_profile.scss';
@import 'modals/_modals.scss';
@import 'modals/register.scss';
@import '_errors.scss';
@import 'payment_information.scss';

$break-small: 768px;
$break-extra-small: 480px;
$break-custom-small: 320px;

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}

.button--green:hover {
    color: #fff;
    background-color: #3b8070;
}

.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e;
}

.gender_radio {
    border-radius: 50%;
}

.is-invalid,
.selectric-is-invalid > .selectric {
    border-color: red;
}

.selectric-success > .selectric {
    border-color: #3d5afe;
}

select.is-invalid + .br-widget {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
    span {
        display: block;
    }
}

.error {
    color: red;
}

.country-city-multiselect-active .multiselect__tags {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.country-city-multiselect-error .multiselect__tags {
    border: 1px solid red;
}

.selectric-company .selectric-wrapper .selectric {
    border: 1px solid red;
}

.status {
    &.approved {
        color: green;
    }

    &.pending {
        color: lightsalmon;
    }

    &.in_progress {
        color: blue;
    }

    &.follow_up {
        color: orange;
    }

    &.rejected {
        color: red;
    }

    &.applied {
        color: purple;
    }
}

.b_personal_zone .user_video_image {
    padding: 0;

    video {
        border-radius: 10px;
    }
}

.no-video-image {
    padding: 0 0 48%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.phone_form_control {
    text-align: right;
}

.b_personal_zone .status_list_wrapper .status_list ul li {
    color: #414040;
    display: block;
    line-height: 1.2;
    padding: 5px 15px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

.warning-unpublished-changes {
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

#section-passport-details .passport_details {
    margin-bottom: 25px;
}

.payment-status {
    padding: 15px 0;
    font-size: 1.3em;
    text-align: center;

    &#payment-status-success {
        color: green;
    }

    &#payment-status-fail {
        color: red;
    }
}

.login_title {
    text-align: center;

    .navigator-tabs-content {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.b_personal_zone .sidear_menu ul {
    .nuxt-link-exact-active.nuxt-link-active {
        color: blue;
    }
}

.link_remove {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 30px 5px 0;
    position: relative;
    color: black;
    cursor: pointer;

    &::before {
        position: absolute;
        right: 0;
        content: '';
        width: 25px;
        height: 24px;
        top: 50%;
        margin-top: -12px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' fill='blue' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve'%3e%3cg%3e%3cpath d='M281.633,48.328C250.469,17.163,209.034,0,164.961,0C120.888,0,79.453,17.163,48.289,48.328 c-64.333,64.334-64.333,169.011,0,233.345C79.453,312.837,120.888,330,164.962,330c44.073,0,85.507-17.163,116.671-48.328 c31.165-31.164,48.328-72.599,48.328-116.672S312.798,79.492,281.633,48.328z M260.42,260.46 C234.922,285.957,201.021,300,164.962,300c-36.06,0-69.961-14.043-95.46-39.54c-52.636-52.637-52.636-138.282,0-190.919 C95,44.042,128.901,30,164.961,30s69.961,14.042,95.459,39.54c25.498,25.499,39.541,59.4,39.541,95.46 S285.918,234.961,260.42,260.46z'/%3e%3cpath d='M254.961,150H74.962c-8.284,0-15,6.716-15,15s6.716,15,15,15h179.999c8.284,0,15-6.716,15-15S263.245,150,254.961,150z'/%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    }
}

.align-to-left {
    margin-bottom: 10px;
    text-align: left;
}

.add-credit-card-section {
    .text-center {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .title {
            font-weight: 800;
            font-size: 20px;
        }
    }
}

.more-applications-button-text-center {
    text-align: center;
    .more_application_button {
        margin-top: 20px;
    }
}

.personal-zone-watch-video {
    min-height: 600px;

    @media screen and (min-width: $break-custom-small) {
        min-height: 200px;
    }

    @media screen and (min-width: $break-extra-small) {
        min-height: 400px;
    }

    @media screen and (min-width: $break-small) {
        min-height: 450px;
    }
}

.b_company_profile .company_main_profile .container {
    .company_video_wrapper {
        .company_video {
            min-height: 505px;

            @media screen and (max-width: 1200px) {
                min-height: 300px;
            }

            @media screen and (max-width: $break-small) {
                min-height: 250px;
            }

            @media screen and (max-width: $break-extra-small) {
                min-height: 200px;
            }

            @media screen and (max-width: $break-custom-small) {
                min-height: 150px;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        width: 800px;
    }

    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}

.b_personal_zone .user_video_image::before {
    border-radius: 10px;
}

.b_personal_zone {
    .user_video {
        min-height: 480px;
        border-radius: 10px;

        @media screen and (max-width: $break-small) {
            min-height: 280px;
        }

        &::before {
            min-height: 480px;
            border-radius: 10px;
        }
        &::after {
            min-height: 480px;
        }

        video {
            border-radius: 10px;
            min-height: 480px;

            @media screen and (max-width: $break-small) {
                width: 100%;
                height: 100%;
                max-height: 100px;
            }
        }
    }
}

.main-min-height {
    min-height: 120vh;
}

.company_video {
    video {
        height: 100%;
        width: 100%;
    }
}

.company-info {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    color: blue;
}

.end_personal_information {
    .checkbox_wrap {
        text-align: start;
    }
}

.b_sign_page .video_form_body {
    .safari-video-input {
        margin-bottom: 20px;
    }

    .video_wrapper {
        .safari-video-form {
            height: 100%;
        }

        video {
            border-radius: 20px;
        }
    }
}

.b_sign_page .support_message {
    text-align: center;
}

.b_sign_page .support_message .content_wrapper {
    max-width: 350px;
    margin: 0 auto;
}

.b_sign_page .support_message .content_wrapper .title {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.b_sign_page .support_message .section_title {
    font-weight: 500;
}

.b_sign_page .support_message .message_inner {
    padding: 60px 45px;
}

@media (max-width: 650px) {
    .b_sign_page .support_message .message_inner {
        padding: 50px 15px 20px;
    }
}

.b_sign_page .support_message img {
    margin: 0 auto 20px;
}

.video_form_body .video_wrapper .video_form {
    background-color: #fff;
    @media (max-width: 650px) {
        height: 100%;
    }
}

.b_about .about_decor_inner {
    .decor_block {
        &.decor_block_03 {
            width: 200px;
            top: 0px;
            right: 490px;

            @media (max-width: 1200px) {
                right: 360px;
            }

            @media (max-width: 768px) {
                width: calc(50% - 15px);
            }

            @media (max-width: 480px) {
                width: calc(50% - 7px);
            }
        }

        &.decor_block_05 {
            width: 230px;
            right: 125px;
            top: 490px;

            @media (max-width: 1200px) {
                right: 0px;
                width: 250px;
                top: 370px;
            }

            @media (max-width: 768px) {
                width: calc(50% - 15px);
            }

            @media (max-width: 480px) {
                width: calc(50% - 7px);
            }
        }
    }
}

.b_header .user_control .user_link {
    max-width: 200px;
}

/****** ANIMATIONS ********/

// FADE

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

//  SLIDE-FADE

.slide-fade-enter-active,
.slide-fade-leave-active {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
}

//fadeUpEffect=>company/_slug
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animation {
    -webkit-animation-name: fadeEffect;
    animation-name: fadeEffect;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
