.card_wrapper {
    .card_item {
        &:not(:last-child) {
            border-bottom: 1px solid #d8d8d8;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 15px 5px 55px;
        position: relative;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            padding: 10px 15px 10px 55px;
        }
    }

    .btn_remove {
        position: absolute;
        display: block;
        left: 10px;
        top: 50%;
        width: 30px;
        height: 30px;
        margin: -15px 0 0;

        @media (max-width: $screen-xs-max) {
            top: 5px;
            margin: 0;
        }

        &:hover {
            text-decoration: underline;

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 0L10.5 1H14V3H0V1H3.5L4.5 0H9.5ZM7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88L4.87 7.47L7 9.59ZM1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM11 6H3V16H11V6Z' fill='red'/%3E%3C/svg%3E");
            }
        }

        &:before {
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 0L10.5 1H14V3H0V1H3.5L4.5 0H9.5ZM7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88L4.87 7.47L7 9.59ZM1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM11 6H3V16H11V6Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            width: 14px;
            height: 18px;
            transition: all 0.2s linear;
            display: inline-block;
            vertical-align: middle;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .card_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 56px;
        width: calc(100% - 120px);

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

    .btn_priority {
        letter-spacing: 0.0278261px;
        transition: all 0.2s linear;
        color: #3f3f3f;
        position: relative;

        &:hover {
            color: #e5ad02;
        }

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.50003 0C8.88065 0 9.22827 0.216072 9.39674 0.557376L11.4818 4.78147L16.1447 5.46301C16.5212 5.51805 16.8339 5.78206 16.9513 6.14407C17.0687 6.50607 16.9704 6.90333 16.6978 7.16886L13.3246 10.4544L14.1206 15.096C14.185 15.4711 14.0307 15.8503 13.7228 16.0741C13.4148 16.2978 13.0065 16.3273 12.6696 16.1501L8.50003 13.9573L4.33048 16.1501C3.99356 16.3273 3.58527 16.2978 3.27729 16.0741C2.96932 15.8503 2.81507 15.4711 2.87942 15.096L3.67551 10.4544L0.302296 7.16886C0.0296782 6.90333 -0.0685946 6.50607 0.0487831 6.14407C0.166161 5.78206 0.478841 5.51805 0.855401 5.46301L5.51827 4.78147L7.60332 0.557376C7.77179 0.216072 8.11941 0 8.50003 0ZM8.50003 3.25925L7.07924 6.13762C6.9337 6.43247 6.65251 6.63693 6.32716 6.68449L3.14844 7.1491L5.44776 9.38864C5.68364 9.61838 5.7913 9.94951 5.73564 10.274L5.19321 13.4367L8.03458 11.9424C8.32596 11.7892 8.6741 11.7892 8.96548 11.9424L11.8068 13.4367L11.2644 10.274C11.2088 9.94951 11.3164 9.61838 11.5523 9.38864L13.8516 7.1491L10.6729 6.68449C10.3475 6.63693 10.0664 6.43247 9.92082 6.13762L8.50003 3.25925Z' fill='%23696969'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.2s linear;
            width: 17px;
            height: 17px;
            margin: 0 0 0 7px;
        }

        &.active {
            color: #e5ad02;

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.50003 0C8.88065 0 9.22827 0.216072 9.39674 0.557376L11.4818 4.78147L16.1447 5.46301C16.5212 5.51805 16.8339 5.78206 16.9513 6.14407C17.0687 6.50607 16.9704 6.90333 16.6978 7.16886L13.3246 10.4544L14.1206 15.096C14.185 15.4711 14.0307 15.8503 13.7228 16.0741C13.4148 16.2978 13.0065 16.3273 12.6696 16.1501L8.50003 13.9573L4.33048 16.1501C3.99356 16.3273 3.58527 16.2978 3.27729 16.0741C2.96932 15.8503 2.81507 15.4711 2.87942 15.096L3.67551 10.4544L0.302296 7.16886C0.0296782 6.90333 -0.0685946 6.50607 0.0487831 6.14407C0.166161 5.78206 0.478841 5.51805 0.855401 5.46301L5.51827 4.78147L7.60332 0.557376C7.77179 0.216072 8.11941 0 8.50003 0ZM8.50003 3.25925L7.07924 6.13762C6.9337 6.43247 6.65251 6.63693 6.32716 6.68449L3.14844 7.1491L5.44776 9.38864C5.68364 9.61838 5.7913 9.94951 5.73564 10.274L5.19321 13.4367L8.03458 11.9424C8.32596 11.7892 8.6741 11.7892 8.96548 11.9424L11.8068 13.4367L11.2644 10.274C11.2088 9.94951 11.3164 9.61838 11.5523 9.38864L13.8516 7.1491L10.6729 6.68449C10.3475 6.63693 10.0664 6.43247 9.92082 6.13762L8.50003 3.25925Z' fill='%23E5AD02'/%3E%3C/svg%3E");
            }
        }
    }

    .card_control {
        width: 120px;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            padding: 10px 0 0;
        }
    }

    .card_number,
    .card_exp,
    .card_cvv {
        direction: ltr;
        text-align: right;
    }

    .card_img {
        width: 41px;
    }

    .card_number {
        margin: 0 8px 0 65px;

        @media (max-width: $screen-xs-max) {
            width: calc(100% - 41px);
            padding: 0 15px 0 0;
            margin: 0;
        }
    }

    .card_exp {
        margin: 0 0 0 65px;
    }
}
